<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>yukku++ &#187; review</title>
	<atom:link href="/tag/review/feed/" rel="self" type="application/rss+xml" />
	<link>http://wp.44uk.net</link>
	<description></description>
	<lastBuildDate>Sun, 13 Apr 2014 03:02:51 +0000</lastBuildDate>
	<language>ja</language>
		<sy:updatePeriod>hourly</sy:updatePeriod>
		<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=3.8.2</generator>
	<item>
		<title>CodeIgniter 2.x ちょっと触ってみて所感と追加パッケージ</title>
		<link>http://blog.44uk.net/2011/07/18/codeigniter2-littlecommentary/</link>
		<comments>http://blog.44uk.net/2011/07/18/codeigniter2-littlecommentary/#comments</comments>
		<pubDate>Mon, 18 Jul 2011 10:00:16 +0000</pubDate>
		<dc:creator><![CDATA[yukku0423]]></dc:creator>
				<category><![CDATA[プログラミング]]></category>
		<category><![CDATA[review]]></category>

		<guid isPermaLink="false">http://blog.44uk.net/?p=289</guid>
		<description><![CDATA[<p>ドヤ顔できるほど達者なデベロッパーではないのですが、次期案件で採用しようかと思っていじってみた所感。<br />
モデルがモデルっぽくない<br />
ORMがないので、RailsやSymfonyのようなモデルではない。</p>
<p>クエリを発行するような、SQLを閉じ込めたオブジェクトといったところか。</p>
<p>それ故に、柔軟性があるといえて、テーブル構成を変えるには難しいレガシーアプリの置き換えなんかには向いているんだろう。</p>
]]></description>
		<wfw:commentRss>http://blog.44uk.net/2011/07/18/codeigniter2-littlecommentary/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
