<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>yukku++ &#187; 爽快</title>
	<atom:link href="/tag/%e7%88%bd%e5%bf%ab/feed/" rel="self" type="application/rss+xml" />
	<link>http://wp.44uk.net</link>
	<description></description>
	<lastBuildDate>Sun, 13 Apr 2014 03:02:51 +0000</lastBuildDate>
	<language>ja</language>
		<sy:updatePeriod>hourly</sy:updatePeriod>
		<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=3.8.2</generator>
	<item>
		<title>L-メントール ハッカ結晶で爽快</title>
		<link>http://blog.44uk.net/2011/08/26/l-menthol-cooling/</link>
		<comments>http://blog.44uk.net/2011/08/26/l-menthol-cooling/#comments</comments>
		<pubDate>Thu, 25 Aug 2011 16:43:21 +0000</pubDate>
		<dc:creator><![CDATA[yukku0423]]></dc:creator>
				<category><![CDATA[生活]]></category>
		<category><![CDATA[爽快]]></category>

		<guid isPermaLink="false">http://blog.44uk.net/?p=444</guid>
		<description><![CDATA[<p>暑い日も落ち着いてきた今日。それでもまだ蒸す今日。</p>
<p>ハッカ油を活用するとスースーして気持ちがよいとネットで話題になっていて、購入を検討していたところ、ハッカ油の生成時に出来るハッカ結晶というものがあることにたどり着いた。</p>
<p>  メントールクリスタル　100g [L-メントール/メンソールクリスタル]</p>
<p>成分はほとんど同じ、あのハッカの匂いと清涼感。精油か結晶かの違い程度。</p>
]]></description>
		<wfw:commentRss>http://blog.44uk.net/2011/08/26/l-menthol-cooling/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
