<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>yukku++ &#187; i18n</title>
	<atom:link href="/tag/i18n/feed/" rel="self" type="application/rss+xml" />
	<link>http://wp.44uk.net</link>
	<description></description>
	<lastBuildDate>Sun, 13 Apr 2014 03:02:51 +0000</lastBuildDate>
	<language>ja</language>
		<sy:updatePeriod>hourly</sy:updatePeriod>
		<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=3.8.2</generator>
	<item>
		<title>Rails i18n 翻訳に変数を渡して展開したい</title>
		<link>http://blog.44uk.net/2011/12/12/rails-i18n-variables/</link>
		<comments>http://blog.44uk.net/2011/12/12/rails-i18n-variables/#comments</comments>
		<pubDate>Sun, 11 Dec 2011 17:45:23 +0000</pubDate>
		<dc:creator><![CDATA[yukku0423]]></dc:creator>
				<category><![CDATA[プログラミング]]></category>
		<category><![CDATA[i18n]]></category>

		<guid isPermaLink="false">http://blog.44uk.net/?p=831</guid>
		<description><![CDATA[<p>探し方が悪かったのか、取るに足らないことなのか、なかなか見つからなかったのでメモ。<br />
定義の仕方<br />
config/locales/ja.yml などの言語ファイルの文字列に、変数を渡して、展開して欲しいときの書き方。</p>
]]></description>
		<wfw:commentRss>http://blog.44uk.net/2011/12/12/rails-i18n-variables/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
