<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>yukku++ &#187; ink</title>
	<atom:link href="/tag/ink/feed/" rel="self" type="application/rss+xml" />
	<link>http://wp.44uk.net</link>
	<description></description>
	<lastBuildDate>Sun, 13 Apr 2014 03:02:51 +0000</lastBuildDate>
	<language>ja</language>
		<sy:updatePeriod>hourly</sy:updatePeriod>
		<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=3.8.2</generator>
	<item>
		<title>brother MyMio 用 LC11 詰替えインクノズルを押込みすぎて壊したかと思ったら</title>
		<link>http://blog.44uk.net/2011/12/17/structure-of-ink-tank-lc11/</link>
		<comments>http://blog.44uk.net/2011/12/17/structure-of-ink-tank-lc11/#comments</comments>
		<pubDate>Sat, 17 Dec 2011 06:09:04 +0000</pubDate>
		<dc:creator><![CDATA[yukku0423]]></dc:creator>
				<category><![CDATA[ハードウェア]]></category>
		<category><![CDATA[ink]]></category>

		<guid isPermaLink="false">http://blog.44uk.net/?p=845</guid>
		<description><![CDATA[<p>brother MyMio DCP-J715N にダイソーの詰め替えインクつかっちゃった に引き続き、詰替えインクの話。</p>
<p>ダイソーの LC11 シリーズ用は詰替えボトルに付属のノズルを取り付け、インクタンクの注入口(?)に差し込んで、作業をするのだが、</p>
<p>このノズルを押し込みすぎたのか、曲がっていてヘンな力が加わったのか、タンクの注入口のゴムの部品が曲がってしまった！</p>
<p>インクタンクを壊しちゃったかと思ったが、分解して、取り付け直したら直ったので同じようにヤッチャッタ人は参考に。</p>
]]></description>
		<wfw:commentRss>http://blog.44uk.net/2011/12/17/structure-of-ink-tank-lc11/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>brother MyMio DCP-J715N にダイソーの詰め替えインクつかっちゃった</title>
		<link>http://blog.44uk.net/2011/11/06/brother-mymio-dcp-j715n-alt-ink/</link>
		<comments>http://blog.44uk.net/2011/11/06/brother-mymio-dcp-j715n-alt-ink/#comments</comments>
		<pubDate>Sun, 06 Nov 2011 14:16:50 +0000</pubDate>
		<dc:creator><![CDATA[yukku0423]]></dc:creator>
				<category><![CDATA[ハードウェア]]></category>
		<category><![CDATA[ink]]></category>

		<guid isPermaLink="false">http://blog.44uk.net/?p=739</guid>
		<description><![CDATA[<p>庶民のみかた 100円ショップ「ザ・ダイソー」 に新しくブラザー用の詰め替えインクが入っていたが、特に気にせずふーん、くらいに思っていた。</p>
<p>が、プリンタの黒インクが切れてしまい、新しいインクカードッジを調達するには少し時間がかかりそうで、近所のダイソーに詰め替えインクがあったことを思い出し、購入して利用してみた。</p>
<p>もちろん詰め替えは保障対象外で自己責任なのでおすすめは出来ないが、いちおう記録として。</p>
]]></description>
		<wfw:commentRss>http://blog.44uk.net/2011/11/06/brother-mymio-dcp-j715n-alt-ink/feed/</wfw:commentRss>
		<slash:comments>1</slash:comments>
		</item>
	</channel>
</rss>
