<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>yukku++ &#187; android</title>
	<atom:link href="/tag/android/feed/" rel="self" type="application/rss+xml" />
	<link>http://wp.44uk.net</link>
	<description></description>
	<lastBuildDate>Sun, 13 Apr 2014 03:02:51 +0000</lastBuildDate>
	<language>ja</language>
		<sy:updatePeriod>hourly</sy:updatePeriod>
		<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=3.8.2</generator>
	<item>
		<title>ハイブリッドな Android アプリを目指して WebView を使ってみる</title>
		<link>http://blog.44uk.net/2013/04/06/try-webview-for-hybrid-app/</link>
		<comments>http://blog.44uk.net/2013/04/06/try-webview-for-hybrid-app/#comments</comments>
		<pubDate>Sat, 06 Apr 2013 11:08:16 +0000</pubDate>
		<dc:creator><![CDATA[yukku0423]]></dc:creator>
				<category><![CDATA[プログラミング]]></category>
		<category><![CDATA[android]]></category>
		<category><![CDATA[webview]]></category>

		<guid isPermaLink="false">http://blog.44uk.net/?p=1496</guid>
		<description><![CDATA[<p>この先、Webサイト+ハイブリッドアプリ公開が主流になるのではないかと予想して、WebView の使い方を勉強してみる。</p>
<p>ハイブリッドアプリとは、スマートフォン向けのアプリケーションだが、コンテンツ自体は通常のWebサイトを表示するようなアプリのことを指す(と思ってる)</p>
<p>8割ネイティブアプリ、2割がWebviewでサイト表示している、またはその逆でほとんどWebviewだけの外側だけのアプリなど、程度によりけりなんだろうけど、割合としてWebViewでサイトをレンダリングしているコンテンツが多くを占める場合はハイブリッドアプリと呼びそう。</p>
]]></description>
		<wfw:commentRss>http://blog.44uk.net/2013/04/06/try-webview-for-hybrid-app/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>IntelliJ IDEA 12 でも android アプリの開発がしたい(デバッグとかツール)</title>
		<link>http://blog.44uk.net/2013/04/02/intellij-idea-12-with-android-tools/</link>
		<comments>http://blog.44uk.net/2013/04/02/intellij-idea-12-with-android-tools/#comments</comments>
		<pubDate>Mon, 01 Apr 2013 16:21:25 +0000</pubDate>
		<dc:creator><![CDATA[yukku0423]]></dc:creator>
				<category><![CDATA[開発ツール]]></category>
		<category><![CDATA[android]]></category>
		<category><![CDATA[intellij]]></category>

		<guid isPermaLink="false">http://blog.44uk.net/?p=1487</guid>
		<description><![CDATA[<p>まずはデバッグフラグを立てておきます。<br />
左エクスプローラから AndroidManifest.xml を開きます。</p>
<p>eclipse ではご丁寧なGUIエディタで開いてくれますが、IntelliJ には無いので手動で xml を編集して保存します。</p>
]]></description>
		<wfw:commentRss>http://blog.44uk.net/2013/04/02/intellij-idea-12-with-android-tools/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>IntelliJ IDEA 12 で android アプリの開発環境を作った(みんなだいすき無料)</title>
		<link>http://blog.44uk.net/2013/03/24/android-app-in-intellij-idea-12/</link>
		<comments>http://blog.44uk.net/2013/03/24/android-app-in-intellij-idea-12/#comments</comments>
		<pubDate>Sun, 24 Mar 2013 12:41:31 +0000</pubDate>
		<dc:creator><![CDATA[yukku0423]]></dc:creator>
				<category><![CDATA[開発ツール]]></category>
		<category><![CDATA[android]]></category>
		<category><![CDATA[intellij]]></category>

		<guid isPermaLink="false">http://blog.44uk.net/?p=1475</guid>
		<description><![CDATA[<p>追記：<br />
Google謹製 Android Studio が発表されたので、こちらを使う方が賢いかもしれません。</p>
<p>  Getting Started with Android Studio</p>
<p>InteliJ がベースなので操作感は同じで、Android 開発に特化したウィザートなんかも実装されています。</p>
]]></description>
		<wfw:commentRss>http://blog.44uk.net/2013/03/24/android-app-in-intellij-idea-12/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Android カメラで撮影するかギャラリーから選択した画像をビューに表示してみる</title>
		<link>http://blog.44uk.net/2012/02/17/android-pick-image-from-camera-or-gallery/</link>
		<comments>http://blog.44uk.net/2012/02/17/android-pick-image-from-camera-or-gallery/#comments</comments>
		<pubDate>Fri, 17 Feb 2012 05:48:54 +0000</pubDate>
		<dc:creator><![CDATA[yukku0423]]></dc:creator>
				<category><![CDATA[プログラミング]]></category>
		<category><![CDATA[android]]></category>

		<guid isPermaLink="false">http://blog.44uk.net/?p=966</guid>
		<description><![CDATA[<p>Android カメラを起動して、ビューに表示してみる から応用というか、コードの付け足しで、カメラで写真を撮るか、ギャラリーから選択するのか、ダイアログを表示して、それぞれ内臓カメラと内臓ギャラリーアプリを利用してみました。</p>
<p>以下のコード中に特に明示しないプロパティ変数が出てきますが、前記事をベースに付け足したことを前提としているので、Android カメラを起動して、ビューに表示してみる  のコードも同時に参考にして頂ければ幸いです。</p>
]]></description>
		<wfw:commentRss>http://blog.44uk.net/2012/02/17/android-pick-image-from-camera-or-gallery/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Android カメラを起動して、ビューに表示してみる</title>
		<link>http://blog.44uk.net/2011/10/25/android-camera-and-preview/</link>
		<comments>http://blog.44uk.net/2011/10/25/android-camera-and-preview/#comments</comments>
		<pubDate>Tue, 25 Oct 2011 06:28:21 +0000</pubDate>
		<dc:creator><![CDATA[yukku0423]]></dc:creator>
				<category><![CDATA[プログラミング]]></category>
		<category><![CDATA[android]]></category>

		<guid isPermaLink="false">http://blog.44uk.net/?p=669</guid>
		<description><![CDATA[<p>Multimedia and Camera &#62; Camera を参考にして、カメラを起動して、写真を取ったら、それを画面内にプレビューするものを作成していきます。</p>
<p>その後、Android カメラで撮影するかギャラリーから選択した画像をビューに表示してみる のもやりました。</p>
<p>ご参考までに。<br />
Manifest に追記<br />
カメラを使うにはパーミッションを与える必要があります。</p>
]]></description>
		<wfw:commentRss>http://blog.44uk.net/2011/10/25/android-camera-and-preview/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Android xml レイアウトのオブジェクトを取得して操作する</title>
		<link>http://blog.44uk.net/2011/10/03/android-find-view-from-xml/</link>
		<comments>http://blog.44uk.net/2011/10/03/android-find-view-from-xml/#comments</comments>
		<pubDate>Mon, 03 Oct 2011 02:28:55 +0000</pubDate>
		<dc:creator><![CDATA[yukku0423]]></dc:creator>
				<category><![CDATA[プログラミング]]></category>
		<category><![CDATA[android]]></category>

		<guid isPermaLink="false">http://blog.44uk.net/?p=543</guid>
		<description><![CDATA[<p>Android Eclipseでの新規作成プロジェクトを読み解いてみる のエントリの Eclipse で生成したデフォルトプロジェクトをベースに、レイアウトについて学んでみる。<br />
main.xml で定義したビューオブジェクトを操作する<br />
生成されたプロジェクトの res/layout/main.xml には、ひとつの LinerLayout と TextView が配置されていました。</p>
]]></description>
		<wfw:commentRss>http://blog.44uk.net/2011/10/03/android-find-view-from-xml/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
