<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>yukku++ &#187; webview</title>
	<atom:link href="/tag/webview/feed/" rel="self" type="application/rss+xml" />
	<link>http://wp.44uk.net</link>
	<description></description>
	<lastBuildDate>Sun, 13 Apr 2014 03:02:51 +0000</lastBuildDate>
	<language>ja</language>
		<sy:updatePeriod>hourly</sy:updatePeriod>
		<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=3.8.2</generator>
	<item>
		<title>ハイブリッドな Android アプリを目指して WebView を使ってみる</title>
		<link>http://blog.44uk.net/2013/04/06/try-webview-for-hybrid-app/</link>
		<comments>http://blog.44uk.net/2013/04/06/try-webview-for-hybrid-app/#comments</comments>
		<pubDate>Sat, 06 Apr 2013 11:08:16 +0000</pubDate>
		<dc:creator><![CDATA[yukku0423]]></dc:creator>
				<category><![CDATA[プログラミング]]></category>
		<category><![CDATA[android]]></category>
		<category><![CDATA[webview]]></category>

		<guid isPermaLink="false">http://blog.44uk.net/?p=1496</guid>
		<description><![CDATA[<p>この先、Webサイト+ハイブリッドアプリ公開が主流になるのではないかと予想して、WebView の使い方を勉強してみる。</p>
<p>ハイブリッドアプリとは、スマートフォン向けのアプリケーションだが、コンテンツ自体は通常のWebサイトを表示するようなアプリのことを指す(と思ってる)</p>
<p>8割ネイティブアプリ、2割がWebviewでサイト表示している、またはその逆でほとんどWebviewだけの外側だけのアプリなど、程度によりけりなんだろうけど、割合としてWebViewでサイトをレンダリングしているコンテンツが多くを占める場合はハイブリッドアプリと呼びそう。</p>
]]></description>
		<wfw:commentRss>http://blog.44uk.net/2013/04/06/try-webview-for-hybrid-app/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
