<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>yukku++ &#187; assets</title>
	<atom:link href="/tag/assets/feed/" rel="self" type="application/rss+xml" />
	<link>http://wp.44uk.net</link>
	<description></description>
	<lastBuildDate>Sun, 13 Apr 2014 03:02:51 +0000</lastBuildDate>
	<language>ja</language>
		<sy:updatePeriod>hourly</sy:updatePeriod>
		<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=3.8.2</generator>
	<item>
		<title>asset pipeline のちょっとしたまとめ( require とか優先読込)</title>
		<link>http://blog.44uk.net/2011/12/11/asset-pipeline-settings/</link>
		<comments>http://blog.44uk.net/2011/12/11/asset-pipeline-settings/#comments</comments>
		<pubDate>Sat, 10 Dec 2011 16:34:26 +0000</pubDate>
		<dc:creator><![CDATA[yukku0423]]></dc:creator>
				<category><![CDATA[プログラミング]]></category>
		<category><![CDATA[assets]]></category>

		<guid isPermaLink="false">http://blog.44uk.net/?p=826</guid>
		<description><![CDATA[<p>asset pipeline は Rails3.1 から標準で実装されている、app/assets 以下にスタイルシートやスクリプト、画像を配置すると、それらを一つのファイルに結合して、出力してくれる機能。</p>
<p>  Ruby on Rails Guides: Asset Pipeline</p>
<p>基本的にはこの中のディレクトリに配置すれば勝手に読み込んで出力してくれるが、ちょっとカスタムしてやりたいことがあったので備忘録＆共有。</p>
]]></description>
		<wfw:commentRss>http://blog.44uk.net/2011/12/11/asset-pipeline-settings/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
