<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>yukku++ &#187; git</title>
	<atom:link href="/tag/git/feed/" rel="self" type="application/rss+xml" />
	<link>http://wp.44uk.net</link>
	<description></description>
	<lastBuildDate>Sun, 13 Apr 2014 03:02:51 +0000</lastBuildDate>
	<language>ja</language>
		<sy:updatePeriod>hourly</sy:updatePeriod>
		<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=3.8.2</generator>
	<item>
		<title>git の特定のリビジョンからファイルや差分を取り出すスクリプト(SourceTree で使える)</title>
		<link>http://blog.44uk.net/2013/08/13/git-export-tools-for-sourcetre/</link>
		<comments>http://blog.44uk.net/2013/08/13/git-export-tools-for-sourcetre/#comments</comments>
		<pubDate>Tue, 13 Aug 2013 02:03:33 +0000</pubDate>
		<dc:creator><![CDATA[yukku0423]]></dc:creator>
				<category><![CDATA[開発ツール]]></category>
		<category><![CDATA[git]]></category>
		<category><![CDATA[ruby]]></category>
		<category><![CDATA[sourcetree]]></category>

		<guid isPermaLink="false">http://blog.44uk.net/?p=1747</guid>
		<description><![CDATA[<p>この前作ったスクリプト、</p>
<p>  SourceTree で指定のリビジョン間の差分ファイルだけ取り出したい</p>
<p>をより改良し、一般的に使うことができるものとして仕上げました。</p>
<p>このリポジトリをクローンしてください。<br />
といっても必要なのはスクリプトだけなので、アーカイブでもいいし、ファイルだけでもいいです。</p>
]]></description>
		<wfw:commentRss>http://blog.44uk.net/2013/08/13/git-export-tools-for-sourcetre/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>SourceTree で指定のリビジョン間の差分ファイルだけ取り出したい</title>
		<link>http://blog.44uk.net/2013/08/05/git-export-diff-script/</link>
		<comments>http://blog.44uk.net/2013/08/05/git-export-diff-script/#comments</comments>
		<pubDate>Mon, 05 Aug 2013 06:13:47 +0000</pubDate>
		<dc:creator><![CDATA[yukku0423]]></dc:creator>
				<category><![CDATA[開発ツール]]></category>
		<category><![CDATA[git]]></category>
		<category><![CDATA[ruby]]></category>
		<category><![CDATA[sourcetree]]></category>

		<guid isPermaLink="false">http://blog.44uk.net/?p=1695</guid>
		<description><![CDATA[<p>世の中には、差分のファイルだけ用意して上書きコピーなどという実にざんねんな運用で回っている非モダンな開発現場があるわけで…。</p>
<p>いや、もろもろの事情でそうせざる追えない、ということにしておきましょう。</p>
<p>とにかくとあるタスクで作業したファイルだけを取り出して、どこぞへ保存するということを求められることが多々あります。</p>
<p>せっかくgit を使っているのだし、その辺楽にしたいと思って試行錯誤してみました。</p>
]]></description>
		<wfw:commentRss>http://blog.44uk.net/2013/08/05/git-export-diff-script/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>github pages みたいに、独立したブランチを作りたいとき</title>
		<link>http://blog.44uk.net/2013/06/01/git-make-an-orphan-branch/</link>
		<comments>http://blog.44uk.net/2013/06/01/git-make-an-orphan-branch/#comments</comments>
		<pubDate>Sat, 01 Jun 2013 05:19:56 +0000</pubDate>
		<dc:creator><![CDATA[yukku0423]]></dc:creator>
				<category><![CDATA[開発ツール]]></category>
		<category><![CDATA[branch]]></category>
		<category><![CDATA[git]]></category>
		<category><![CDATA[orphan]]></category>

		<guid isPermaLink="false">http://blog.44uk.net/?p=1637</guid>
		<description><![CDATA[<p>github には github pages という、gh-pages という名前のブランチにコミットされたファイルをプロジェクトの静的ページとして http://{username}.github.com/ というアドレスで公開できるすんばらしい機能があります。</p>
<p>  GitHub Pages</p>
<p>gh-pages というブランチをコミットすれば表示されるのですが、管理画面からボタン１つでテンプレート込のCoolなページを作成してくれます。</p>
]]></description>
		<wfw:commentRss>http://blog.44uk.net/2013/06/01/git-make-an-orphan-branch/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>デプロイツール mina を使ってみる</title>
		<link>http://blog.44uk.net/2012/11/03/use-deploy-tool-mina/</link>
		<comments>http://blog.44uk.net/2012/11/03/use-deploy-tool-mina/#comments</comments>
		<pubDate>Sat, 03 Nov 2012 06:13:33 +0000</pubDate>
		<dc:creator><![CDATA[yukku0423]]></dc:creator>
				<category><![CDATA[開発ツール]]></category>
		<category><![CDATA[deploy]]></category>
		<category><![CDATA[gem]]></category>
		<category><![CDATA[git]]></category>
		<category><![CDATA[ruby]]></category>

		<guid isPermaLink="false">http://blog.44uk.net/?p=1226</guid>
		<description><![CDATA[<p>ruby 製デプロイツールといえば定番の capistrano (とvLad? こっちはよくわかりません…) ですが、mina というのを知ったので、とりあえず簡単に使ってみました。</p>
]]></description>
		<wfw:commentRss>http://blog.44uk.net/2012/11/03/use-deploy-tool-mina/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>git でやっぱ無かったことにしたいコミットがあるとき</title>
		<link>http://blog.44uk.net/2012/09/13/git-rebase-i-to-remove-commit/</link>
		<comments>http://blog.44uk.net/2012/09/13/git-rebase-i-to-remove-commit/#comments</comments>
		<pubDate>Thu, 13 Sep 2012 04:05:36 +0000</pubDate>
		<dc:creator><![CDATA[yukku0423]]></dc:creator>
				<category><![CDATA[開発ツール]]></category>
		<category><![CDATA[git]]></category>

		<guid isPermaLink="false">http://blog.44uk.net/?p=1180</guid>
		<description><![CDATA[<p>例えば、やってみたものの、やっぱりアレはいらなかったな…。というコミットができちゃうことは多々あると思います。<br />
例えば<br />
さて、ホームページを作ろう。<br />
mkdir git-training &#38;&#38; cd git-training<br />
git init &#38;&#38; git commit -m&#8221;initialize&#8221; &#8211;allow-empty<br />
まずは外枠だけ作ろう。</p>
]]></description>
		<wfw:commentRss>http://blog.44uk.net/2012/09/13/git-rebase-i-to-remove-commit/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Assembla で git を使うための ssh設定 Windows編</title>
		<link>http://blog.44uk.net/2010/09/11/assembla-with-git-ssh-on-windows/</link>
		<comments>http://blog.44uk.net/2010/09/11/assembla-with-git-ssh-on-windows/#comments</comments>
		<pubDate>Sat, 11 Sep 2010 03:16:39 +0000</pubDate>
		<dc:creator><![CDATA[yukku0423]]></dc:creator>
				<category><![CDATA[開発ツール]]></category>
		<category><![CDATA[git]]></category>

		<guid isPermaLink="false">http://blog.44uk.net/?p=8</guid>
		<description><![CDATA[<p>git/svn ホスティングサービスの Assembla で作成したリポジトリに push/pull/clone するためのssh設定メモ。</p>
<p>  Bug &#38; Issue Tracking, GIT &#38; SVN / Subversion Hosting &#124; Assembla</p>
<p>クライアントは tortoiseGit を使用する。</p>
]]></description>
		<wfw:commentRss>http://blog.44uk.net/2010/09/11/assembla-with-git-ssh-on-windows/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
