<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>yukku++ &#187; brew</title>
	<atom:link href="/tag/brew/feed/" rel="self" type="application/rss+xml" />
	<link>http://wp.44uk.net</link>
	<description></description>
	<lastBuildDate>Sun, 13 Apr 2014 03:02:51 +0000</lastBuildDate>
	<language>ja</language>
		<sy:updatePeriod>hourly</sy:updatePeriod>
		<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=3.8.2</generator>
	<item>
		<title>brew でインストールした imagemagick で rmagick のビルドが失敗したので回避する</title>
		<link>http://blog.44uk.net/2013/01/12/failed-building-rmagick/</link>
		<comments>http://blog.44uk.net/2013/01/12/failed-building-rmagick/#comments</comments>
		<pubDate>Sat, 12 Jan 2013 08:18:58 +0000</pubDate>
		<dc:creator><![CDATA[yukku0423]]></dc:creator>
				<category><![CDATA[開発ツール]]></category>
		<category><![CDATA[brew]]></category>
		<category><![CDATA[imagemagick]]></category>
		<category><![CDATA[rmagick]]></category>

		<guid isPermaLink="false">http://blog.44uk.net/?p=1359</guid>
		<description><![CDATA[<p>brew で imagemagick を入れたのに、rmagick のビルドがこけてしまいました。<br />
brew install imagemagick # 6.8.0-10 が入った。<br />
これで rmagick を入れる(厳密には Gemfile に gem &#8216;rmagick&#8217; を書いて bundle)とビルドでエラーが出て止まってしまいます。</p>
]]></description>
		<wfw:commentRss>http://blog.44uk.net/2013/01/12/failed-building-rmagick/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
