<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>yukku++ &#187; sqlite</title>
	<atom:link href="/tag/sqlite/feed/" rel="self" type="application/rss+xml" />
	<link>http://wp.44uk.net</link>
	<description></description>
	<lastBuildDate>Sun, 13 Apr 2014 03:02:51 +0000</lastBuildDate>
	<language>ja</language>
		<sy:updatePeriod>hourly</sy:updatePeriod>
		<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=3.8.2</generator>
	<item>
		<title>rails3 で seed.rb から csv を読み込んで sqlite に突っ込みたかったのに</title>
		<link>http://blog.44uk.net/2012/06/20/rails3-csv-into-sqlite-by-seed/</link>
		<comments>http://blog.44uk.net/2012/06/20/rails3-csv-into-sqlite-by-seed/#comments</comments>
		<pubDate>Tue, 19 Jun 2012 15:14:05 +0000</pubDate>
		<dc:creator><![CDATA[yukku0423]]></dc:creator>
				<category><![CDATA[プログラミング]]></category>
		<category><![CDATA[sqlite]]></category>

		<guid isPermaLink="false">http://blog.44uk.net/?p=1030</guid>
		<description><![CDATA[<p>目的<br />
seed.rb に csv を読み込んで、そこからレコードを create するのに使いたかった。</p>
]]></description>
		<wfw:commentRss>http://blog.44uk.net/2012/06/20/rails3-csv-into-sqlite-by-seed/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
