<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>yukku++ &#187; deploy</title>
	<atom:link href="/tag/deploy/feed/" rel="self" type="application/rss+xml" />
	<link>http://wp.44uk.net</link>
	<description></description>
	<lastBuildDate>Sun, 13 Apr 2014 03:02:51 +0000</lastBuildDate>
	<language>ja</language>
		<sy:updatePeriod>hourly</sy:updatePeriod>
		<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=3.8.2</generator>
	<item>
		<title>mina で whenever を使いたい時</title>
		<link>http://blog.44uk.net/2012/11/18/mina-with-whenever/</link>
		<comments>http://blog.44uk.net/2012/11/18/mina-with-whenever/#comments</comments>
		<pubDate>Sun, 18 Nov 2012 03:11:08 +0000</pubDate>
		<dc:creator><![CDATA[yukku0423]]></dc:creator>
				<category><![CDATA[開発ツール]]></category>
		<category><![CDATA[deploy]]></category>
		<category><![CDATA[mina]]></category>

		<guid isPermaLink="false">http://blog.44uk.net/?p=1251</guid>
		<description><![CDATA[<p>デプロイツール mina で whenever をデプロイ後に実行させたい場合。<br />
追記<br />
require &#8216;mina/whenever&#8217;<br />
ライブラリがもともと入っていたのでそれを読み込みます。(ドキュメントにはみあたりませんでした。そのうち書かれるかな？)</p>
<p>mina -T するとタスクが増えているのが確認できます。</p>
]]></description>
		<wfw:commentRss>http://blog.44uk.net/2012/11/18/mina-with-whenever/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Mina &#8211; Getting started 和訳</title>
		<link>http://blog.44uk.net/2012/11/03/mina-getting-started-ja/</link>
		<comments>http://blog.44uk.net/2012/11/03/mina-getting-started-ja/#comments</comments>
		<pubDate>Sat, 03 Nov 2012 12:25:46 +0000</pubDate>
		<dc:creator><![CDATA[yukku0423]]></dc:creator>
				<category><![CDATA[開発ツール]]></category>
		<category><![CDATA[deploy]]></category>
		<category><![CDATA[gem]]></category>
		<category><![CDATA[mina]]></category>
		<category><![CDATA[ruby]]></category>

		<guid isPermaLink="false">http://blog.44uk.net/?p=1230</guid>
		<description><![CDATA[<p>  http://nadarei.co/mina/</p>
<p>deploy.rb について<br />
deploy.rb は Rake によって実行される Rakefile にすぎません。<br />
実際、mina は deploy.rb をロードする Rake を実行するエイリアスです。</p>
]]></description>
		<wfw:commentRss>http://blog.44uk.net/2012/11/03/mina-getting-started-ja/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>デプロイツール mina を使ってみる</title>
		<link>http://blog.44uk.net/2012/11/03/use-deploy-tool-mina/</link>
		<comments>http://blog.44uk.net/2012/11/03/use-deploy-tool-mina/#comments</comments>
		<pubDate>Sat, 03 Nov 2012 06:13:33 +0000</pubDate>
		<dc:creator><![CDATA[yukku0423]]></dc:creator>
				<category><![CDATA[開発ツール]]></category>
		<category><![CDATA[deploy]]></category>
		<category><![CDATA[gem]]></category>
		<category><![CDATA[git]]></category>
		<category><![CDATA[ruby]]></category>

		<guid isPermaLink="false">http://blog.44uk.net/?p=1226</guid>
		<description><![CDATA[<p>ruby 製デプロイツールといえば定番の capistrano (とvLad? こっちはよくわかりません…) ですが、mina というのを知ったので、とりあえず簡単に使ってみました。</p>
]]></description>
		<wfw:commentRss>http://blog.44uk.net/2012/11/03/use-deploy-tool-mina/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Capistrano がセットする Capfile や deploy.rb で使える変数</title>
		<link>http://blog.44uk.net/2012/04/06/capistrano-variables/</link>
		<comments>http://blog.44uk.net/2012/04/06/capistrano-variables/#comments</comments>
		<pubDate>Fri, 06 Apr 2012 03:01:50 +0000</pubDate>
		<dc:creator><![CDATA[yukku0423]]></dc:creator>
				<category><![CDATA[プログラミング]]></category>
		<category><![CDATA[deploy]]></category>

		<guid isPermaLink="false">http://blog.44uk.net/?p=1000</guid>
		<description><![CDATA[<p>Capfile や deploy.rb で使える変数。</p>
<p>  Capistrano Variables &#124; theAdmin<br />
  capistrano/lib/capistrano/recipes/deploy.rb at master · capistrano/capistrano · GitHub</p>
<p># 設定が必須な変数</p>
<p>&#124; application &#124; required &#124;<br />
&#124; repository  &#124; required &#124;</p>
<p># CAPFILE にてセットすることが出来る変数</p>
<p>設定しない場合はデフォルト値が利用される。</p>
]]></description>
		<wfw:commentRss>http://blog.44uk.net/2012/04/06/capistrano-variables/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
