<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>yukku++ &#187; rails</title>
	<atom:link href="/tag/rails/feed/" rel="self" type="application/rss+xml" />
	<link>http://wp.44uk.net</link>
	<description></description>
	<lastBuildDate>Sun, 13 Apr 2014 03:02:51 +0000</lastBuildDate>
	<language>ja</language>
		<sy:updatePeriod>hourly</sy:updatePeriod>
		<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=3.8.2</generator>
	<item>
		<title>Rails の assetpipeline が便利だけど sass の @import で困る</title>
		<link>http://blog.44uk.net/2013/11/23/rails-assetpipeline-conflicts-sass-import/</link>
		<comments>http://blog.44uk.net/2013/11/23/rails-assetpipeline-conflicts-sass-import/#comments</comments>
		<pubDate>Sat, 23 Nov 2013 02:05:06 +0000</pubDate>
		<dc:creator><![CDATA[yukku0423]]></dc:creator>
				<category><![CDATA[未定義]]></category>
		<category><![CDATA[rails]]></category>

		<guid isPermaLink="false">http://blog.44uk.net/?p=1770</guid>
		<description><![CDATA[<p>トピック的には Rails4 どころか Rails3 でしかも初歩的な話なのですが、久々に触ったらちょっと困ったので備忘録。</p>
<p>Rails には 3 あたりから AssetPipeline という、画像、js、css をよしなに扱ってくれる app/assets/ というディレクトリがあるのですが、css を sass で書いたときに @import を使う場合に書き換えが必要でした。</p>
]]></description>
		<wfw:commentRss>http://blog.44uk.net/2013/11/23/rails-assetpipeline-conflicts-sass-import/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>zurb-foundation で assets:precompile したら css が Invalid と言われた</title>
		<link>http://blog.44uk.net/2013/05/23/trouble-with-foundation-when-assets-precompile/</link>
		<comments>http://blog.44uk.net/2013/05/23/trouble-with-foundation-when-assets-precompile/#comments</comments>
		<pubDate>Thu, 23 May 2013 05:51:05 +0000</pubDate>
		<dc:creator><![CDATA[yukku0423]]></dc:creator>
				<category><![CDATA[プログラミング]]></category>
		<category><![CDATA[assetspipeline]]></category>
		<category><![CDATA[css]]></category>
		<category><![CDATA[foundation]]></category>
		<category><![CDATA[gem]]></category>
		<category><![CDATA[rails]]></category>

		<guid isPermaLink="false">http://blog.44uk.net/?p=1613</guid>
		<description><![CDATA[<p>  Foundation: The Most Advanced Responsive Front-end Framework from ZURB</p>
<p>Foundation を使ってみようと、gem をいれ、foundation:install でもろもろをセットアップしてもらい、コーディングをしていました。</p>
]]></description>
		<wfw:commentRss>http://blog.44uk.net/2013/05/23/trouble-with-foundation-when-assets-precompile/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
