<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>yukku++ &#187; gem</title>
	<atom:link href="/tag/gem/feed/" rel="self" type="application/rss+xml" />
	<link>http://wp.44uk.net</link>
	<description></description>
	<lastBuildDate>Sun, 13 Apr 2014 03:02:51 +0000</lastBuildDate>
	<language>ja</language>
		<sy:updatePeriod>hourly</sy:updatePeriod>
		<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=3.8.2</generator>
	<item>
		<title>zurb-foundation で assets:precompile したら css が Invalid と言われた</title>
		<link>http://blog.44uk.net/2013/05/23/trouble-with-foundation-when-assets-precompile/</link>
		<comments>http://blog.44uk.net/2013/05/23/trouble-with-foundation-when-assets-precompile/#comments</comments>
		<pubDate>Thu, 23 May 2013 05:51:05 +0000</pubDate>
		<dc:creator><![CDATA[yukku0423]]></dc:creator>
				<category><![CDATA[プログラミング]]></category>
		<category><![CDATA[assetspipeline]]></category>
		<category><![CDATA[css]]></category>
		<category><![CDATA[foundation]]></category>
		<category><![CDATA[gem]]></category>
		<category><![CDATA[rails]]></category>

		<guid isPermaLink="false">http://blog.44uk.net/?p=1613</guid>
		<description><![CDATA[<p>  Foundation: The Most Advanced Responsive Front-end Framework from ZURB</p>
<p>Foundation を使ってみようと、gem をいれ、foundation:install でもろもろをセットアップしてもらい、コーディングをしていました。</p>
]]></description>
		<wfw:commentRss>http://blog.44uk.net/2013/05/23/trouble-with-foundation-when-assets-precompile/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>rubygems の tokyo サーバが落ちて bundle install できない時の回避策</title>
		<link>http://blog.44uk.net/2012/11/18/rubygems-tokyo-server-down/</link>
		<comments>http://blog.44uk.net/2012/11/18/rubygems-tokyo-server-down/#comments</comments>
		<pubDate>Sat, 17 Nov 2012 23:38:40 +0000</pubDate>
		<dc:creator><![CDATA[yukku0423]]></dc:creator>
				<category><![CDATA[開発ツール]]></category>
		<category><![CDATA[gem]]></category>
		<category><![CDATA[ruby]]></category>
		<category><![CDATA[rubygems]]></category>

		<guid isPermaLink="false">http://blog.44uk.net/?p=1245</guid>
		<description><![CDATA[<p>いつも通りに bundle install を叩いてみたところ、見慣れぬエラーが…。<br />
Gem::RemoteFetcher::FetchError: Errno::ECONNREFUSED: Connection refused &#8211; connect(2) (http://rubygems.org/gems/rmagick-2.13.1.gem)<br />
# rmagick 入れようとしたんです<br />
あんまり穏やかじゃない…。</p>
]]></description>
		<wfw:commentRss>http://blog.44uk.net/2012/11/18/rubygems-tokyo-server-down/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Mina &#8211; Getting started 和訳</title>
		<link>http://blog.44uk.net/2012/11/03/mina-getting-started-ja/</link>
		<comments>http://blog.44uk.net/2012/11/03/mina-getting-started-ja/#comments</comments>
		<pubDate>Sat, 03 Nov 2012 12:25:46 +0000</pubDate>
		<dc:creator><![CDATA[yukku0423]]></dc:creator>
				<category><![CDATA[開発ツール]]></category>
		<category><![CDATA[deploy]]></category>
		<category><![CDATA[gem]]></category>
		<category><![CDATA[mina]]></category>
		<category><![CDATA[ruby]]></category>

		<guid isPermaLink="false">http://blog.44uk.net/?p=1230</guid>
		<description><![CDATA[<p>  http://nadarei.co/mina/</p>
<p>deploy.rb について<br />
deploy.rb は Rake によって実行される Rakefile にすぎません。<br />
実際、mina は deploy.rb をロードする Rake を実行するエイリアスです。</p>
]]></description>
		<wfw:commentRss>http://blog.44uk.net/2012/11/03/mina-getting-started-ja/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>デプロイツール mina を使ってみる</title>
		<link>http://blog.44uk.net/2012/11/03/use-deploy-tool-mina/</link>
		<comments>http://blog.44uk.net/2012/11/03/use-deploy-tool-mina/#comments</comments>
		<pubDate>Sat, 03 Nov 2012 06:13:33 +0000</pubDate>
		<dc:creator><![CDATA[yukku0423]]></dc:creator>
				<category><![CDATA[開発ツール]]></category>
		<category><![CDATA[deploy]]></category>
		<category><![CDATA[gem]]></category>
		<category><![CDATA[git]]></category>
		<category><![CDATA[ruby]]></category>

		<guid isPermaLink="false">http://blog.44uk.net/?p=1226</guid>
		<description><![CDATA[<p>ruby 製デプロイツールといえば定番の capistrano (とvLad? こっちはよくわかりません…) ですが、mina というのを知ったので、とりあえず簡単に使ってみました。</p>
]]></description>
		<wfw:commentRss>http://blog.44uk.net/2012/11/03/use-deploy-tool-mina/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Gem を bundler でダウンロードしローカルに保存、その後オフラインでインストール</title>
		<link>http://blog.44uk.net/2012/09/15/local-bundle-install/</link>
		<comments>http://blog.44uk.net/2012/09/15/local-bundle-install/#comments</comments>
		<pubDate>Sat, 15 Sep 2012 01:28:20 +0000</pubDate>
		<dc:creator><![CDATA[yukku0423]]></dc:creator>
				<category><![CDATA[開発ツール]]></category>
		<category><![CDATA[gem]]></category>
		<category><![CDATA[ruby]]></category>

		<guid isPermaLink="false">http://blog.44uk.net/?p=1184</guid>
		<description><![CDATA[<p>gem パッケージをがっつりインストールしてくれる bundler はとても便利ですが、オフライン環境ともなると何もできなくなってしまい、どうにもなりません。</p>
<p>限られたネットワーク内で rails アプリなどをセットアップしたい場合、あらかじめ gem をダウンロードして、ローカルインストールをする必要があるでしょう。</p>
<p>rails での利用を前提に考えましたが、bundler を使う限り同じだと思います。</p>
]]></description>
		<wfw:commentRss>http://blog.44uk.net/2012/09/15/local-bundle-install/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Rails 設定定数を定義するのに便利な gem</title>
		<link>http://blog.44uk.net/2012/09/09/rails-gem-for-static-variables/</link>
		<comments>http://blog.44uk.net/2012/09/09/rails-gem-for-static-variables/#comments</comments>
		<pubDate>Sun, 09 Sep 2012 11:14:19 +0000</pubDate>
		<dc:creator><![CDATA[yukku0423]]></dc:creator>
				<category><![CDATA[開発ツール]]></category>
		<category><![CDATA[gem]]></category>
		<category><![CDATA[railsconfig]]></category>
		<category><![CDATA[ruby]]></category>
		<category><![CDATA[settingslogic]]></category>

		<guid isPermaLink="false">http://blog.44uk.net/?p=1176</guid>
		<description><![CDATA[<p>たとえば API キーとか、基本的には固定だけど調整で時々変えたい定数みたいなものを定義したいことはよくあると思いますが、それに便利な gem のメモ。</p>
<p>特に目新しいものでもなく、割と定番そうなものですが。</p>
<p>  Settingslogic<br />
  RailsConfig</p>
<p>Settingslogic<br />
gem をインストールしたら、以下のようにクラスを定義します。</p>
]]></description>
		<wfw:commentRss>http://blog.44uk.net/2012/09/09/rails-gem-for-static-variables/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Rails3 id でなく文字列をURLにしてアクセスしたい (friendly_id編)</title>
		<link>http://blog.44uk.net/2012/01/12/rails3-friendly-id/</link>
		<comments>http://blog.44uk.net/2012/01/12/rails3-friendly-id/#comments</comments>
		<pubDate>Thu, 12 Jan 2012 13:56:32 +0000</pubDate>
		<dc:creator><![CDATA[yukku0423]]></dc:creator>
				<category><![CDATA[プログラミング]]></category>
		<category><![CDATA[gem]]></category>

		<guid isPermaLink="false">http://blog.44uk.net/?p=895</guid>
		<description><![CDATA[<p>前回のポストでリンクだけはった friendly_id を導入してみる。</p>
<p>ほぼ README をなぞっただけですが。</p>
<p>  Rails3 id でなく文字列をURLにしてアクセスしたい (stringex編)</p>
<p>インストール</p>
<p>  norman / friendly_id</p>
<p>いつも通り、Gemfile に追記してインストールします。gem install friendly_id でも良いです。</p>
]]></description>
		<wfw:commentRss>http://blog.44uk.net/2012/01/12/rails3-friendly-id/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Rails3 id でなく文字列をURLにしてアクセスしたい (stringex編)</title>
		<link>http://blog.44uk.net/2011/12/19/rails3-asts-as-url/</link>
		<comments>http://blog.44uk.net/2011/12/19/rails3-asts-as-url/#comments</comments>
		<pubDate>Mon, 19 Dec 2011 02:10:15 +0000</pubDate>
		<dc:creator><![CDATA[yukku0423]]></dc:creator>
				<category><![CDATA[プログラミング]]></category>
		<category><![CDATA[gem]]></category>

		<guid isPermaLink="false">https://wp.44uk.net/?p=868</guid>
		<description><![CDATA[<p>大抵の場合、hoge/:id のような URL でアクセスし、Hoge.find(params[:id]) レコードを探すが、id ではなく、文字列でアクセス出来る様にする方法。</p>
<p>  rsl / stringex<br />
  norman / friendly_id</p>
<p>この二つが、メジャーな gem そうでした。今回は stringex を導入して見ました。<br />
適当なプロジェクトを作成<br />
導入デモ用に作るだけです。</p>
]]></description>
		<wfw:commentRss>http://blog.44uk.net/2011/12/19/rails3-asts-as-url/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
