<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>yukku++ &#187; passenger</title>
	<atom:link href="/tag/passenger/feed/" rel="self" type="application/rss+xml" />
	<link>http://wp.44uk.net</link>
	<description></description>
	<lastBuildDate>Sun, 13 Apr 2014 03:02:51 +0000</lastBuildDate>
	<language>ja</language>
		<sy:updatePeriod>hourly</sy:updatePeriod>
		<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=3.8.2</generator>
	<item>
		<title>ruby 2.0 で passenger を入れようとしたらなんかエラーでた</title>
		<link>http://blog.44uk.net/2013/04/21/problem-in-passenger-with-ruby-2-0/</link>
		<comments>http://blog.44uk.net/2013/04/21/problem-in-passenger-with-ruby-2-0/#comments</comments>
		<pubDate>Sat, 20 Apr 2013 15:11:09 +0000</pubDate>
		<dc:creator><![CDATA[yukku0423]]></dc:creator>
				<category><![CDATA[開発ツール]]></category>
		<category><![CDATA[gem.rails3]]></category>
		<category><![CDATA[passenger]]></category>
		<category><![CDATA[ruby]]></category>

		<guid isPermaLink="false">http://blog.44uk.net/?p=1503</guid>
		<description><![CDATA[<p>ruby 2.0 をソースからコンパイルして、gem で passenger をいれて、passenger-install-apache2-module を叩いてみたらなんかエラーがでた。</p>
]]></description>
		<wfw:commentRss>http://blog.44uk.net/2013/04/21/problem-in-passenger-with-ruby-2-0/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
