<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>yukku++ &#187; intellij</title>
	<atom:link href="/tag/intellij/feed/" rel="self" type="application/rss+xml" />
	<link>http://wp.44uk.net</link>
	<description></description>
	<lastBuildDate>Sun, 13 Apr 2014 03:02:51 +0000</lastBuildDate>
	<language>ja</language>
		<sy:updatePeriod>hourly</sy:updatePeriod>
		<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=3.8.2</generator>
	<item>
		<title>intelliJ で sass を編集すると LiveEdit で動的に反映されるように</title>
		<link>http://blog.44uk.net/2013/05/25/intellij-sass-and-liveedit/</link>
		<comments>http://blog.44uk.net/2013/05/25/intellij-sass-and-liveedit/#comments</comments>
		<pubDate>Sat, 25 May 2013 03:55:21 +0000</pubDate>
		<dc:creator><![CDATA[yukku0423]]></dc:creator>
				<category><![CDATA[ソフトウェア]]></category>
		<category><![CDATA[css]]></category>
		<category><![CDATA[html]]></category>
		<category><![CDATA[intellij]]></category>
		<category><![CDATA[sass]]></category>
		<category><![CDATA[slim]]></category>

		<guid isPermaLink="false">http://blog.44uk.net/?p=1618</guid>
		<description><![CDATA[<p>ついに intelliJ を購入し、早速持て余しているのですが、HTML + CSS + JS のお仕事がありそうなので(じゃあWebStormでいいじゃんというのは言わないで)少し環境を整えてみました。</p>
<p>使っているのは最高級のIntelliJですが、WebStorm などでもできると思います。<br />
LiveEdit<br />
編集した HTML を動的にブラウザで表示してくれるプラグインです。</p>
]]></description>
		<wfw:commentRss>http://blog.44uk.net/2013/05/25/intellij-sass-and-liveedit/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>IntelliJ IDEA 12 でも android アプリの開発がしたい(デバッグとかツール)</title>
		<link>http://blog.44uk.net/2013/04/02/intellij-idea-12-with-android-tools/</link>
		<comments>http://blog.44uk.net/2013/04/02/intellij-idea-12-with-android-tools/#comments</comments>
		<pubDate>Mon, 01 Apr 2013 16:21:25 +0000</pubDate>
		<dc:creator><![CDATA[yukku0423]]></dc:creator>
				<category><![CDATA[開発ツール]]></category>
		<category><![CDATA[android]]></category>
		<category><![CDATA[intellij]]></category>

		<guid isPermaLink="false">http://blog.44uk.net/?p=1487</guid>
		<description><![CDATA[<p>まずはデバッグフラグを立てておきます。<br />
左エクスプローラから AndroidManifest.xml を開きます。</p>
<p>eclipse ではご丁寧なGUIエディタで開いてくれますが、IntelliJ には無いので手動で xml を編集して保存します。</p>
]]></description>
		<wfw:commentRss>http://blog.44uk.net/2013/04/02/intellij-idea-12-with-android-tools/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>IntelliJ IDEA 12 で android アプリの開発環境を作った(みんなだいすき無料)</title>
		<link>http://blog.44uk.net/2013/03/24/android-app-in-intellij-idea-12/</link>
		<comments>http://blog.44uk.net/2013/03/24/android-app-in-intellij-idea-12/#comments</comments>
		<pubDate>Sun, 24 Mar 2013 12:41:31 +0000</pubDate>
		<dc:creator><![CDATA[yukku0423]]></dc:creator>
				<category><![CDATA[開発ツール]]></category>
		<category><![CDATA[android]]></category>
		<category><![CDATA[intellij]]></category>

		<guid isPermaLink="false">http://blog.44uk.net/?p=1475</guid>
		<description><![CDATA[<p>追記：<br />
Google謹製 Android Studio が発表されたので、こちらを使う方が賢いかもしれません。</p>
<p>  Getting Started with Android Studio</p>
<p>InteliJ がベースなので操作感は同じで、Android 開発に特化したウィザートなんかも実装されています。</p>
]]></description>
		<wfw:commentRss>http://blog.44uk.net/2013/03/24/android-app-in-intellij-idea-12/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
