<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>yukku++ &#187; nas</title>
	<atom:link href="/tag/nas/feed/" rel="self" type="application/rss+xml" />
	<link>http://wp.44uk.net</link>
	<description></description>
	<lastBuildDate>Sun, 13 Apr 2014 03:02:51 +0000</lastBuildDate>
	<language>ja</language>
		<sy:updatePeriod>hourly</sy:updatePeriod>
		<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=3.8.2</generator>
	<item>
		<title>Netgear Stora MS2000 のリカバリー</title>
		<link>http://blog.44uk.net/2012/10/08/recovery-netgear-stora-ms2000/</link>
		<comments>http://blog.44uk.net/2012/10/08/recovery-netgear-stora-ms2000/#comments</comments>
		<pubDate>Mon, 08 Oct 2012 02:10:38 +0000</pubDate>
		<dc:creator><![CDATA[yukku0423]]></dc:creator>
				<category><![CDATA[ハードウェア]]></category>
		<category><![CDATA[nas]]></category>
		<category><![CDATA[stora]]></category>

		<guid isPermaLink="false">http://blog.44uk.net/?p=1203</guid>
		<description><![CDATA[<p>Stora という NAS を利用していたのですが、どうにも起動しなくなってしまい、故障を疑ったのですが、どうもシステムがぶっ壊れたようでした。</p>
<p><a href="http://www.amazon.co.jp/%E3%83%8D%E3%83%83%E3%83%88%E3%82%AE%E3%82%A2-MS2000-100JPS-NETGEAR-Stora-%E3%80%901%E5%B9%B4%E6%A8%99%E6%BA%96%E4%BF%9D%E8%A8%BC%E3%80%91%E3%83%9B%E3%83%BC%E3%83%A0%E3%82%B5%E3%83%BC%E3%83%90%E3%83%BC/dp/B005FP8FWA%3FSubscriptionId%3DAKIAJU72GCNK2OGHPNKQ%26tag%3Dblog44uk-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3DB005FP8FWA" title="NETGEAR Stora 【1年標準保証】ホームサーバー MS2000-100JPS" target="_blank"><br />
<img src="http://ecx.images-amazon.com/images/I/31IJr6YRPDL._SL160_.jpg" width="160" height="160" alt="NETGEAR Stora 【1年標準保証】ホームサーバー MS2000-100JPS"/><br />
NETGEAR Stora 【1年標準保証】ホームサーバー MS2000-100JPS<br />
</a></p>
<p>工場出荷状態の操作をしても改善しなかったのでどうしたものかと思って調べたら、リカバリーの手段が見つかり、これで解決した。</p>
]]></description>
		<wfw:commentRss>http://blog.44uk.net/2012/10/08/recovery-netgear-stora-ms2000/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
