<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>yukku++ &#187; mongo</title>
	<atom:link href="/tag/mongo/feed/" rel="self" type="application/rss+xml" />
	<link>http://wp.44uk.net</link>
	<description></description>
	<lastBuildDate>Sun, 13 Apr 2014 03:02:51 +0000</lastBuildDate>
	<language>ja</language>
		<sy:updatePeriod>hourly</sy:updatePeriod>
		<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=3.8.2</generator>
	<item>
		<title>ActiveRecord にてランダムなレコードが欲しい時</title>
		<link>http://blog.44uk.net/2012/12/22/random-record-by-activerecord/</link>
		<comments>http://blog.44uk.net/2012/12/22/random-record-by-activerecord/#comments</comments>
		<pubDate>Fri, 21 Dec 2012 15:25:39 +0000</pubDate>
		<dc:creator><![CDATA[yukku0423]]></dc:creator>
				<category><![CDATA[プログラミング]]></category>
		<category><![CDATA[ActiveRecord]]></category>
		<category><![CDATA[mongo]]></category>
		<category><![CDATA[RoR3]]></category>
		<category><![CDATA[sql]]></category>

		<guid isPermaLink="false">http://blog.44uk.net/?p=1041</guid>
		<description><![CDATA[<p>ほとんど Rails にどっぷり浸かっているので、データベース操作はもう ActiveRecord に頼りっきりの昨今ですが…。<br />
一件取得<br />
全レコードから一件、ランダムに欲しい時。<br />
Model.first( :offset =&#62; rand(Model.count) )<br />
0からレコード数未満の整数をランダムに作り、それで適当にオフセットする。</p>
<p>コレが一番コストも少ないし、無駄が無くていいのでコレ一択。</p>
]]></description>
		<wfw:commentRss>http://blog.44uk.net/2012/12/22/random-record-by-activerecord/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
