<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>スクリーンショット（2011-07-30 13.40.06） へのコメント</title>
	<atom:link href="/2011/07/30/ci2-install-spark/%e3%82%b9%e3%82%af%e3%83%aa%e3%83%bc%e3%83%b3%e3%82%b7%e3%83%a7%e3%83%83%e3%83%88%ef%bc%882011-07-30-13-40-06%ef%bc%89/feed/" rel="self" type="application/rss+xml" />
	<link>http://blog.44uk.net/2011/07/30/ci2-install-spark/%e3%82%b9%e3%82%af%e3%83%aa%e3%83%bc%e3%83%b3%e3%82%b7%e3%83%a7%e3%83%83%e3%83%88%ef%bc%882011-07-30-13-40-06%ef%bc%89/</link>
	<description></description>
	<lastBuildDate>Sun, 13 May 2012 01:13:58 +0000</lastBuildDate>
		<sy:updatePeriod>hourly</sy:updatePeriod>
		<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=3.8.2</generator>
</channel>
</rss>
