<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>yukku++ &#187; rvm</title>
	<atom:link href="/tag/rvm/feed/" rel="self" type="application/rss+xml" />
	<link>http://wp.44uk.net</link>
	<description></description>
	<lastBuildDate>Sun, 13 Apr 2014 03:02:51 +0000</lastBuildDate>
	<language>ja</language>
		<sy:updatePeriod>hourly</sy:updatePeriod>
		<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=3.8.2</generator>
	<item>
		<title>rvm で rubygems のバージョンを切り替えたい時</title>
		<link>http://blog.44uk.net/2011/12/14/rvm-change-version-of-rubygems/</link>
		<comments>http://blog.44uk.net/2011/12/14/rvm-change-version-of-rubygems/#comments</comments>
		<pubDate>Wed, 14 Dec 2011 11:00:14 +0000</pubDate>
		<dc:creator><![CDATA[yukku0423]]></dc:creator>
				<category><![CDATA[プログラミング]]></category>
		<category><![CDATA[rvm]]></category>

		<guid isPermaLink="false">http://blog.44uk.net/?p=837</guid>
		<description><![CDATA[<p>rvm を使っていて、rubygems のバージョンを変えたいようなときは<br />
rvm rubygems 1.3.7<br />
でバージョンを指定して切り替えることができる。</p>
<p>  RVM and RubyGems</p>
<p>uninitialized constant ActiveSupport::Dependencies::Mutex<br />
ってな、rails と rubygems のバージョンによる互換性の問題？が起きた時に。</p>
]]></description>
		<wfw:commentRss>http://blog.44uk.net/2011/12/14/rvm-change-version-of-rubygems/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
