<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>yukku++ &#187; mac</title>
	<atom:link href="/tag/mac/feed/" rel="self" type="application/rss+xml" />
	<link>http://wp.44uk.net</link>
	<description></description>
	<lastBuildDate>Sun, 13 Apr 2014 03:02:51 +0000</lastBuildDate>
	<language>ja</language>
		<sy:updatePeriod>hourly</sy:updatePeriod>
		<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=3.8.2</generator>
	<item>
		<title>mac の Terminal.app は ~/.bashrc を読み込まないみたい</title>
		<link>http://blog.44uk.net/2011/12/17/mac-terminal-app-dont-read-bashrc/</link>
		<comments>http://blog.44uk.net/2011/12/17/mac-terminal-app-dont-read-bashrc/#comments</comments>
		<pubDate>Sat, 17 Dec 2011 13:59:11 +0000</pubDate>
		<dc:creator><![CDATA[yukku0423]]></dc:creator>
				<category><![CDATA[プログラミング]]></category>
		<category><![CDATA[bash]]></category>
		<category><![CDATA[mac]]></category>

		<guid isPermaLink="false">http://blog.44uk.net/?p=860</guid>
		<description><![CDATA[<p>表題のとおり、~/.bashrc が読み込まれない。(実際使ってたのは iTerm)</p>
<p>~/.bash_profile は読み込むので、どうしても読み込ませたいときは<br />
[ -f ~/.bashrc ] &#38;&#38; source $/.bashrc<br />
とでも追記してあげればいい。</p>
<p>それはそうと、zsh にでも乗り換えてみようかしら…。</p>
]]></description>
		<wfw:commentRss>http://blog.44uk.net/2011/12/17/mac-terminal-app-dont-read-bashrc/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
