<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>yukku++ &#187; cron</title>
	<atom:link href="/tag/cron/feed/" rel="self" type="application/rss+xml" />
	<link>http://wp.44uk.net</link>
	<description></description>
	<lastBuildDate>Sun, 13 Apr 2014 03:02:51 +0000</lastBuildDate>
	<language>ja</language>
		<sy:updatePeriod>hourly</sy:updatePeriod>
		<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=3.8.2</generator>
	<item>
		<title>cron 実行時にログインシェル(bash)と同じ環境変数で動かしたい</title>
		<link>http://blog.44uk.net/2012/07/16/cron-in-login-env/</link>
		<comments>http://blog.44uk.net/2012/07/16/cron-in-login-env/#comments</comments>
		<pubDate>Sun, 15 Jul 2012 21:13:51 +0000</pubDate>
		<dc:creator><![CDATA[yukku0423]]></dc:creator>
				<category><![CDATA[プログラミング]]></category>
		<category><![CDATA[bash]]></category>
		<category><![CDATA[cron]]></category>

		<guid isPermaLink="false">http://blog.44uk.net/?p=1058</guid>
		<description><![CDATA[<p>cronの実行時の環境変数は、ssh でログインしたときと異なるので、コンソールから叩いているときのコマンドをそのまま書いてもパスが通ってなかったりして、一筋縄には行かない。</p>
<p>別途、環境変数を定義できるので、適宜定義すればよいが、ログインしたときの環境変数まま動かせれば楽にこした事は無い(と思う)</p>
<p>本来不要な(cron実行時には必要ない)変数が有効になる可能性はあるけど、設定がめどいならオススメ。</p>
]]></description>
		<wfw:commentRss>http://blog.44uk.net/2012/07/16/cron-in-login-env/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
