<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>yukku++ &#187; CommunityEngine</title>
	<atom:link href="/tag/communityengine/feed/" rel="self" type="application/rss+xml" />
	<link>http://wp.44uk.net</link>
	<description></description>
	<lastBuildDate>Sun, 13 Apr 2014 03:02:51 +0000</lastBuildDate>
	<language>ja</language>
		<sy:updatePeriod>hourly</sy:updatePeriod>
		<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=3.8.2</generator>
	<item>
		<title>Community Engine on Rails3 を操作してみる</title>
		<link>http://blog.44uk.net/2011/11/30/try-community-engine-on-rails3/</link>
		<comments>http://blog.44uk.net/2011/11/30/try-community-engine-on-rails3/#comments</comments>
		<pubDate>Wed, 30 Nov 2011 04:46:28 +0000</pubDate>
		<dc:creator><![CDATA[yukku0423]]></dc:creator>
				<category><![CDATA[プログラミング]]></category>
		<category><![CDATA[CommunityEngine]]></category>

		<guid isPermaLink="false">http://blog.44uk.net/?p=790</guid>
		<description><![CDATA[<p>コンソールからユーザー作成<br />
ウェブ画面から作るのもダルいので、rails コンソールから作っちゃいます。</p>
<p>seeds.rb に書いてもよいでしょう。</p>
]]></description>
		<wfw:commentRss>http://blog.44uk.net/2011/11/30/try-community-engine-on-rails3/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Community Engine on Rails3 を弄ってみる</title>
		<link>http://blog.44uk.net/2011/11/06/mod-community-engine-on-rails3/</link>
		<comments>http://blog.44uk.net/2011/11/06/mod-community-engine-on-rails3/#comments</comments>
		<pubDate>Sun, 06 Nov 2011 08:52:28 +0000</pubDate>
		<dc:creator><![CDATA[yukku0423]]></dc:creator>
				<category><![CDATA[プログラミング]]></category>
		<category><![CDATA[CommunityEngine]]></category>

		<guid isPermaLink="false">http://blog.44uk.net/?p=697</guid>
		<description><![CDATA[<p>heroku にデプロイも出来たので少し弄ってみる。<br />
設定ファイル<br />
インストール時に作成した、application_config.rb で設定できる項目はまだまだあります。</p>
<p>  https://github.com/bborn/communityengine/blob/rails3/config/application_config.rb</p>
<p>これをコピーして、書き換えるとよいでしょう。</p>
]]></description>
		<wfw:commentRss>http://blog.44uk.net/2011/11/06/mod-community-engine-on-rails3/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Community Engine on Rails3 を使ってみようとする</title>
		<link>http://blog.44uk.net/2011/10/28/setup-community-engine-on-rails3/</link>
		<comments>http://blog.44uk.net/2011/10/28/setup-community-engine-on-rails3/#comments</comments>
		<pubDate>Thu, 27 Oct 2011 19:08:30 +0000</pubDate>
		<dc:creator><![CDATA[yukku0423]]></dc:creator>
				<category><![CDATA[プログラミング]]></category>
		<category><![CDATA[CommunityEngine]]></category>

		<guid isPermaLink="false">http://blog.44uk.net/?p=673</guid>
		<description><![CDATA[<p>Rails 3.1 も正式版がリリースされたので、改めて環境作りをしてみた。</p>
<p>Community Engine の Rails3 版は執筆時開発中なので、アップデートによって以下の内容では対応できない場合があります。</p>
<p>また、逐次書き換えたりしていて、手順通りには上手く行かないことがありますのでご了承ください。</p>
]]></description>
		<wfw:commentRss>http://blog.44uk.net/2011/10/28/setup-community-engine-on-rails3/feed/</wfw:commentRss>
		<slash:comments>3</slash:comments>
		</item>
		<item>
		<title>[outdated] Community Engine on Rails3 のカスタマイズ事始め</title>
		<link>http://blog.44uk.net/2011/06/20/try-customizing-community-engine-on-rails3/</link>
		<comments>http://blog.44uk.net/2011/06/20/try-customizing-community-engine-on-rails3/#comments</comments>
		<pubDate>Mon, 20 Jun 2011 06:44:31 +0000</pubDate>
		<dc:creator><![CDATA[yukku0423]]></dc:creator>
				<category><![CDATA[プログラミング]]></category>
		<category><![CDATA[CommunityEngine]]></category>

		<guid isPermaLink="false">http://blog.44uk.net/?p=242</guid>
		<description><![CDATA[<p>新しいバージョンで試してみた記事はこちら。以下はもうちょっと古いかも。</p>
<p>Community Engine on Rails3 を使ってみようとする に引き続き、カスタマイズを進めてみる。</p>
<p>前回、config/application.yml で community_name を設定したように、このファイルに定義していく。</p>
<p>communityengine / config / application.yml からディフォルトの設定が記述されたファイルを拾って配置。</p>
]]></description>
		<wfw:commentRss>http://blog.44uk.net/2011/06/20/try-customizing-community-engine-on-rails3/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>[outdated] Community Engine on Rails3 を使ってみようとする</title>
		<link>http://blog.44uk.net/2011/06/01/trying-community-engine-on-rails3/</link>
		<comments>http://blog.44uk.net/2011/06/01/trying-community-engine-on-rails3/#comments</comments>
		<pubDate>Wed, 01 Jun 2011 04:18:20 +0000</pubDate>
		<dc:creator><![CDATA[yukku0423]]></dc:creator>
				<category><![CDATA[プログラミング]]></category>
		<category><![CDATA[CommunityEngine]]></category>

		<guid isPermaLink="false">http://blog.44uk.net/?p=218</guid>
		<description><![CDATA[<p>放置気味で時間がたち、Rails 3.1 もリリースされ、開発が進んでいるようなので、やり直しました。</p>
<p>Community Engine on Rails3 を使ってみようとする</p>
<p>  Community Engine &#124; A Social Networking Plugin for Ruby on Rails<br />
  bborn / communityengine</p>
<p>今日のSNSにありがちなコンポーネントを備え、プラグインもたくさんありそう。</p>
]]></description>
		<wfw:commentRss>http://blog.44uk.net/2011/06/01/trying-community-engine-on-rails3/feed/</wfw:commentRss>
		<slash:comments>2</slash:comments>
		</item>
	</channel>
</rss>
