<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>yukku++ &#187; wifi</title>
	<atom:link href="/tag/wifi/feed/" rel="self" type="application/rss+xml" />
	<link>http://wp.44uk.net</link>
	<description></description>
	<lastBuildDate>Sun, 13 Apr 2014 03:02:51 +0000</lastBuildDate>
	<language>ja</language>
		<sy:updatePeriod>hourly</sy:updatePeriod>
		<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=3.8.2</generator>
	<item>
		<title>Amazonでフラストレーションフリーパッケージというので WZR-HP-G302H/N を買ってみた</title>
		<link>http://blog.44uk.net/2012/05/21/buy-frustration-free-package/</link>
		<comments>http://blog.44uk.net/2012/05/21/buy-frustration-free-package/#comments</comments>
		<pubDate>Mon, 21 May 2012 13:43:45 +0000</pubDate>
		<dc:creator><![CDATA[yukku0423]]></dc:creator>
				<category><![CDATA[ハードウェア]]></category>
		<category><![CDATA[amazon]]></category>
		<category><![CDATA[wifi]]></category>

		<guid isPermaLink="false">http://blog.44uk.net/?p=1024</guid>
		<description><![CDATA[<p>無線LANルーター新調しようと、Amazon を見ていたらフラストレーションフリーパッケージ、とう選択肢が表示されていた。</p>
<p>見慣れないので何かと思ったが、簡易パッケージ版らしい。</p>
<p>このほうが値段も安かったので、フラストレーションフリーパッケージで注文してみた。</p>
]]></description>
		<wfw:commentRss>http://blog.44uk.net/2012/05/21/buy-frustration-free-package/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
