<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>yukku++ &#187; bxslider</title>
	<atom:link href="/tag/bxslider/feed/" rel="self" type="application/rss+xml" />
	<link>http://wp.44uk.net</link>
	<description></description>
	<lastBuildDate>Sun, 13 Apr 2014 03:02:51 +0000</lastBuildDate>
	<language>ja</language>
		<sy:updatePeriod>hourly</sy:updatePeriod>
		<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=3.8.2</generator>
	<item>
		<title>bxSlider でアイテムが少し見切れるような実装をする方法</title>
		<link>http://blog.44uk.net/2014/01/26/bxslider-partly-item/</link>
		<comments>http://blog.44uk.net/2014/01/26/bxslider-partly-item/#comments</comments>
		<pubDate>Sun, 26 Jan 2014 02:12:22 +0000</pubDate>
		<dc:creator><![CDATA[yukku0423]]></dc:creator>
				<category><![CDATA[プログラミング]]></category>
		<category><![CDATA[bxslider]]></category>
		<category><![CDATA[javascript]]></category>

		<guid isPermaLink="false">http://blog.44uk.net/?p=1774</guid>
		<description><![CDATA[<p>まずは実装から</p>
<p>	http://jsfiddle.net/yukku0423/Vp4fj/embedded/result/</p>
<p>こんな感じに実装する必要があったんですが、オプションで提供されているわけでもなかったので、色々いじくった結果です。<br />
コツ<br />
デモでは 4 つのアイテム + 1つ見きれ という感じでやるために、こんなオプションを渡しました。</p>
]]></description>
		<wfw:commentRss>http://blog.44uk.net/2014/01/26/bxslider-partly-item/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
