<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>yukku++ &#187; 着物</title>
	<atom:link href="/tag/%e7%9d%80%e7%89%a9/feed/" rel="self" type="application/rss+xml" />
	<link>http://wp.44uk.net</link>
	<description></description>
	<lastBuildDate>Sun, 13 Apr 2014 03:02:51 +0000</lastBuildDate>
	<language>ja</language>
		<sy:updatePeriod>hourly</sy:updatePeriod>
		<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=3.8.2</generator>
	<item>
		<title>男きもの着付け講座 に参加してみた</title>
		<link>http://blog.44uk.net/2013/07/05/join-otoko-kimono/</link>
		<comments>http://blog.44uk.net/2013/07/05/join-otoko-kimono/#comments</comments>
		<pubDate>Thu, 04 Jul 2013 16:28:59 +0000</pubDate>
		<dc:creator><![CDATA[yukku0423]]></dc:creator>
				<category><![CDATA[生活]]></category>
		<category><![CDATA[着物]]></category>

		<guid isPermaLink="false">http://blog.44uk.net/?p=1645</guid>
		<description><![CDATA[<p>実は去年暮れごろに一着、化繊の着物を購入して、家では和装で過ごしていたりしたのです。</p>
<p>まぁそこ止まりで外出したりするには及ばないまま1年立ちそうですが、いままで本やネットでの見よう見まねでやっていたところ、男きもの普及協会さんというところで着付け教室をやっているのを発見したので早速参加してみました。</p>
<p>  男きもの普及協会</p>
<p>内容<br />
講座は2時間。</p>
]]></description>
		<wfw:commentRss>http://blog.44uk.net/2013/07/05/join-otoko-kimono/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
