<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>CI2 template パッケージ導入 へのコメント</title>
	<atom:link href="/2011/07/31/ci2-install-template/feed/" rel="self" type="application/rss+xml" />
	<link>http://blog.44uk.net/2011/07/31/ci2-install-template/</link>
	<description></description>
	<lastBuildDate>Sun, 13 May 2012 01:13:58 +0000</lastBuildDate>
		<sy:updatePeriod>hourly</sy:updatePeriod>
		<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=3.8.2</generator>
	<item>
		<title>yukku0423 より</title>
		<link>http://blog.44uk.net/2011/07/31/ci2-install-template/#comment-6</link>
		<dc:creator><![CDATA[yukku0423]]></dc:creator>
		<pubDate>Sun, 21 Aug 2011 14:25:14 +0000</pubDate>
		<guid isPermaLink="false">http://blog.44uk.net/?p=370#comment-6</guid>
		<description><![CDATA[2.0.3 のソースを見たところ、 get_var() メソッドが実装されていました。動作するようですね。
執筆時点で Reactor版最新 を使っていたときに無かったので、My_Loaderに追記したのが経緯です。
おそらくSparks経由でも動くでしょう。]]></description>
		<content:encoded><![CDATA[<p>2.0.3 のソースを見たところ、 get_var() メソッドが実装されていました。動作するようですね。<br />
執筆時点で Reactor版最新 を使っていたときに無かったので、My_Loaderに追記したのが経緯です。<br />
おそらくSparks経由でも動くでしょう。</p>
]]></content:encoded>
	</item>
	<item>
		<title>shikoku2011 (@shikoku2011) より</title>
		<link>http://blog.44uk.net/2011/07/31/ci2-install-template/#comment-5</link>
		<dc:creator><![CDATA[shikoku2011 (@shikoku2011)]]></dc:creator>
		<pubDate>Sun, 21 Aug 2011 10:50:33 +0000</pubDate>
		<guid isPermaLink="false">http://blog.44uk.net/?p=370#comment-5</guid>
		<description><![CDATA[CI2.0.3にTemplate libraryの1.8.0を使ってみましたが、問題なく動いています。ただ、Sparksは使用していません。]]></description>
		<content:encoded><![CDATA[<p>CI2.0.3にTemplate libraryの1.8.0を使ってみましたが、問題なく動いています。ただ、Sparksは使用していません。</p>
]]></content:encoded>
	</item>
</channel>
</rss>
