<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>yukku++ &#187; プリンタ</title>
	<atom:link href="/tag/%e3%83%97%e3%83%aa%e3%83%b3%e3%82%bf/feed/" rel="self" type="application/rss+xml" />
	<link>http://wp.44uk.net</link>
	<description></description>
	<lastBuildDate>Sun, 13 Apr 2014 03:02:51 +0000</lastBuildDate>
	<language>ja</language>
		<sy:updatePeriod>hourly</sy:updatePeriod>
		<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=3.8.2</generator>
	<item>
		<title>brother MyMio DCP-J925N にダイソーの詰め替えインクをつかった</title>
		<link>http://blog.44uk.net/2012/12/15/brother-mymio-dcp-j925n-alt-ink/</link>
		<comments>http://blog.44uk.net/2012/12/15/brother-mymio-dcp-j925n-alt-ink/#comments</comments>
		<pubDate>Sat, 15 Dec 2012 13:57:58 +0000</pubDate>
		<dc:creator><![CDATA[yukku0423]]></dc:creator>
				<category><![CDATA[ハードウェア]]></category>
		<category><![CDATA[インク]]></category>
		<category><![CDATA[ダイソー]]></category>
		<category><![CDATA[プリンタ]]></category>

		<guid isPermaLink="false">http://blog.44uk.net/?p=1269</guid>
		<description><![CDATA[<p>購入時に付属していたインクが切れそうになったので、代わりのインクも購入したが、庶民の味方ダイソーにLC12対応の詰め替えインクがあったので購入してみた。</p>
<p>と、購入してから気がついた。シアンだけがLC12対応版を買ってた…。<br />
内容物</p>
<p>内容物を確認したところ、マニュアルの内容はもちろん異なるが、ノズル、手袋とインクと同じだった。</p>
]]></description>
		<wfw:commentRss>http://blog.44uk.net/2012/12/15/brother-mymio-dcp-j925n-alt-ink/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>新しいプリンタ brother MyMio DCP-J925N を購入</title>
		<link>http://blog.44uk.net/2012/08/14/brother-mymio-dcp-j925n-review/</link>
		<comments>http://blog.44uk.net/2012/08/14/brother-mymio-dcp-j925n-review/#comments</comments>
		<pubDate>Tue, 14 Aug 2012 14:50:09 +0000</pubDate>
		<dc:creator><![CDATA[yukku0423]]></dc:creator>
				<category><![CDATA[未定義]]></category>
		<category><![CDATA[プリンタ]]></category>

		<guid isPermaLink="false">http://blog.44uk.net/?p=1118</guid>
		<description><![CDATA[<p>別に以前購入した DCP-J715N が故障した訳ではなく、よく働いてくれているのですが、AirPrint に未対応という不満が出てきました。</p>
<p><a href="http://www.amazon.co.jp/%E3%83%96%E3%83%A9%E3%82%B6%E3%83%BC%E5%B7%A5%E6%A5%AD-DCP-J925N-BROTHER-A4%E3%82%A4%E3%83%B3%E3%82%AF%E3%82%B8%E3%82%A7%E3%83%83%E3%83%88%E8%A4%87%E5%90%88%E6%A9%9F-MyMio/dp/B005LDY106%3FSubscriptionId%3DAKIAJU72GCNK2OGHPNKQ%26tag%3Dblog44uk-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3DB005LDY106" title="BROTHER A4インクジェット複合機 MyMio DCP-J925N" target="_blank"><br />
<img src="http://ecx.images-amazon.com/images/I/41gAl4kcWoL._SL160_.jpg" width="160" height="114" alt="BROTHER A4インクジェット複合機 MyMio DCP-J925N"/><br />
BROTHER A4インクジェット複合機 MyMio DCP-J925N<br />
</a></p>
<p>購入スパンとしては自分のなかで短めでしたが、ちょうど良いタイミングでセール価格で 10,000 円を切る価格で購入できたので、乗り換えです。</p>
]]></description>
		<wfw:commentRss>http://blog.44uk.net/2012/08/14/brother-mymio-dcp-j925n-review/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
