<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>yukku++</title>
	<atom:link href="/feed/" rel="self" type="application/rss+xml" />
	<link>http://wp.44uk.net</link>
	<description></description>
	<lastBuildDate>Sun, 13 Apr 2014 03:02:51 +0000</lastBuildDate>
	<language>ja</language>
		<sy:updatePeriod>hourly</sy:updatePeriod>
		<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=3.8.2</generator>
	<item>
		<title>bxSlider でアイテムが少し見切れるような実装をする方法</title>
		<link>http://blog.44uk.net/2014/01/26/bxslider-partly-item/</link>
		<comments>http://blog.44uk.net/2014/01/26/bxslider-partly-item/#comments</comments>
		<pubDate>Sun, 26 Jan 2014 02:12:22 +0000</pubDate>
		<dc:creator><![CDATA[yukku0423]]></dc:creator>
				<category><![CDATA[プログラミング]]></category>
		<category><![CDATA[bxslider]]></category>
		<category><![CDATA[javascript]]></category>

		<guid isPermaLink="false">http://blog.44uk.net/?p=1774</guid>
		<description><![CDATA[<p>まずは実装から</p>
<p>	http://jsfiddle.net/yukku0423/Vp4fj/embedded/result/</p>
<p>こんな感じに実装する必要があったんですが、オプションで提供されているわけでもなかったので、色々いじくった結果です。<br />
コツ<br />
デモでは 4 つのアイテム + 1つ見きれ という感じでやるために、こんなオプションを渡しました。</p>
]]></description>
		<wfw:commentRss>http://blog.44uk.net/2014/01/26/bxslider-partly-item/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Image#onload で複数の画像のロードを待って同期させたい</title>
		<link>http://blog.44uk.net/2013/12/07/multiple-img-onload/</link>
		<comments>http://blog.44uk.net/2013/12/07/multiple-img-onload/#comments</comments>
		<pubDate>Sat, 07 Dec 2013 02:09:42 +0000</pubDate>
		<dc:creator><![CDATA[yukku0423]]></dc:creator>
				<category><![CDATA[プログラミング]]></category>
		<category><![CDATA[javascript]]></category>

		<guid isPermaLink="false">http://blog.44uk.net/?p=1772</guid>
		<description><![CDATA[<p>Canvas などに画像を描画する際に、Image オブジェクトを生成して、src にパスを渡して、画像が読み込まれたら描画処理を行う、という流れが基本。</p>
]]></description>
		<wfw:commentRss>http://blog.44uk.net/2013/12/07/multiple-img-onload/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Rails の assetpipeline が便利だけど sass の @import で困る</title>
		<link>http://blog.44uk.net/2013/11/23/rails-assetpipeline-conflicts-sass-import/</link>
		<comments>http://blog.44uk.net/2013/11/23/rails-assetpipeline-conflicts-sass-import/#comments</comments>
		<pubDate>Sat, 23 Nov 2013 02:05:06 +0000</pubDate>
		<dc:creator><![CDATA[yukku0423]]></dc:creator>
				<category><![CDATA[未定義]]></category>
		<category><![CDATA[rails]]></category>

		<guid isPermaLink="false">http://blog.44uk.net/?p=1770</guid>
		<description><![CDATA[<p>トピック的には Rails4 どころか Rails3 でしかも初歩的な話なのですが、久々に触ったらちょっと困ったので備忘録。</p>
<p>Rails には 3 あたりから AssetPipeline という、画像、js、css をよしなに扱ってくれる app/assets/ というディレクトリがあるのですが、css を sass で書いたときに @import を使う場合に書き換えが必要でした。</p>
]]></description>
		<wfw:commentRss>http://blog.44uk.net/2013/11/23/rails-assetpipeline-conflicts-sass-import/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>セキュリティスペシャリスト試験対策 安く済ませるための参考サイトとか</title>
		<link>http://blog.44uk.net/2013/10/25/pass-security-specialist-exam-cheaply/</link>
		<comments>http://blog.44uk.net/2013/10/25/pass-security-specialist-exam-cheaply/#comments</comments>
		<pubDate>Fri, 25 Oct 2013 01:57:25 +0000</pubDate>
		<dc:creator><![CDATA[yukku0423]]></dc:creator>
				<category><![CDATA[生活]]></category>
		<category><![CDATA[IPA]]></category>
		<category><![CDATA[資格]]></category>

		<guid isPermaLink="false">http://blog.44uk.net/?p=1767</guid>
		<description><![CDATA[<p>先日、セキュリティスペシャリストの試験を受けてきました。</p>
<p>実務で役に立つ業務に従事してないんですが、やはり基本的な知識を持ち合わせているのとそうでないのでは考えかたにも差は生まれるだろうし、プロとして知識はしっかりと身につけておきたいものです。</p>
<p>こんなトピックいまさらもいいところなので、備忘録的にだけ残しておきます。</p>
]]></description>
		<wfw:commentRss>http://blog.44uk.net/2013/10/25/pass-security-specialist-exam-cheaply/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>git の特定のリビジョンからファイルや差分を取り出すスクリプト(SourceTree で使える)</title>
		<link>http://blog.44uk.net/2013/08/13/git-export-tools-for-sourcetre/</link>
		<comments>http://blog.44uk.net/2013/08/13/git-export-tools-for-sourcetre/#comments</comments>
		<pubDate>Tue, 13 Aug 2013 02:03:33 +0000</pubDate>
		<dc:creator><![CDATA[yukku0423]]></dc:creator>
				<category><![CDATA[開発ツール]]></category>
		<category><![CDATA[git]]></category>
		<category><![CDATA[ruby]]></category>
		<category><![CDATA[sourcetree]]></category>

		<guid isPermaLink="false">http://blog.44uk.net/?p=1747</guid>
		<description><![CDATA[<p>この前作ったスクリプト、</p>
<p>  SourceTree で指定のリビジョン間の差分ファイルだけ取り出したい</p>
<p>をより改良し、一般的に使うことができるものとして仕上げました。</p>
<p>このリポジトリをクローンしてください。<br />
といっても必要なのはスクリプトだけなので、アーカイブでもいいし、ファイルだけでもいいです。</p>
]]></description>
		<wfw:commentRss>http://blog.44uk.net/2013/08/13/git-export-tools-for-sourcetre/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Rails 使いが FuelPHP(1.6) を使ってみた3 Model編</title>
		<link>http://blog.44uk.net/2013/08/08/fuelphp-16-3-by-rails-user/</link>
		<comments>http://blog.44uk.net/2013/08/08/fuelphp-16-3-by-rails-user/#comments</comments>
		<pubDate>Thu, 08 Aug 2013 01:40:09 +0000</pubDate>
		<dc:creator><![CDATA[yukku0423]]></dc:creator>
				<category><![CDATA[プログラミング]]></category>
		<category><![CDATA[fuelphp]]></category>
		<category><![CDATA[php]]></category>

		<guid isPermaLink="false">http://blog.44uk.net/?p=1723</guid>
		<description><![CDATA[<p>実は環境の立ち上げに結構手間取ったのですが、ここまできてしまえばあとはガツガツコードを書いていくだけです。一番楽しいところです。</p>
<p>(と、おもったんですけどね…)<br />
モデルを作成<br />
まずはモデルから作成してみました。ユーザーのモデルを想定しています。</p>
]]></description>
		<wfw:commentRss>http://blog.44uk.net/2013/08/08/fuelphp-16-3-by-rails-user/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Rails 使いが FuelPHP(1.6) を使ってみた2 Scaffold編</title>
		<link>http://blog.44uk.net/2013/08/08/fuelphp-16-2-by-rails-user/</link>
		<comments>http://blog.44uk.net/2013/08/08/fuelphp-16-2-by-rails-user/#comments</comments>
		<pubDate>Thu, 08 Aug 2013 01:20:26 +0000</pubDate>
		<dc:creator><![CDATA[yukku0423]]></dc:creator>
				<category><![CDATA[プログラミング]]></category>
		<category><![CDATA[fuelphp]]></category>
		<category><![CDATA[php]]></category>

		<guid isPermaLink="false">http://blog.44uk.net/?p=1704</guid>
		<description><![CDATA[<p>前回立ち上げたプロジェクトの実装を進めていきます。</p>
<p>まずは Scaffold で生成されたコードを参考にしたいので、実行してみます。</p>
<p>が、その前に。<br />
環境モード<br />
FuelPHP には Rails.env のような環境モードが設定出来ます。</p>
<p>設定の仕方は、public/.htaccess に以下のような記述でモードを指定できます。2行目にコメントアウトされて書いてありました。</p>
]]></description>
		<wfw:commentRss>http://blog.44uk.net/2013/08/08/fuelphp-16-2-by-rails-user/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Rails 使いが FuelPHP(1.6) を使ってみた1 プロジェクト作成編</title>
		<link>http://blog.44uk.net/2013/08/08/fuelphp-16-1-by-rails-user/</link>
		<comments>http://blog.44uk.net/2013/08/08/fuelphp-16-1-by-rails-user/#comments</comments>
		<pubDate>Thu, 08 Aug 2013 01:00:15 +0000</pubDate>
		<dc:creator><![CDATA[yukku0423]]></dc:creator>
				<category><![CDATA[プログラミング]]></category>
		<category><![CDATA[fuelphp]]></category>
		<category><![CDATA[php]]></category>
		<category><![CDATA[vagrant]]></category>

		<guid isPermaLink="false">http://blog.44uk.net/?p=1700</guid>
		<description><![CDATA[<p>前回 fuelphp 1.5 を触ってから随分と間が開いてしまい、1.6 がリリースされ、composer などが統合されたとのこともあり、再度やり直してみました。</p>
<p>前回のトライはこちら。</p>
<p>  Rails 使いが FuelPHP(1.5) を使ってみた1 プロジェクト作成編<br />
  Rails 使いが FuelPHP(1.5) を使ってみた2 Scaffold編</p>
<p>(Rails 使いとかいいながら最近全然 rails の仕事も無いし、作ってもいないし、ドヤ顔できるほどのユーザーでは無いのです…涙。</p>
]]></description>
		<wfw:commentRss>http://blog.44uk.net/2013/08/08/fuelphp-16-1-by-rails-user/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
