<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>yukku++ &#187; bug</title>
	<atom:link href="/tag/bug/feed/" rel="self" type="application/rss+xml" />
	<link>http://wp.44uk.net</link>
	<description></description>
	<lastBuildDate>Sun, 13 Apr 2014 03:02:51 +0000</lastBuildDate>
	<language>ja</language>
		<sy:updatePeriod>hourly</sy:updatePeriod>
		<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=3.8.2</generator>
	<item>
		<title>CodeIgniter 2.x データベースの db_degug を有効にすると fatal error</title>
		<link>http://blog.44uk.net/2011/07/03/ci2-db_debug_error/</link>
		<comments>http://blog.44uk.net/2011/07/03/ci2-db_debug_error/#comments</comments>
		<pubDate>Sun, 03 Jul 2011 10:57:14 +0000</pubDate>
		<dc:creator><![CDATA[yukku0423]]></dc:creator>
				<category><![CDATA[プログラミング]]></category>
		<category><![CDATA[bug]]></category>

		<guid isPermaLink="false">http://blog.44uk.net/?p=295</guid>
		<description><![CDATA[<p>追記<br />
どうやらかならず起きる問題じゃないみたい。でも起こりうる問題として、誰かの助けになればと残す。</p>
<p>ただの思い込みか勘違いかもしれないけど。<br />
症状<br />
SQLite使いたくてうまく動かないから、デバッグが見れそうな、database.php で定義する db_debug を有効にしたところ、以下のエラーが表示された。</p>
]]></description>
		<wfw:commentRss>http://blog.44uk.net/2011/07/03/ci2-db_debug_error/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>CodeIgniter 2.0.2 の third_party 読み込み不具合</title>
		<link>http://blog.44uk.net/2011/06/27/ci20-third-party-not-working/</link>
		<comments>http://blog.44uk.net/2011/06/27/ci20-third-party-not-working/#comments</comments>
		<pubDate>Sun, 26 Jun 2011 22:44:24 +0000</pubDate>
		<dc:creator><![CDATA[yukku0423]]></dc:creator>
				<category><![CDATA[プログラミング]]></category>
		<category><![CDATA[bug]]></category>

		<guid isPermaLink="false">http://blog.44uk.net/?p=282</guid>
		<description><![CDATA[<p>CodeIgniter を使ってみようといろいろ検証・練習していたら、どうにも third_party の機能が動かない。</p>
<p>具体的には、 autoload もしくは add_package_path で読み込んでいるのに、system/core/Config.php でエラーが出るので利用できなかった。</p>
]]></description>
		<wfw:commentRss>http://blog.44uk.net/2011/06/27/ci20-third-party-not-working/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
