<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>yukku++ &#187; javascript</title>
	<atom:link href="/tag/javascript/feed/" rel="self" type="application/rss+xml" />
	<link>http://wp.44uk.net</link>
	<description></description>
	<lastBuildDate>Sun, 13 Apr 2014 03:02:51 +0000</lastBuildDate>
	<language>ja</language>
		<sy:updatePeriod>hourly</sy:updatePeriod>
		<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=3.8.2</generator>
	<item>
		<title>bxSlider でアイテムが少し見切れるような実装をする方法</title>
		<link>http://blog.44uk.net/2014/01/26/bxslider-partly-item/</link>
		<comments>http://blog.44uk.net/2014/01/26/bxslider-partly-item/#comments</comments>
		<pubDate>Sun, 26 Jan 2014 02:12:22 +0000</pubDate>
		<dc:creator><![CDATA[yukku0423]]></dc:creator>
				<category><![CDATA[プログラミング]]></category>
		<category><![CDATA[bxslider]]></category>
		<category><![CDATA[javascript]]></category>

		<guid isPermaLink="false">http://blog.44uk.net/?p=1774</guid>
		<description><![CDATA[<p>まずは実装から</p>
<p>	http://jsfiddle.net/yukku0423/Vp4fj/embedded/result/</p>
<p>こんな感じに実装する必要があったんですが、オプションで提供されているわけでもなかったので、色々いじくった結果です。<br />
コツ<br />
デモでは 4 つのアイテム + 1つ見きれ という感じでやるために、こんなオプションを渡しました。</p>
]]></description>
		<wfw:commentRss>http://blog.44uk.net/2014/01/26/bxslider-partly-item/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Image#onload で複数の画像のロードを待って同期させたい</title>
		<link>http://blog.44uk.net/2013/12/07/multiple-img-onload/</link>
		<comments>http://blog.44uk.net/2013/12/07/multiple-img-onload/#comments</comments>
		<pubDate>Sat, 07 Dec 2013 02:09:42 +0000</pubDate>
		<dc:creator><![CDATA[yukku0423]]></dc:creator>
				<category><![CDATA[プログラミング]]></category>
		<category><![CDATA[javascript]]></category>

		<guid isPermaLink="false">http://blog.44uk.net/?p=1772</guid>
		<description><![CDATA[<p>Canvas などに画像を描画する際に、Image オブジェクトを生成して、src にパスを渡して、画像が読み込まれたら描画処理を行う、という流れが基本。</p>
]]></description>
		<wfw:commentRss>http://blog.44uk.net/2013/12/07/multiple-img-onload/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>jQuery#map で配列を返してるのに二次元配列にならなかった</title>
		<link>http://blog.44uk.net/2013/02/20/nested-array-by-jquery-map/</link>
		<comments>http://blog.44uk.net/2013/02/20/nested-array-by-jquery-map/#comments</comments>
		<pubDate>Wed, 20 Feb 2013 04:59:25 +0000</pubDate>
		<dc:creator><![CDATA[yukku0423]]></dc:creator>
				<category><![CDATA[プログラミング]]></category>
		<category><![CDATA[javascript]]></category>
		<category><![CDATA[jquery]]></category>

		<guid isPermaLink="false">http://blog.44uk.net/?p=1419</guid>
		<description><![CDATA[<p>jQuery#map の中で配列を返しているのに、帰ってくる配列が flatten したみたいなのが戻るのでバグかな？と思ったら使い方の問題でした。<br />
具体例<br />
var array = $(&#8216;.hoge&#8217;).map(function(idx, elem){<br />
 return [$(this).attr('name'), $(this).attr('value')]<br />
})<br />
console.log(array) // [["name1", "value1"], ["name2", "value2"]] を期待するじゃん？<br />
しかし、以下が返却される。</p>
]]></description>
		<wfw:commentRss>http://blog.44uk.net/2013/02/20/nested-array-by-jquery-map/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>canvas-tetris のコードリーディングをしてみた</title>
		<link>http://blog.44uk.net/2012/12/29/canvas-tetris-code-reading/</link>
		<comments>http://blog.44uk.net/2012/12/29/canvas-tetris-code-reading/#comments</comments>
		<pubDate>Sat, 29 Dec 2012 12:33:05 +0000</pubDate>
		<dc:creator><![CDATA[yukku0423]]></dc:creator>
				<category><![CDATA[プログラミング]]></category>
		<category><![CDATA[javascript]]></category>

		<guid isPermaLink="false">http://blog.44uk.net/?p=1335</guid>
		<description><![CDATA[<p>ネタとしては古いが canvas を用いたテトリスのコードリーディングに取り組んでみた。</p>
<p>dionyziz / canvas-tetris</p>
<p>300行程度で動くテトリスが実装されているということで、ボリューム的には簡単すぎず、苦もなくよさそうです。</p>
<p>私はゲーム制作の経験も無ければ、物理も得意ではないし、金もないし、彼女もいません。</p>
<p>そんな前提の人が取り組んだ手記です。</p>
]]></description>
		<wfw:commentRss>http://blog.44uk.net/2012/12/29/canvas-tetris-code-reading/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>とっても便利な jQuery Socialbutton の twitter をハッシュタグに対応させた</title>
		<link>http://blog.44uk.net/2012/12/22/twitter-hashtags-in-jquery-socialbutton/</link>
		<comments>http://blog.44uk.net/2012/12/22/twitter-hashtags-in-jquery-socialbutton/#comments</comments>
		<pubDate>Fri, 21 Dec 2012 17:29:44 +0000</pubDate>
		<dc:creator><![CDATA[yukku0423]]></dc:creator>
				<category><![CDATA[プログラミング]]></category>
		<category><![CDATA[javascript]]></category>
		<category><![CDATA[jquery]]></category>
		<category><![CDATA[sns]]></category>

		<guid isPermaLink="false">http://blog.44uk.net/?p=1312</guid>
		<description><![CDATA[<p>各種ソーシャルボタンを一撃で出力できる超ベンリライブラリの jQuery Socialbutton を使わせてもらっているのですが、Twitter のハッシュタグに対応していませんでした。</p>
<p>Pinterest/Google+1/Twitter/facebookいいね/facebook Share/mixiチェック/mixiイイネ/GREEいいね/Evernote/はてブのボタンを超カンタンに作れる jQuery.socialbutton プラグインを作ったよ &#124; アイトランス株式会社</p>
<p>ので、対応させちゃいました。</p>
]]></description>
		<wfw:commentRss>http://blog.44uk.net/2012/12/22/twitter-hashtags-in-jquery-socialbutton/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Javascript MVC フレームワーク Spine を使ってみる</title>
		<link>http://blog.44uk.net/2012/08/24/spine-try-js-framework/</link>
		<comments>http://blog.44uk.net/2012/08/24/spine-try-js-framework/#comments</comments>
		<pubDate>Fri, 24 Aug 2012 12:02:16 +0000</pubDate>
		<dc:creator><![CDATA[yukku0423]]></dc:creator>
				<category><![CDATA[開発ツール]]></category>
		<category><![CDATA[javascript]]></category>
		<category><![CDATA[spine]]></category>

		<guid isPermaLink="false">http://blog.44uk.net/?p=1160</guid>
		<description><![CDATA[<p>javascript MVC フレームワークを初めてやってみるにあたって、MVC なぞ Rails でもう十分やっとるわい、というスタンスで取り組んだらまんまとハマったので復習もかねてメモ。</p>
<p>最初は backborn.js に取り組んでみようかと思ったのですが、いまいちピンとこず挫折。</p>
]]></description>
		<wfw:commentRss>http://blog.44uk.net/2012/08/24/spine-try-js-framework/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>jQuery Mobile でヘッダーの文字の省略を解除する</title>
		<link>http://blog.44uk.net/2011/12/13/jquery-mobile-disabled-shorten/</link>
		<comments>http://blog.44uk.net/2011/12/13/jquery-mobile-disabled-shorten/#comments</comments>
		<pubDate>Mon, 12 Dec 2011 17:12:06 +0000</pubDate>
		<dc:creator><![CDATA[yukku0423]]></dc:creator>
				<category><![CDATA[プログラミング]]></category>
		<category><![CDATA[javascript]]></category>
		<category><![CDATA[jquery-mobile]]></category>

		<guid isPermaLink="false">http://blog.44uk.net/?p=834</guid>
		<description><![CDATA[<p>jQuery Mobile で作ったヘッダーに10文字くらいの文字列が入ると、&#8221;&#8230;&#8221; のように勝手に省略されてしまう。</p>
<p>画面の狭いスマートフォン向けとしては理にかなった表現なのかもしれないが、それを全部表示させたい場合。<br />
解決策</p>
<p>  jQuery Mobileを使ったスマートフォンサイト制作に役立つスニペット</p>
<p>「テキストを省略せずに表示する」に解除する CSS が載っているので使わせてもらう。</p>
]]></description>
		<wfw:commentRss>http://blog.44uk.net/2011/12/13/jquery-mobile-disabled-shorten/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
