<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>yukku++ &#187; orphan</title>
	<atom:link href="/tag/orphan/feed/" rel="self" type="application/rss+xml" />
	<link>http://wp.44uk.net</link>
	<description></description>
	<lastBuildDate>Sun, 13 Apr 2014 03:02:51 +0000</lastBuildDate>
	<language>ja</language>
		<sy:updatePeriod>hourly</sy:updatePeriod>
		<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=3.8.2</generator>
	<item>
		<title>github pages みたいに、独立したブランチを作りたいとき</title>
		<link>http://blog.44uk.net/2013/06/01/git-make-an-orphan-branch/</link>
		<comments>http://blog.44uk.net/2013/06/01/git-make-an-orphan-branch/#comments</comments>
		<pubDate>Sat, 01 Jun 2013 05:19:56 +0000</pubDate>
		<dc:creator><![CDATA[yukku0423]]></dc:creator>
				<category><![CDATA[開発ツール]]></category>
		<category><![CDATA[branch]]></category>
		<category><![CDATA[git]]></category>
		<category><![CDATA[orphan]]></category>

		<guid isPermaLink="false">http://blog.44uk.net/?p=1637</guid>
		<description><![CDATA[<p>github には github pages という、gh-pages という名前のブランチにコミットされたファイルをプロジェクトの静的ページとして http://{username}.github.com/ というアドレスで公開できるすんばらしい機能があります。</p>
<p>  GitHub Pages</p>
<p>gh-pages というブランチをコミットすれば表示されるのですが、管理画面からボタン１つでテンプレート込のCoolなページを作成してくれます。</p>
]]></description>
		<wfw:commentRss>http://blog.44uk.net/2013/06/01/git-make-an-orphan-branch/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
