<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>yukku++ &#187; jpg</title>
	<atom:link href="/tag/jpg/feed/" rel="self" type="application/rss+xml" />
	<link>http://wp.44uk.net</link>
	<description></description>
	<lastBuildDate>Sun, 13 Apr 2014 03:02:51 +0000</lastBuildDate>
	<language>ja</language>
		<sy:updatePeriod>hourly</sy:updatePeriod>
		<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=3.8.2</generator>
	<item>
		<title>JPEG 画像を無劣化で容量を減らす jhead, jpegoptim</title>
		<link>http://blog.44uk.net/2012/10/07/squeeze-jpeg-size/</link>
		<comments>http://blog.44uk.net/2012/10/07/squeeze-jpeg-size/#comments</comments>
		<pubDate>Sun, 07 Oct 2012 11:19:48 +0000</pubDate>
		<dc:creator><![CDATA[yukku0423]]></dc:creator>
				<category><![CDATA[ソフトウェア]]></category>
		<category><![CDATA[exif]]></category>
		<category><![CDATA[jpg]]></category>

		<guid isPermaLink="false">http://blog.44uk.net/?p=1201</guid>
		<description><![CDATA[<p>JPEG 画像は画像編集ソフトで編集したり、カメラに寄っては exif 情報を持たせたりしていて、それはそれで便利だったりするのだけど、必要がないなら削除して 1byte でも節約しておきたい所です。</p>
<p>特に web 素材なら少しでも小さいサイズにしておきたい。</p>
<p>Windows では JPG Cleaner をつかってまとめて掃除していましたが、mac で使うのにコマンドラインツールは無いかと探したところ、jhead と jpegoptimというソフトが見つかりました。</p>
]]></description>
		<wfw:commentRss>http://blog.44uk.net/2012/10/07/squeeze-jpeg-size/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
