<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>yukku++ &#187; 生活</title>
	<atom:link href="/category/life/feed/" rel="self" type="application/rss+xml" />
	<link>http://wp.44uk.net</link>
	<description></description>
	<lastBuildDate>Sun, 13 Apr 2014 03:02:51 +0000</lastBuildDate>
	<language>ja</language>
		<sy:updatePeriod>hourly</sy:updatePeriod>
		<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=3.8.2</generator>
	<item>
		<title>セキュリティスペシャリスト試験対策 安く済ませるための参考サイトとか</title>
		<link>http://blog.44uk.net/2013/10/25/pass-security-specialist-exam-cheaply/</link>
		<comments>http://blog.44uk.net/2013/10/25/pass-security-specialist-exam-cheaply/#comments</comments>
		<pubDate>Fri, 25 Oct 2013 01:57:25 +0000</pubDate>
		<dc:creator><![CDATA[yukku0423]]></dc:creator>
				<category><![CDATA[生活]]></category>
		<category><![CDATA[IPA]]></category>
		<category><![CDATA[資格]]></category>

		<guid isPermaLink="false">http://blog.44uk.net/?p=1767</guid>
		<description><![CDATA[<p>先日、セキュリティスペシャリストの試験を受けてきました。</p>
<p>実務で役に立つ業務に従事してないんですが、やはり基本的な知識を持ち合わせているのとそうでないのでは考えかたにも差は生まれるだろうし、プロとして知識はしっかりと身につけておきたいものです。</p>
<p>こんなトピックいまさらもいいところなので、備忘録的にだけ残しておきます。</p>
]]></description>
		<wfw:commentRss>http://blog.44uk.net/2013/10/25/pass-security-specialist-exam-cheaply/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>男きもの着付け講座 に参加してみた</title>
		<link>http://blog.44uk.net/2013/07/05/join-otoko-kimono/</link>
		<comments>http://blog.44uk.net/2013/07/05/join-otoko-kimono/#comments</comments>
		<pubDate>Thu, 04 Jul 2013 16:28:59 +0000</pubDate>
		<dc:creator><![CDATA[yukku0423]]></dc:creator>
				<category><![CDATA[生活]]></category>
		<category><![CDATA[着物]]></category>

		<guid isPermaLink="false">http://blog.44uk.net/?p=1645</guid>
		<description><![CDATA[<p>実は去年暮れごろに一着、化繊の着物を購入して、家では和装で過ごしていたりしたのです。</p>
<p>まぁそこ止まりで外出したりするには及ばないまま1年立ちそうですが、いままで本やネットでの見よう見まねでやっていたところ、男きもの普及協会さんというところで着付け教室をやっているのを発見したので早速参加してみました。</p>
<p>  男きもの普及協会</p>
<p>内容<br />
講座は2時間。</p>
]]></description>
		<wfw:commentRss>http://blog.44uk.net/2013/07/05/join-otoko-kimono/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>遮音性の高そうな耳栓を買ってみた</title>
		<link>http://blog.44uk.net/2013/02/09/buy-ear-plug/</link>
		<comments>http://blog.44uk.net/2013/02/09/buy-ear-plug/#comments</comments>
		<pubDate>Sat, 09 Feb 2013 04:01:12 +0000</pubDate>
		<dc:creator><![CDATA[yukku0423]]></dc:creator>
				<category><![CDATA[生活]]></category>
		<category><![CDATA[耳栓]]></category>

		<guid isPermaLink="false">http://blog.44uk.net/?p=1391</guid>
		<description><![CDATA[<p>最近寝付きと寝起きの気分が悪いので、なんとか快眠を得ようといろいろ工夫しているなか、</p>
<p>耳栓をして寝るとなんとなく快調に起床できる気がしたので、耳栓についてちょっと凝ってみることにした。</p>
<p>耳栓について調べてみると、NRR(ノイズ・リダクション・レーティング)という遮音性能値というものがあったり、いろいろな形やタイプがあることを改めて知りました。</p>
<p>そこで、ひとまずお試しということで以下のセットを購入。</p>
]]></description>
		<wfw:commentRss>http://blog.44uk.net/2013/02/09/buy-ear-plug/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>携帯電動歯ブラシ ポケットドルツ Pocket Doltz 購入</title>
		<link>http://blog.44uk.net/2011/09/02/tooth-brush-pocketdoltz/</link>
		<comments>http://blog.44uk.net/2011/09/02/tooth-brush-pocketdoltz/#comments</comments>
		<pubDate>Fri, 02 Sep 2011 04:18:00 +0000</pubDate>
		<dc:creator><![CDATA[yukku0423]]></dc:creator>
				<category><![CDATA[生活]]></category>
		<category><![CDATA[teeth]]></category>

		<guid isPermaLink="false">http://blog.44uk.net/?p=461</guid>
		<description><![CDATA[<p>普段は昼食後に歯磨きをしないんですが(フツーはするの？)、ちょっと甘味を摂ったあととか、スナック菓子を食べると歯がざらざらしてくるのがどうにも不愉快で、家に帰るまで我慢できない(だからといってどうしようもないけど)ので、携帯用歯ブラシを購入してみた。</p>
<p>  Panasonic ポケットドルツ 音波振動ハブラシ 白 EW-DS12-W</p>
<p>ポケットドルツに関しては以前から知っていたが、改めてチェックしてみて、なかなか良さそうなので購入決定。</p>
]]></description>
		<wfw:commentRss>http://blog.44uk.net/2011/09/02/tooth-brush-pocketdoltz/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>L-メントール ハッカ結晶で爽快</title>
		<link>http://blog.44uk.net/2011/08/26/l-menthol-cooling/</link>
		<comments>http://blog.44uk.net/2011/08/26/l-menthol-cooling/#comments</comments>
		<pubDate>Thu, 25 Aug 2011 16:43:21 +0000</pubDate>
		<dc:creator><![CDATA[yukku0423]]></dc:creator>
				<category><![CDATA[生活]]></category>
		<category><![CDATA[爽快]]></category>

		<guid isPermaLink="false">http://blog.44uk.net/?p=444</guid>
		<description><![CDATA[<p>暑い日も落ち着いてきた今日。それでもまだ蒸す今日。</p>
<p>ハッカ油を活用するとスースーして気持ちがよいとネットで話題になっていて、購入を検討していたところ、ハッカ油の生成時に出来るハッカ結晶というものがあることにたどり着いた。</p>
<p>  メントールクリスタル　100g [L-メントール/メンソールクリスタル]</p>
<p>成分はほとんど同じ、あのハッカの匂いと清涼感。精油か結晶かの違い程度。</p>
]]></description>
		<wfw:commentRss>http://blog.44uk.net/2011/08/26/l-menthol-cooling/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
