<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>yukku++ &#187; jquery-mobile</title>
	<atom:link href="/tag/jquery-mobile/feed/" rel="self" type="application/rss+xml" />
	<link>http://wp.44uk.net</link>
	<description></description>
	<lastBuildDate>Sun, 13 Apr 2014 03:02:51 +0000</lastBuildDate>
	<language>ja</language>
		<sy:updatePeriod>hourly</sy:updatePeriod>
		<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=3.8.2</generator>
	<item>
		<title>jQuery Mobile でヘッダーの文字の省略を解除する</title>
		<link>http://blog.44uk.net/2011/12/13/jquery-mobile-disabled-shorten/</link>
		<comments>http://blog.44uk.net/2011/12/13/jquery-mobile-disabled-shorten/#comments</comments>
		<pubDate>Mon, 12 Dec 2011 17:12:06 +0000</pubDate>
		<dc:creator><![CDATA[yukku0423]]></dc:creator>
				<category><![CDATA[プログラミング]]></category>
		<category><![CDATA[javascript]]></category>
		<category><![CDATA[jquery-mobile]]></category>

		<guid isPermaLink="false">http://blog.44uk.net/?p=834</guid>
		<description><![CDATA[<p>jQuery Mobile で作ったヘッダーに10文字くらいの文字列が入ると、&#8221;&#8230;&#8221; のように勝手に省略されてしまう。</p>
<p>画面の狭いスマートフォン向けとしては理にかなった表現なのかもしれないが、それを全部表示させたい場合。<br />
解決策</p>
<p>  jQuery Mobileを使ったスマートフォンサイト制作に役立つスニペット</p>
<p>「テキストを省略せずに表示する」に解除する CSS が載っているので使わせてもらう。</p>
]]></description>
		<wfw:commentRss>http://blog.44uk.net/2011/12/13/jquery-mobile-disabled-shorten/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
