<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>yukku++ &#187; teeth</title>
	<atom:link href="/tag/teeth/feed/" rel="self" type="application/rss+xml" />
	<link>http://wp.44uk.net</link>
	<description></description>
	<lastBuildDate>Sun, 13 Apr 2014 03:02:51 +0000</lastBuildDate>
	<language>ja</language>
		<sy:updatePeriod>hourly</sy:updatePeriod>
		<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=3.8.2</generator>
	<item>
		<title>携帯電動歯ブラシ ポケットドルツ Pocket Doltz 購入</title>
		<link>http://blog.44uk.net/2011/09/02/tooth-brush-pocketdoltz/</link>
		<comments>http://blog.44uk.net/2011/09/02/tooth-brush-pocketdoltz/#comments</comments>
		<pubDate>Fri, 02 Sep 2011 04:18:00 +0000</pubDate>
		<dc:creator><![CDATA[yukku0423]]></dc:creator>
				<category><![CDATA[生活]]></category>
		<category><![CDATA[teeth]]></category>

		<guid isPermaLink="false">http://blog.44uk.net/?p=461</guid>
		<description><![CDATA[<p>普段は昼食後に歯磨きをしないんですが(フツーはするの？)、ちょっと甘味を摂ったあととか、スナック菓子を食べると歯がざらざらしてくるのがどうにも不愉快で、家に帰るまで我慢できない(だからといってどうしようもないけど)ので、携帯用歯ブラシを購入してみた。</p>
<p>  Panasonic ポケットドルツ 音波振動ハブラシ 白 EW-DS12-W</p>
<p>ポケットドルツに関しては以前から知っていたが、改めてチェックしてみて、なかなか良さそうなので購入決定。</p>
]]></description>
		<wfw:commentRss>http://blog.44uk.net/2011/09/02/tooth-brush-pocketdoltz/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
