<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>yukku++ &#187; ボトル</title>
	<atom:link href="/tag/%e3%83%9c%e3%83%88%e3%83%ab/feed/" rel="self" type="application/rss+xml" />
	<link>http://wp.44uk.net</link>
	<description></description>
	<lastBuildDate>Sun, 13 Apr 2014 03:02:51 +0000</lastBuildDate>
	<language>ja</language>
		<sy:updatePeriod>hourly</sy:updatePeriod>
		<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=3.8.2</generator>
	<item>
		<title>サイクリング用のボトル PODIUM BIG CHILL がすごく便利で使いやすかった</title>
		<link>http://blog.44uk.net/2013/07/06/good-item-camelbak-podium-big-chill/</link>
		<comments>http://blog.44uk.net/2013/07/06/good-item-camelbak-podium-big-chill/#comments</comments>
		<pubDate>Sat, 06 Jul 2013 06:13:31 +0000</pubDate>
		<dc:creator><![CDATA[yukku0423]]></dc:creator>
				<category><![CDATA[フォトレビュー]]></category>
		<category><![CDATA[自転車]]></category>
		<category><![CDATA[ボトル]]></category>

		<guid isPermaLink="false">http://blog.44uk.net/?p=1655</guid>
		<description><![CDATA[<p>たまにロードバイクでサイクリングをする程度だったのですが、最近友人と少し長めの距離をサイクリングするようになり、</p>
<p>いままではペットボトル飲料をそのままホルダーに突っ込んでいたのですが、微妙にサイズが合っていなかったり(そもそもホルダーは専用のボトルサイズなので)、キャップの開け閉めで発進が遅れたりと、走行の合間に補給することに億劫さすら感じていました。</p>
]]></description>
		<wfw:commentRss>http://blog.44uk.net/2013/07/06/good-item-camelbak-podium-big-chill/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
