<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>yukku++ &#187; インク</title>
	<atom:link href="/tag/%e3%82%a4%e3%83%b3%e3%82%af/feed/" rel="self" type="application/rss+xml" />
	<link>http://wp.44uk.net</link>
	<description></description>
	<lastBuildDate>Sun, 13 Apr 2014 03:02:51 +0000</lastBuildDate>
	<language>ja</language>
		<sy:updatePeriod>hourly</sy:updatePeriod>
		<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=3.8.2</generator>
	<item>
		<title>brother MyMio DCP-J925N にダイソーの詰め替えインクをつかった</title>
		<link>http://blog.44uk.net/2012/12/15/brother-mymio-dcp-j925n-alt-ink/</link>
		<comments>http://blog.44uk.net/2012/12/15/brother-mymio-dcp-j925n-alt-ink/#comments</comments>
		<pubDate>Sat, 15 Dec 2012 13:57:58 +0000</pubDate>
		<dc:creator><![CDATA[yukku0423]]></dc:creator>
				<category><![CDATA[ハードウェア]]></category>
		<category><![CDATA[インク]]></category>
		<category><![CDATA[ダイソー]]></category>
		<category><![CDATA[プリンタ]]></category>

		<guid isPermaLink="false">http://blog.44uk.net/?p=1269</guid>
		<description><![CDATA[<p>購入時に付属していたインクが切れそうになったので、代わりのインクも購入したが、庶民の味方ダイソーにLC12対応の詰め替えインクがあったので購入してみた。</p>
<p>と、購入してから気がついた。シアンだけがLC12対応版を買ってた…。<br />
内容物</p>
<p>内容物を確認したところ、マニュアルの内容はもちろん異なるが、ノズル、手袋とインクと同じだった。</p>
]]></description>
		<wfw:commentRss>http://blog.44uk.net/2012/12/15/brother-mymio-dcp-j925n-alt-ink/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
