<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>yukku++ &#187; ハードウェア</title>
	<atom:link href="/category/hardware/feed/" rel="self" type="application/rss+xml" />
	<link>http://wp.44uk.net</link>
	<description></description>
	<lastBuildDate>Sun, 13 Apr 2014 03:02:51 +0000</lastBuildDate>
	<language>ja</language>
		<sy:updatePeriod>hourly</sy:updatePeriod>
		<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=3.8.2</generator>
	<item>
		<title>brother MyMio DCP-J925N にダイソーの詰め替えインクをつかった</title>
		<link>http://blog.44uk.net/2012/12/15/brother-mymio-dcp-j925n-alt-ink/</link>
		<comments>http://blog.44uk.net/2012/12/15/brother-mymio-dcp-j925n-alt-ink/#comments</comments>
		<pubDate>Sat, 15 Dec 2012 13:57:58 +0000</pubDate>
		<dc:creator><![CDATA[yukku0423]]></dc:creator>
				<category><![CDATA[ハードウェア]]></category>
		<category><![CDATA[インク]]></category>
		<category><![CDATA[ダイソー]]></category>
		<category><![CDATA[プリンタ]]></category>

		<guid isPermaLink="false">http://blog.44uk.net/?p=1269</guid>
		<description><![CDATA[<p>購入時に付属していたインクが切れそうになったので、代わりのインクも購入したが、庶民の味方ダイソーにLC12対応の詰め替えインクがあったので購入してみた。</p>
<p>と、購入してから気がついた。シアンだけがLC12対応版を買ってた…。<br />
内容物</p>
<p>内容物を確認したところ、マニュアルの内容はもちろん異なるが、ノズル、手袋とインクと同じだった。</p>
]]></description>
		<wfw:commentRss>http://blog.44uk.net/2012/12/15/brother-mymio-dcp-j925n-alt-ink/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Netgear Stora MS2000 のリカバリー</title>
		<link>http://blog.44uk.net/2012/10/08/recovery-netgear-stora-ms2000/</link>
		<comments>http://blog.44uk.net/2012/10/08/recovery-netgear-stora-ms2000/#comments</comments>
		<pubDate>Mon, 08 Oct 2012 02:10:38 +0000</pubDate>
		<dc:creator><![CDATA[yukku0423]]></dc:creator>
				<category><![CDATA[ハードウェア]]></category>
		<category><![CDATA[nas]]></category>
		<category><![CDATA[stora]]></category>

		<guid isPermaLink="false">http://blog.44uk.net/?p=1203</guid>
		<description><![CDATA[<p>Stora という NAS を利用していたのですが、どうにも起動しなくなってしまい、故障を疑ったのですが、どうもシステムがぶっ壊れたようでした。</p>
<p><a href="http://www.amazon.co.jp/%E3%83%8D%E3%83%83%E3%83%88%E3%82%AE%E3%82%A2-MS2000-100JPS-NETGEAR-Stora-%E3%80%901%E5%B9%B4%E6%A8%99%E6%BA%96%E4%BF%9D%E8%A8%BC%E3%80%91%E3%83%9B%E3%83%BC%E3%83%A0%E3%82%B5%E3%83%BC%E3%83%90%E3%83%BC/dp/B005FP8FWA%3FSubscriptionId%3DAKIAJU72GCNK2OGHPNKQ%26tag%3Dblog44uk-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3DB005FP8FWA" title="NETGEAR Stora 【1年標準保証】ホームサーバー MS2000-100JPS" target="_blank"><br />
<img src="http://ecx.images-amazon.com/images/I/31IJr6YRPDL._SL160_.jpg" width="160" height="160" alt="NETGEAR Stora 【1年標準保証】ホームサーバー MS2000-100JPS"/><br />
NETGEAR Stora 【1年標準保証】ホームサーバー MS2000-100JPS<br />
</a></p>
<p>工場出荷状態の操作をしても改善しなかったのでどうしたものかと思って調べたら、リカバリーの手段が見つかり、これで解決した。</p>
]]></description>
		<wfw:commentRss>http://blog.44uk.net/2012/10/08/recovery-netgear-stora-ms2000/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Amazonでフラストレーションフリーパッケージというので WZR-HP-G302H/N を買ってみた</title>
		<link>http://blog.44uk.net/2012/05/21/buy-frustration-free-package/</link>
		<comments>http://blog.44uk.net/2012/05/21/buy-frustration-free-package/#comments</comments>
		<pubDate>Mon, 21 May 2012 13:43:45 +0000</pubDate>
		<dc:creator><![CDATA[yukku0423]]></dc:creator>
				<category><![CDATA[ハードウェア]]></category>
		<category><![CDATA[amazon]]></category>
		<category><![CDATA[wifi]]></category>

		<guid isPermaLink="false">http://blog.44uk.net/?p=1024</guid>
		<description><![CDATA[<p>無線LANルーター新調しようと、Amazon を見ていたらフラストレーションフリーパッケージ、とう選択肢が表示されていた。</p>
<p>見慣れないので何かと思ったが、簡易パッケージ版らしい。</p>
<p>このほうが値段も安かったので、フラストレーションフリーパッケージで注文してみた。</p>
]]></description>
		<wfw:commentRss>http://blog.44uk.net/2012/05/21/buy-frustration-free-package/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>brother MyMio 用 LC11 詰替えインクノズルを押込みすぎて壊したかと思ったら</title>
		<link>http://blog.44uk.net/2011/12/17/structure-of-ink-tank-lc11/</link>
		<comments>http://blog.44uk.net/2011/12/17/structure-of-ink-tank-lc11/#comments</comments>
		<pubDate>Sat, 17 Dec 2011 06:09:04 +0000</pubDate>
		<dc:creator><![CDATA[yukku0423]]></dc:creator>
				<category><![CDATA[ハードウェア]]></category>
		<category><![CDATA[ink]]></category>

		<guid isPermaLink="false">http://blog.44uk.net/?p=845</guid>
		<description><![CDATA[<p>brother MyMio DCP-J715N にダイソーの詰め替えインクつかっちゃった に引き続き、詰替えインクの話。</p>
<p>ダイソーの LC11 シリーズ用は詰替えボトルに付属のノズルを取り付け、インクタンクの注入口(?)に差し込んで、作業をするのだが、</p>
<p>このノズルを押し込みすぎたのか、曲がっていてヘンな力が加わったのか、タンクの注入口のゴムの部品が曲がってしまった！</p>
<p>インクタンクを壊しちゃったかと思ったが、分解して、取り付け直したら直ったので同じようにヤッチャッタ人は参考に。</p>
]]></description>
		<wfw:commentRss>http://blog.44uk.net/2011/12/17/structure-of-ink-tank-lc11/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>brother MyMio DCP-J715N にダイソーの詰め替えインクつかっちゃった</title>
		<link>http://blog.44uk.net/2011/11/06/brother-mymio-dcp-j715n-alt-ink/</link>
		<comments>http://blog.44uk.net/2011/11/06/brother-mymio-dcp-j715n-alt-ink/#comments</comments>
		<pubDate>Sun, 06 Nov 2011 14:16:50 +0000</pubDate>
		<dc:creator><![CDATA[yukku0423]]></dc:creator>
				<category><![CDATA[ハードウェア]]></category>
		<category><![CDATA[ink]]></category>

		<guid isPermaLink="false">http://blog.44uk.net/?p=739</guid>
		<description><![CDATA[<p>庶民のみかた 100円ショップ「ザ・ダイソー」 に新しくブラザー用の詰め替えインクが入っていたが、特に気にせずふーん、くらいに思っていた。</p>
<p>が、プリンタの黒インクが切れてしまい、新しいインクカードッジを調達するには少し時間がかかりそうで、近所のダイソーに詰め替えインクがあったことを思い出し、購入して利用してみた。</p>
<p>もちろん詰め替えは保障対象外で自己責任なのでおすすめは出来ないが、いちおう記録として。</p>
]]></description>
		<wfw:commentRss>http://blog.44uk.net/2011/11/06/brother-mymio-dcp-j715n-alt-ink/feed/</wfw:commentRss>
		<slash:comments>1</slash:comments>
		</item>
		<item>
		<title>新しいプリンタ brother MyMio DCP-J715N を購入</title>
		<link>http://blog.44uk.net/2011/07/01/brother-mymio-dcp-j715n-review/</link>
		<comments>http://blog.44uk.net/2011/07/01/brother-mymio-dcp-j715n-review/#comments</comments>
		<pubDate>Fri, 01 Jul 2011 06:38:16 +0000</pubDate>
		<dc:creator><![CDATA[yukku0423]]></dc:creator>
				<category><![CDATA[ハードウェア]]></category>
		<category><![CDATA[digimono review]]></category>

		<guid isPermaLink="false">http://blog.44uk.net/?p=292</guid>
		<description><![CDATA[<p>  DCP-J715N｜インクジェット｜ブラザー</p>
<p>先代プリンタの Canon PIXUS IX5000 がヘッド不良のエラーを出して印刷できなくなってしまった。</p>
<p>エラーランプの表示からヘッドの交換をしたら直りそうだったが、ヘッド単体で大体 5,000円くらい、Canon に修理に出すと9,000 いくらかの定額とのこと。</p>
]]></description>
		<wfw:commentRss>http://blog.44uk.net/2011/07/01/brother-mymio-dcp-j715n-review/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>FON 2405E 分解してみただけ</title>
		<link>http://blog.44uk.net/2010/09/12/fon-2405e-disassemble/</link>
		<comments>http://blog.44uk.net/2010/09/12/fon-2405e-disassemble/#comments</comments>
		<pubDate>Sun, 12 Sep 2010 06:28:30 +0000</pubDate>
		<dc:creator><![CDATA[yukku0423]]></dc:creator>
				<category><![CDATA[ハードウェア]]></category>
		<category><![CDATA[fon]]></category>

		<guid isPermaLink="false">http://blog.44uk.net/?p=25</guid>
		<description><![CDATA[<p>FON 2405E の分解写真。</p>
<p>基盤表側</p>
<p>基盤裏側</p>
<p>自分はせいぜい優秀な先人の情報を元にいじくること位しかできないが、今のところ改造情報が見当たらない。</p>
<p>一応何ヶ月かはFONとして運用して公衆無線LANに貢献しておく予定。</p>
<p>＊</p>
<p>  https://sites.google.com/site/hottunalabs/home/fonera-simpl-hacking</p>
<p>スーパーハカーが突破したらしいです。</p>
]]></description>
		<wfw:commentRss>http://blog.44uk.net/2010/09/12/fon-2405e-disassemble/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
