<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>yukku++ &#187; digimono review</title>
	<atom:link href="/tag/digimono-review/feed/" rel="self" type="application/rss+xml" />
	<link>http://wp.44uk.net</link>
	<description></description>
	<lastBuildDate>Sun, 13 Apr 2014 03:02:51 +0000</lastBuildDate>
	<language>ja</language>
		<sy:updatePeriod>hourly</sy:updatePeriod>
		<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=3.8.2</generator>
	<item>
		<title>新しいプリンタ brother MyMio DCP-J715N を購入</title>
		<link>http://blog.44uk.net/2011/07/01/brother-mymio-dcp-j715n-review/</link>
		<comments>http://blog.44uk.net/2011/07/01/brother-mymio-dcp-j715n-review/#comments</comments>
		<pubDate>Fri, 01 Jul 2011 06:38:16 +0000</pubDate>
		<dc:creator><![CDATA[yukku0423]]></dc:creator>
				<category><![CDATA[ハードウェア]]></category>
		<category><![CDATA[digimono review]]></category>

		<guid isPermaLink="false">http://blog.44uk.net/?p=292</guid>
		<description><![CDATA[<p>  DCP-J715N｜インクジェット｜ブラザー</p>
<p>先代プリンタの Canon PIXUS IX5000 がヘッド不良のエラーを出して印刷できなくなってしまった。</p>
<p>エラーランプの表示からヘッドの交換をしたら直りそうだったが、ヘッド単体で大体 5,000円くらい、Canon に修理に出すと9,000 いくらかの定額とのこと。</p>
]]></description>
		<wfw:commentRss>http://blog.44uk.net/2011/07/01/brother-mymio-dcp-j715n-review/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
