<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>yukku++ &#187; 開発ツール</title>
	<atom:link href="/category/development-tools/feed/" rel="self" type="application/rss+xml" />
	<link>http://wp.44uk.net</link>
	<description></description>
	<lastBuildDate>Sun, 13 Apr 2014 03:02:51 +0000</lastBuildDate>
	<language>ja</language>
		<sy:updatePeriod>hourly</sy:updatePeriod>
		<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=3.8.2</generator>
	<item>
		<title>git の特定のリビジョンからファイルや差分を取り出すスクリプト(SourceTree で使える)</title>
		<link>http://blog.44uk.net/2013/08/13/git-export-tools-for-sourcetre/</link>
		<comments>http://blog.44uk.net/2013/08/13/git-export-tools-for-sourcetre/#comments</comments>
		<pubDate>Tue, 13 Aug 2013 02:03:33 +0000</pubDate>
		<dc:creator><![CDATA[yukku0423]]></dc:creator>
				<category><![CDATA[開発ツール]]></category>
		<category><![CDATA[git]]></category>
		<category><![CDATA[ruby]]></category>
		<category><![CDATA[sourcetree]]></category>

		<guid isPermaLink="false">http://blog.44uk.net/?p=1747</guid>
		<description><![CDATA[<p>この前作ったスクリプト、</p>
<p>  SourceTree で指定のリビジョン間の差分ファイルだけ取り出したい</p>
<p>をより改良し、一般的に使うことができるものとして仕上げました。</p>
<p>このリポジトリをクローンしてください。<br />
といっても必要なのはスクリプトだけなので、アーカイブでもいいし、ファイルだけでもいいです。</p>
]]></description>
		<wfw:commentRss>http://blog.44uk.net/2013/08/13/git-export-tools-for-sourcetre/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>SourceTree で指定のリビジョン間の差分ファイルだけ取り出したい</title>
		<link>http://blog.44uk.net/2013/08/05/git-export-diff-script/</link>
		<comments>http://blog.44uk.net/2013/08/05/git-export-diff-script/#comments</comments>
		<pubDate>Mon, 05 Aug 2013 06:13:47 +0000</pubDate>
		<dc:creator><![CDATA[yukku0423]]></dc:creator>
				<category><![CDATA[開発ツール]]></category>
		<category><![CDATA[git]]></category>
		<category><![CDATA[ruby]]></category>
		<category><![CDATA[sourcetree]]></category>

		<guid isPermaLink="false">http://blog.44uk.net/?p=1695</guid>
		<description><![CDATA[<p>世の中には、差分のファイルだけ用意して上書きコピーなどという実にざんねんな運用で回っている非モダンな開発現場があるわけで…。</p>
<p>いや、もろもろの事情でそうせざる追えない、ということにしておきましょう。</p>
<p>とにかくとあるタスクで作業したファイルだけを取り出して、どこぞへ保存するということを求められることが多々あります。</p>
<p>せっかくgit を使っているのだし、その辺楽にしたいと思って試行錯誤してみました。</p>
]]></description>
		<wfw:commentRss>http://blog.44uk.net/2013/08/05/git-export-diff-script/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>middleman と livereload で rails っぽく静的サイトを作る(しかも slim で)</title>
		<link>http://blog.44uk.net/2013/07/14/static-website-using-middleman-with-livereload/</link>
		<comments>http://blog.44uk.net/2013/07/14/static-website-using-middleman-with-livereload/#comments</comments>
		<pubDate>Sun, 14 Jul 2013 01:23:47 +0000</pubDate>
		<dc:creator><![CDATA[yukku0423]]></dc:creator>
				<category><![CDATA[開発ツール]]></category>
		<category><![CDATA[middleman]]></category>
		<category><![CDATA[ruby]]></category>

		<guid isPermaLink="false">http://blog.44uk.net/?p=1682</guid>
		<description><![CDATA[<p>お仕事で静的HTMLのモックやらページを作ることになったわけですが、モダンな FW に浸かってナヨナヨな私としては、共通部分を分離できないとかありえないわけで。</p>
<p>ヘッダーとかの修正をしたら全部直さなきゃいけないとかもう…。はじめは slim を使ったらできるかと思いましたがパーシャルが使えないので肝心なことが解決できませんでした。</p>
]]></description>
		<wfw:commentRss>http://blog.44uk.net/2013/07/14/static-website-using-middleman-with-livereload/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>入門ChefSolo P.24 で vagrant が up できない</title>
		<link>http://blog.44uk.net/2013/06/21/chefsolo-beginner-p24-cant-vagrant-up/</link>
		<comments>http://blog.44uk.net/2013/06/21/chefsolo-beginner-p24-cant-vagrant-up/#comments</comments>
		<pubDate>Thu, 20 Jun 2013 15:34:21 +0000</pubDate>
		<dc:creator><![CDATA[yukku0423]]></dc:creator>
				<category><![CDATA[開発ツール]]></category>
		<category><![CDATA[chef]]></category>
		<category><![CDATA[ruby]]></category>
		<category><![CDATA[vagrant]]></category>

		<guid isPermaLink="false">http://blog.44uk.net/?p=1657</guid>
		<description><![CDATA[<p>いままでシコシコと VMWare Player で仮想マシンを手動でインストールしては、開発用の環境を作っていたのに時間もかかるし、手順間違えるし、飽々したところ、今更ながら vagrant を使ってみたら桃源郷のようだったので、サーバ構成もと思い chef に手を出してみようと、ほうぼうで評判のイイ 入門ChefSolo を購入してソロハンズオンしていたところ、いきなりハマった。</p>
]]></description>
		<wfw:commentRss>http://blog.44uk.net/2013/06/21/chefsolo-beginner-p24-cant-vagrant-up/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>slim で pre の中身の改行を残したい場合</title>
		<link>http://blog.44uk.net/2013/06/14/keep-line-break-with-slim/</link>
		<comments>http://blog.44uk.net/2013/06/14/keep-line-break-with-slim/#comments</comments>
		<pubDate>Thu, 13 Jun 2013 23:50:09 +0000</pubDate>
		<dc:creator><![CDATA[yukku0423]]></dc:creator>
				<category><![CDATA[開発ツール]]></category>
		<category><![CDATA[html]]></category>
		<category><![CDATA[slim]]></category>

		<guid isPermaLink="false">http://blog.44uk.net/?p=1647</guid>
		<description><![CDATA[<p>slim のなかに html + js のコードを pre を使って書こうと思った。</p>
<p>html に html コードを埋め込む事自体はよくあることですが、slim では以下のように書くとうまくいきました。<br />
&#124; (パイプ)を使って、インデントでつづける<br />
パイプはテキストを埋め込むのに使います。</p>
<p>改行を残したい場合は、インデントして続ければよいです。</p>
]]></description>
		<wfw:commentRss>http://blog.44uk.net/2013/06/14/keep-line-break-with-slim/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>github pages みたいに、独立したブランチを作りたいとき</title>
		<link>http://blog.44uk.net/2013/06/01/git-make-an-orphan-branch/</link>
		<comments>http://blog.44uk.net/2013/06/01/git-make-an-orphan-branch/#comments</comments>
		<pubDate>Sat, 01 Jun 2013 05:19:56 +0000</pubDate>
		<dc:creator><![CDATA[yukku0423]]></dc:creator>
				<category><![CDATA[開発ツール]]></category>
		<category><![CDATA[branch]]></category>
		<category><![CDATA[git]]></category>
		<category><![CDATA[orphan]]></category>

		<guid isPermaLink="false">http://blog.44uk.net/?p=1637</guid>
		<description><![CDATA[<p>github には github pages という、gh-pages という名前のブランチにコミットされたファイルをプロジェクトの静的ページとして http://{username}.github.com/ というアドレスで公開できるすんばらしい機能があります。</p>
<p>  GitHub Pages</p>
<p>gh-pages というブランチをコミットすれば表示されるのですが、管理画面からボタン１つでテンプレート込のCoolなページを作成してくれます。</p>
]]></description>
		<wfw:commentRss>http://blog.44uk.net/2013/06/01/git-make-an-orphan-branch/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Rails 用に pow を入れていると Apache を邪魔して困るから powder で解決した</title>
		<link>http://blog.44uk.net/2013/05/06/resolve-interrupting-apache-by-powder/</link>
		<comments>http://blog.44uk.net/2013/05/06/resolve-interrupting-apache-by-powder/#comments</comments>
		<pubDate>Mon, 06 May 2013 10:44:18 +0000</pubDate>
		<dc:creator><![CDATA[yukku0423]]></dc:creator>
				<category><![CDATA[開発ツール]]></category>
		<category><![CDATA[apache]]></category>
		<category><![CDATA[pow]]></category>
		<category><![CDATA[rails3]]></category>

		<guid isPermaLink="false">http://blog.44uk.net/?p=1512</guid>
		<description><![CDATA[<p>Rails 開発にとっても便利な pow ですが、ちょっと困ったことに、Mac に入っているローカルの Apache への接続を奪ってしまい、もともと php などの開発で割り当てていたバーチャルホストを軒並み奪ってしまい、pow のエラー画面が出てしまいました。</p>
]]></description>
		<wfw:commentRss>http://blog.44uk.net/2013/05/06/resolve-interrupting-apache-by-powder/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>ruby 2.0 で passenger を入れようとしたらなんかエラーでた</title>
		<link>http://blog.44uk.net/2013/04/21/problem-in-passenger-with-ruby-2-0/</link>
		<comments>http://blog.44uk.net/2013/04/21/problem-in-passenger-with-ruby-2-0/#comments</comments>
		<pubDate>Sat, 20 Apr 2013 15:11:09 +0000</pubDate>
		<dc:creator><![CDATA[yukku0423]]></dc:creator>
				<category><![CDATA[開発ツール]]></category>
		<category><![CDATA[gem.rails3]]></category>
		<category><![CDATA[passenger]]></category>
		<category><![CDATA[ruby]]></category>

		<guid isPermaLink="false">http://blog.44uk.net/?p=1503</guid>
		<description><![CDATA[<p>ruby 2.0 をソースからコンパイルして、gem で passenger をいれて、passenger-install-apache2-module を叩いてみたらなんかエラーがでた。</p>
]]></description>
		<wfw:commentRss>http://blog.44uk.net/2013/04/21/problem-in-passenger-with-ruby-2-0/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
