<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>yukku++ &#187; camera</title>
	<atom:link href="/tag/camera/feed/" rel="self" type="application/rss+xml" />
	<link>http://wp.44uk.net</link>
	<description></description>
	<lastBuildDate>Sun, 13 Apr 2014 03:02:51 +0000</lastBuildDate>
	<language>ja</language>
		<sy:updatePeriod>hourly</sy:updatePeriod>
		<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=3.8.2</generator>
	<item>
		<title>調節可能なカメラストラップ ELECOM カメラ用高速伸縮ストラップ を購入</title>
		<link>http://blog.44uk.net/2012/01/14/buy-elecom-rapid-elastic-strap/</link>
		<comments>http://blog.44uk.net/2012/01/14/buy-elecom-rapid-elastic-strap/#comments</comments>
		<pubDate>Sat, 14 Jan 2012 04:57:17 +0000</pubDate>
		<dc:creator><![CDATA[yukku0423]]></dc:creator>
				<category><![CDATA[カメラ]]></category>
		<category><![CDATA[camera]]></category>

		<guid isPermaLink="false">http://blog.44uk.net/?p=928</guid>
		<description><![CDATA[<p>サッと伸ばして、サッと縮めて、そんな簡単に調節が可能なカメラ用ストラップはないものか、と探していたら以下の三点がを見つけることが出来ました。</p>
<p>  Ninja Strap &#8211; Diagnl Camera Equipment<br />
  カメラ用高速伸縮ストラップ &#8211; ELECOM<br />
  RS-4 &#8211; BlackRapid</p>
<p>最初に発見した Ninja Strap が理想に近かったのですが、調べているうちに、ウリ二つな製品を elecom で発見。</p>
]]></description>
		<wfw:commentRss>http://blog.44uk.net/2012/01/14/buy-elecom-rapid-elastic-strap/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
