<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>[outdated] Community Engine on Rails3 を使ってみようとする へのコメント</title>
	<atom:link href="/2011/06/01/trying-community-engine-on-rails3/feed/" rel="self" type="application/rss+xml" />
	<link>http://blog.44uk.net/2011/06/01/trying-community-engine-on-rails3/</link>
	<description></description>
	<lastBuildDate>Sun, 13 May 2012 01:13:58 +0000</lastBuildDate>
		<sy:updatePeriod>hourly</sy:updatePeriod>
		<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=3.8.2</generator>
	<item>
		<title>yukku0423 より</title>
		<link>http://blog.44uk.net/2011/06/01/trying-community-engine-on-rails3/#comment-4</link>
		<dc:creator><![CDATA[yukku0423]]></dc:creator>
		<pubDate>Wed, 22 Jun 2011 09:45:46 +0000</pubDate>
		<guid isPermaLink="false">http://blog.44uk.net/?p=218#comment-4</guid>
		<description><![CDATA[READMEでは 3.1.0.beta1 が指定されていたので、3.1.x でないとうまくいかないかもしれません。
記事中にもある通り、RVM を利用して gemset を作ると管理が楽です。

–path vendor/bundle は外してください。]]></description>
		<content:encoded><![CDATA[<p>READMEでは 3.1.0.beta1 が指定されていたので、3.1.x でないとうまくいかないかもしれません。<br />
記事中にもある通り、RVM を利用して gemset を作ると管理が楽です。</p>
<p>–path vendor/bundle は外してください。</p>
]]></content:encoded>
	</item>
	<item>
		<title>hao より</title>
		<link>http://blog.44uk.net/2011/06/01/trying-community-engine-on-rails3/#comment-3</link>
		<dc:creator><![CDATA[hao]]></dc:creator>
		<pubDate>Wed, 22 Jun 2011 09:11:08 +0000</pubDate>
		<guid isPermaLink="false">http://blog.44uk.net/?p=218#comment-3</guid>
		<description><![CDATA[rails 3.0.9をインストールしている場合、1度、railsをアンインストールが必要でしょうか？
現在、下記でエラーが発生しまして、止まっております。
bundle install --binstubs --path vendor/bundle]]></description>
		<content:encoded><![CDATA[<p>rails 3.0.9をインストールしている場合、1度、railsをアンインストールが必要でしょうか？<br />
現在、下記でエラーが発生しまして、止まっております。<br />
bundle install &#8211;binstubs &#8211;path vendor/bundle</p>
]]></content:encoded>
	</item>
</channel>
</rss>
