<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>yukku++ &#187; プログラミング</title>
	<atom:link href="/category/programming/feed/" rel="self" type="application/rss+xml" />
	<link>http://wp.44uk.net</link>
	<description></description>
	<lastBuildDate>Sun, 13 Apr 2014 03:02:51 +0000</lastBuildDate>
	<language>ja</language>
		<sy:updatePeriod>hourly</sy:updatePeriod>
		<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=3.8.2</generator>
	<item>
		<title>bxSlider でアイテムが少し見切れるような実装をする方法</title>
		<link>http://blog.44uk.net/2014/01/26/bxslider-partly-item/</link>
		<comments>http://blog.44uk.net/2014/01/26/bxslider-partly-item/#comments</comments>
		<pubDate>Sun, 26 Jan 2014 02:12:22 +0000</pubDate>
		<dc:creator><![CDATA[yukku0423]]></dc:creator>
				<category><![CDATA[プログラミング]]></category>
		<category><![CDATA[bxslider]]></category>
		<category><![CDATA[javascript]]></category>

		<guid isPermaLink="false">http://blog.44uk.net/?p=1774</guid>
		<description><![CDATA[<p>まずは実装から</p>
<p>	http://jsfiddle.net/yukku0423/Vp4fj/embedded/result/</p>
<p>こんな感じに実装する必要があったんですが、オプションで提供されているわけでもなかったので、色々いじくった結果です。<br />
コツ<br />
デモでは 4 つのアイテム + 1つ見きれ という感じでやるために、こんなオプションを渡しました。</p>
]]></description>
		<wfw:commentRss>http://blog.44uk.net/2014/01/26/bxslider-partly-item/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Image#onload で複数の画像のロードを待って同期させたい</title>
		<link>http://blog.44uk.net/2013/12/07/multiple-img-onload/</link>
		<comments>http://blog.44uk.net/2013/12/07/multiple-img-onload/#comments</comments>
		<pubDate>Sat, 07 Dec 2013 02:09:42 +0000</pubDate>
		<dc:creator><![CDATA[yukku0423]]></dc:creator>
				<category><![CDATA[プログラミング]]></category>
		<category><![CDATA[javascript]]></category>

		<guid isPermaLink="false">http://blog.44uk.net/?p=1772</guid>
		<description><![CDATA[<p>Canvas などに画像を描画する際に、Image オブジェクトを生成して、src にパスを渡して、画像が読み込まれたら描画処理を行う、という流れが基本。</p>
]]></description>
		<wfw:commentRss>http://blog.44uk.net/2013/12/07/multiple-img-onload/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Rails 使いが FuelPHP(1.6) を使ってみた3 Model編</title>
		<link>http://blog.44uk.net/2013/08/08/fuelphp-16-3-by-rails-user/</link>
		<comments>http://blog.44uk.net/2013/08/08/fuelphp-16-3-by-rails-user/#comments</comments>
		<pubDate>Thu, 08 Aug 2013 01:40:09 +0000</pubDate>
		<dc:creator><![CDATA[yukku0423]]></dc:creator>
				<category><![CDATA[プログラミング]]></category>
		<category><![CDATA[fuelphp]]></category>
		<category><![CDATA[php]]></category>

		<guid isPermaLink="false">http://blog.44uk.net/?p=1723</guid>
		<description><![CDATA[<p>実は環境の立ち上げに結構手間取ったのですが、ここまできてしまえばあとはガツガツコードを書いていくだけです。一番楽しいところです。</p>
<p>(と、おもったんですけどね…)<br />
モデルを作成<br />
まずはモデルから作成してみました。ユーザーのモデルを想定しています。</p>
]]></description>
		<wfw:commentRss>http://blog.44uk.net/2013/08/08/fuelphp-16-3-by-rails-user/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Rails 使いが FuelPHP(1.6) を使ってみた2 Scaffold編</title>
		<link>http://blog.44uk.net/2013/08/08/fuelphp-16-2-by-rails-user/</link>
		<comments>http://blog.44uk.net/2013/08/08/fuelphp-16-2-by-rails-user/#comments</comments>
		<pubDate>Thu, 08 Aug 2013 01:20:26 +0000</pubDate>
		<dc:creator><![CDATA[yukku0423]]></dc:creator>
				<category><![CDATA[プログラミング]]></category>
		<category><![CDATA[fuelphp]]></category>
		<category><![CDATA[php]]></category>

		<guid isPermaLink="false">http://blog.44uk.net/?p=1704</guid>
		<description><![CDATA[<p>前回立ち上げたプロジェクトの実装を進めていきます。</p>
<p>まずは Scaffold で生成されたコードを参考にしたいので、実行してみます。</p>
<p>が、その前に。<br />
環境モード<br />
FuelPHP には Rails.env のような環境モードが設定出来ます。</p>
<p>設定の仕方は、public/.htaccess に以下のような記述でモードを指定できます。2行目にコメントアウトされて書いてありました。</p>
]]></description>
		<wfw:commentRss>http://blog.44uk.net/2013/08/08/fuelphp-16-2-by-rails-user/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Rails 使いが FuelPHP(1.6) を使ってみた1 プロジェクト作成編</title>
		<link>http://blog.44uk.net/2013/08/08/fuelphp-16-1-by-rails-user/</link>
		<comments>http://blog.44uk.net/2013/08/08/fuelphp-16-1-by-rails-user/#comments</comments>
		<pubDate>Thu, 08 Aug 2013 01:00:15 +0000</pubDate>
		<dc:creator><![CDATA[yukku0423]]></dc:creator>
				<category><![CDATA[プログラミング]]></category>
		<category><![CDATA[fuelphp]]></category>
		<category><![CDATA[php]]></category>
		<category><![CDATA[vagrant]]></category>

		<guid isPermaLink="false">http://blog.44uk.net/?p=1700</guid>
		<description><![CDATA[<p>前回 fuelphp 1.5 を触ってから随分と間が開いてしまい、1.6 がリリースされ、composer などが統合されたとのこともあり、再度やり直してみました。</p>
<p>前回のトライはこちら。</p>
<p>  Rails 使いが FuelPHP(1.5) を使ってみた1 プロジェクト作成編<br />
  Rails 使いが FuelPHP(1.5) を使ってみた2 Scaffold編</p>
<p>(Rails 使いとかいいながら最近全然 rails の仕事も無いし、作ってもいないし、ドヤ顔できるほどのユーザーでは無いのです…涙。</p>
]]></description>
		<wfw:commentRss>http://blog.44uk.net/2013/08/08/fuelphp-16-1-by-rails-user/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>zurb-foundation で assets:precompile したら css が Invalid と言われた</title>
		<link>http://blog.44uk.net/2013/05/23/trouble-with-foundation-when-assets-precompile/</link>
		<comments>http://blog.44uk.net/2013/05/23/trouble-with-foundation-when-assets-precompile/#comments</comments>
		<pubDate>Thu, 23 May 2013 05:51:05 +0000</pubDate>
		<dc:creator><![CDATA[yukku0423]]></dc:creator>
				<category><![CDATA[プログラミング]]></category>
		<category><![CDATA[assetspipeline]]></category>
		<category><![CDATA[css]]></category>
		<category><![CDATA[foundation]]></category>
		<category><![CDATA[gem]]></category>
		<category><![CDATA[rails]]></category>

		<guid isPermaLink="false">http://blog.44uk.net/?p=1613</guid>
		<description><![CDATA[<p>  Foundation: The Most Advanced Responsive Front-end Framework from ZURB</p>
<p>Foundation を使ってみようと、gem をいれ、foundation:install でもろもろをセットアップしてもらい、コーディングをしていました。</p>
]]></description>
		<wfw:commentRss>http://blog.44uk.net/2013/05/23/trouble-with-foundation-when-assets-precompile/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>ハイブリッドな Android アプリを目指して WebView を使ってみる</title>
		<link>http://blog.44uk.net/2013/04/06/try-webview-for-hybrid-app/</link>
		<comments>http://blog.44uk.net/2013/04/06/try-webview-for-hybrid-app/#comments</comments>
		<pubDate>Sat, 06 Apr 2013 11:08:16 +0000</pubDate>
		<dc:creator><![CDATA[yukku0423]]></dc:creator>
				<category><![CDATA[プログラミング]]></category>
		<category><![CDATA[android]]></category>
		<category><![CDATA[webview]]></category>

		<guid isPermaLink="false">http://blog.44uk.net/?p=1496</guid>
		<description><![CDATA[<p>この先、Webサイト+ハイブリッドアプリ公開が主流になるのではないかと予想して、WebView の使い方を勉強してみる。</p>
<p>ハイブリッドアプリとは、スマートフォン向けのアプリケーションだが、コンテンツ自体は通常のWebサイトを表示するようなアプリのことを指す(と思ってる)</p>
<p>8割ネイティブアプリ、2割がWebviewでサイト表示している、またはその逆でほとんどWebviewだけの外側だけのアプリなど、程度によりけりなんだろうけど、割合としてWebViewでサイトをレンダリングしているコンテンツが多くを占める場合はハイブリッドアプリと呼びそう。</p>
]]></description>
		<wfw:commentRss>http://blog.44uk.net/2013/04/06/try-webview-for-hybrid-app/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Rails 使いが FuelPHP(1.5) を使ってみた2 Scaffold編</title>
		<link>http://blog.44uk.net/2013/03/20/fuelphp-by-rails-user-2/</link>
		<comments>http://blog.44uk.net/2013/03/20/fuelphp-by-rails-user-2/#comments</comments>
		<pubDate>Wed, 20 Mar 2013 04:57:16 +0000</pubDate>
		<dc:creator><![CDATA[yukku0423]]></dc:creator>
				<category><![CDATA[プログラミング]]></category>
		<category><![CDATA[fuelphp]]></category>

		<guid isPermaLink="false">http://blog.44uk.net/?p=1377</guid>
		<description><![CDATA[<p>前回生成したプロジェクトのひな形に実装をしていきます。<br />
環境モード<br />
FuelPHP には Rails.env のような環境モードが設定出来ます。</p>
<p>設定の仕方は、public/.htaccess に以下のような記述でモードを指定できます。2行目にコメントアウトされて書いてありました。<br />
# public/.htaccess<br />
SetEnv FUEL_ENV production<br />
お察しの通り、環境ごとのデータベース指定や設定ファイルの読み込みの切り分けに利用できます。</p>
]]></description>
		<wfw:commentRss>http://blog.44uk.net/2013/03/20/fuelphp-by-rails-user-2/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
