<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>yukku++ &#187; spine</title>
	<atom:link href="/tag/spine/feed/" rel="self" type="application/rss+xml" />
	<link>http://wp.44uk.net</link>
	<description></description>
	<lastBuildDate>Sun, 13 Apr 2014 03:02:51 +0000</lastBuildDate>
	<language>ja</language>
		<sy:updatePeriod>hourly</sy:updatePeriod>
		<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=3.8.2</generator>
	<item>
		<title>Javascript MVC フレームワーク Spine を使ってみる</title>
		<link>http://blog.44uk.net/2012/08/24/spine-try-js-framework/</link>
		<comments>http://blog.44uk.net/2012/08/24/spine-try-js-framework/#comments</comments>
		<pubDate>Fri, 24 Aug 2012 12:02:16 +0000</pubDate>
		<dc:creator><![CDATA[yukku0423]]></dc:creator>
				<category><![CDATA[開発ツール]]></category>
		<category><![CDATA[javascript]]></category>
		<category><![CDATA[spine]]></category>

		<guid isPermaLink="false">http://blog.44uk.net/?p=1160</guid>
		<description><![CDATA[<p>javascript MVC フレームワークを初めてやってみるにあたって、MVC なぞ Rails でもう十分やっとるわい、というスタンスで取り組んだらまんまとハマったので復習もかねてメモ。</p>
<p>最初は backborn.js に取り組んでみようかと思ったのですが、いまいちピンとこず挫折。</p>
]]></description>
		<wfw:commentRss>http://blog.44uk.net/2012/08/24/spine-try-js-framework/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
