<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>yukku++ &#187; macbook</title>
	<atom:link href="/tag/macbook/feed/" rel="self" type="application/rss+xml" />
	<link>http://wp.44uk.net</link>
	<description></description>
	<lastBuildDate>Sun, 13 Apr 2014 03:02:51 +0000</lastBuildDate>
	<language>ja</language>
		<sy:updatePeriod>hourly</sy:updatePeriod>
		<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=3.8.2</generator>
	<item>
		<title>ｍacbook air 13inch mid 2012 とエレコム EF-FLAMB</title>
		<link>http://blog.44uk.net/2013/01/09/bought-macbook-air-on-with-screen-protector/</link>
		<comments>http://blog.44uk.net/2013/01/09/bought-macbook-air-on-with-screen-protector/#comments</comments>
		<pubDate>Wed, 09 Jan 2013 00:42:23 +0000</pubDate>
		<dc:creator><![CDATA[yukku0423]]></dc:creator>
				<category><![CDATA[フォトレビュー]]></category>
		<category><![CDATA[macbook]]></category>

		<guid isPermaLink="false">http://blog.44uk.net/?p=1341</guid>
		<description><![CDATA[<p>毎年 Apple の初売りで割引があるので、2世代古くなってしまった macbook air をリプレイスしようかと、新しいmacbook air 13インチを購入。</p>
<p>新製品というわけでも無し、目新しい記事ではありませんが誰かの参考になれば幸いです。</p>
<p>それまで画面の保護フィルムは利用していなかったが、いざ持ち運んで使っていると、ディスプレイにキーボードが画面に当たるのか、キーボードの形の跡がついていて、若干キズ？が入ってしまった。</p>
]]></description>
		<wfw:commentRss>http://blog.44uk.net/2013/01/09/bought-macbook-air-on-with-screen-protector/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
