<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>yukku++ &#187; 耳栓</title>
	<atom:link href="/tag/%e8%80%b3%e6%a0%93/feed/" rel="self" type="application/rss+xml" />
	<link>http://wp.44uk.net</link>
	<description></description>
	<lastBuildDate>Sun, 13 Apr 2014 03:02:51 +0000</lastBuildDate>
	<language>ja</language>
		<sy:updatePeriod>hourly</sy:updatePeriod>
		<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=3.8.2</generator>
	<item>
		<title>遮音性の高そうな耳栓を買ってみた</title>
		<link>http://blog.44uk.net/2013/02/09/buy-ear-plug/</link>
		<comments>http://blog.44uk.net/2013/02/09/buy-ear-plug/#comments</comments>
		<pubDate>Sat, 09 Feb 2013 04:01:12 +0000</pubDate>
		<dc:creator><![CDATA[yukku0423]]></dc:creator>
				<category><![CDATA[生活]]></category>
		<category><![CDATA[耳栓]]></category>

		<guid isPermaLink="false">http://blog.44uk.net/?p=1391</guid>
		<description><![CDATA[<p>最近寝付きと寝起きの気分が悪いので、なんとか快眠を得ようといろいろ工夫しているなか、</p>
<p>耳栓をして寝るとなんとなく快調に起床できる気がしたので、耳栓についてちょっと凝ってみることにした。</p>
<p>耳栓について調べてみると、NRR(ノイズ・リダクション・レーティング)という遮音性能値というものがあったり、いろいろな形やタイプがあることを改めて知りました。</p>
<p>そこで、ひとまずお試しということで以下のセットを購入。</p>
]]></description>
		<wfw:commentRss>http://blog.44uk.net/2013/02/09/buy-ear-plug/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
