<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>yukku++ &#187; html</title>
	<atom:link href="/tag/html/feed/" rel="self" type="application/rss+xml" />
	<link>http://wp.44uk.net</link>
	<description></description>
	<lastBuildDate>Sun, 13 Apr 2014 03:02:51 +0000</lastBuildDate>
	<language>ja</language>
		<sy:updatePeriod>hourly</sy:updatePeriod>
		<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=3.8.2</generator>
	<item>
		<title>slim で pre の中身の改行を残したい場合</title>
		<link>http://blog.44uk.net/2013/06/14/keep-line-break-with-slim/</link>
		<comments>http://blog.44uk.net/2013/06/14/keep-line-break-with-slim/#comments</comments>
		<pubDate>Thu, 13 Jun 2013 23:50:09 +0000</pubDate>
		<dc:creator><![CDATA[yukku0423]]></dc:creator>
				<category><![CDATA[開発ツール]]></category>
		<category><![CDATA[html]]></category>
		<category><![CDATA[slim]]></category>

		<guid isPermaLink="false">http://blog.44uk.net/?p=1647</guid>
		<description><![CDATA[<p>slim のなかに html + js のコードを pre を使って書こうと思った。</p>
<p>html に html コードを埋め込む事自体はよくあることですが、slim では以下のように書くとうまくいきました。<br />
&#124; (パイプ)を使って、インデントでつづける<br />
パイプはテキストを埋め込むのに使います。</p>
<p>改行を残したい場合は、インデントして続ければよいです。</p>
]]></description>
		<wfw:commentRss>http://blog.44uk.net/2013/06/14/keep-line-break-with-slim/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>intelliJ で sass を編集すると LiveEdit で動的に反映されるように</title>
		<link>http://blog.44uk.net/2013/05/25/intellij-sass-and-liveedit/</link>
		<comments>http://blog.44uk.net/2013/05/25/intellij-sass-and-liveedit/#comments</comments>
		<pubDate>Sat, 25 May 2013 03:55:21 +0000</pubDate>
		<dc:creator><![CDATA[yukku0423]]></dc:creator>
				<category><![CDATA[ソフトウェア]]></category>
		<category><![CDATA[css]]></category>
		<category><![CDATA[html]]></category>
		<category><![CDATA[intellij]]></category>
		<category><![CDATA[sass]]></category>
		<category><![CDATA[slim]]></category>

		<guid isPermaLink="false">http://blog.44uk.net/?p=1618</guid>
		<description><![CDATA[<p>ついに intelliJ を購入し、早速持て余しているのですが、HTML + CSS + JS のお仕事がありそうなので(じゃあWebStormでいいじゃんというのは言わないで)少し環境を整えてみました。</p>
<p>使っているのは最高級のIntelliJですが、WebStorm などでもできると思います。<br />
LiveEdit<br />
編集した HTML を動的にブラウザで表示してくれるプラグインです。</p>
]]></description>
		<wfw:commentRss>http://blog.44uk.net/2013/05/25/intellij-sass-and-liveedit/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
