<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>yukku++ &#187; jquery</title>
	<atom:link href="/tag/jquery/feed/" rel="self" type="application/rss+xml" />
	<link>http://wp.44uk.net</link>
	<description></description>
	<lastBuildDate>Sun, 13 Apr 2014 03:02:51 +0000</lastBuildDate>
	<language>ja</language>
		<sy:updatePeriod>hourly</sy:updatePeriod>
		<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=3.8.2</generator>
	<item>
		<title>jQuery#map で配列を返してるのに二次元配列にならなかった</title>
		<link>http://blog.44uk.net/2013/02/20/nested-array-by-jquery-map/</link>
		<comments>http://blog.44uk.net/2013/02/20/nested-array-by-jquery-map/#comments</comments>
		<pubDate>Wed, 20 Feb 2013 04:59:25 +0000</pubDate>
		<dc:creator><![CDATA[yukku0423]]></dc:creator>
				<category><![CDATA[プログラミング]]></category>
		<category><![CDATA[javascript]]></category>
		<category><![CDATA[jquery]]></category>

		<guid isPermaLink="false">http://blog.44uk.net/?p=1419</guid>
		<description><![CDATA[<p>jQuery#map の中で配列を返しているのに、帰ってくる配列が flatten したみたいなのが戻るのでバグかな？と思ったら使い方の問題でした。<br />
具体例<br />
var array = $(&#8216;.hoge&#8217;).map(function(idx, elem){<br />
 return [$(this).attr('name'), $(this).attr('value')]<br />
})<br />
console.log(array) // [["name1", "value1"], ["name2", "value2"]] を期待するじゃん？<br />
しかし、以下が返却される。</p>
]]></description>
		<wfw:commentRss>http://blog.44uk.net/2013/02/20/nested-array-by-jquery-map/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>とっても便利な jQuery Socialbutton の twitter をハッシュタグに対応させた</title>
		<link>http://blog.44uk.net/2012/12/22/twitter-hashtags-in-jquery-socialbutton/</link>
		<comments>http://blog.44uk.net/2012/12/22/twitter-hashtags-in-jquery-socialbutton/#comments</comments>
		<pubDate>Fri, 21 Dec 2012 17:29:44 +0000</pubDate>
		<dc:creator><![CDATA[yukku0423]]></dc:creator>
				<category><![CDATA[プログラミング]]></category>
		<category><![CDATA[javascript]]></category>
		<category><![CDATA[jquery]]></category>
		<category><![CDATA[sns]]></category>

		<guid isPermaLink="false">http://blog.44uk.net/?p=1312</guid>
		<description><![CDATA[<p>各種ソーシャルボタンを一撃で出力できる超ベンリライブラリの jQuery Socialbutton を使わせてもらっているのですが、Twitter のハッシュタグに対応していませんでした。</p>
<p>Pinterest/Google+1/Twitter/facebookいいね/facebook Share/mixiチェック/mixiイイネ/GREEいいね/Evernote/はてブのボタンを超カンタンに作れる jQuery.socialbutton プラグインを作ったよ &#124; アイトランス株式会社</p>
<p>ので、対応させちゃいました。</p>
]]></description>
		<wfw:commentRss>http://blog.44uk.net/2012/12/22/twitter-hashtags-in-jquery-socialbutton/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
