<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>Community Engine on Rails3 を使ってみようとする へのコメント</title>
	<atom:link href="/2011/10/28/setup-community-engine-on-rails3/feed/" rel="self" type="application/rss+xml" />
	<link>http://blog.44uk.net/2011/10/28/setup-community-engine-on-rails3/</link>
	<description></description>
	<lastBuildDate>Sun, 13 May 2012 01:13:58 +0000</lastBuildDate>
		<sy:updatePeriod>hourly</sy:updatePeriod>
		<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=3.8.2</generator>
	<item>
		<title>yukku0423 より</title>
		<link>http://blog.44uk.net/2011/10/28/setup-community-engine-on-rails3/#comment-9</link>
		<dc:creator><![CDATA[yukku0423]]></dc:creator>
		<pubDate>Wed, 28 Dec 2011 09:26:55 +0000</pubDate>
		<guid isPermaLink="false">http://blog.44uk.net/?p=673#comment-9</guid>
		<description><![CDATA[解決できたようで何よりです。
まだベータ版ですから結構ドラスティックに更新されるので、記事どおりには行かなくなってくるでしょう。
バージョン2を使っていたわけではないですが、非常に出来がよいのでかなり期待しています。
日本語の情報があまり見当たらないので少しづつでも何か記事をアップしていきたいと思います]]></description>
		<content:encoded><![CDATA[<p>解決できたようで何よりです。<br />
まだベータ版ですから結構ドラスティックに更新されるので、記事どおりには行かなくなってくるでしょう。<br />
バージョン2を使っていたわけではないですが、非常に出来がよいのでかなり期待しています。<br />
日本語の情報があまり見当たらないので少しづつでも何か記事をアップしていきたいと思います</p>
]]></content:encoded>
	</item>
	<item>
		<title>西崎 より</title>
		<link>http://blog.44uk.net/2011/10/28/setup-community-engine-on-rails3/#comment-8</link>
		<dc:creator><![CDATA[西崎]]></dc:creator>
		<pubDate>Mon, 26 Dec 2011 09:45:03 +0000</pubDate>
		<guid isPermaLink="false">http://blog.44uk.net/?p=673#comment-8</guid>
		<description><![CDATA[自己解決しました。
https://github.com/bborn/communityengine/issues/37
のようにGemfileを書き換えて最新版を使ったらうまく行きました。
お騒がせしました！]]></description>
		<content:encoded><![CDATA[<p>自己解決しました。<br />
<a href="https://github.com/bborn/communityengine/issues/37" rel="nofollow">https://github.com/bborn/communityengine/issues/37</a><br />
のようにGemfileを書き換えて最新版を使ったらうまく行きました。<br />
お騒がせしました！</p>
]]></content:encoded>
	</item>
	<item>
		<title>西崎 より</title>
		<link>http://blog.44uk.net/2011/10/28/setup-community-engine-on-rails3/#comment-7</link>
		<dc:creator><![CDATA[西崎]]></dc:creator>
		<pubDate>Mon, 26 Dec 2011 08:37:01 +0000</pubDate>
		<guid isPermaLink="false">http://blog.44uk.net/?p=673#comment-7</guid>
		<description><![CDATA[こんにちは。
私もcommunity engineを現在インストールしているのですが、
bin/rake community_engine:install:migrations
のところで

uninitialized constant Tag
とでてrake aborted!してしまってハマっております。

もし何かわかりそうでしたら教えて頂けるとうれしいです！
ご迷惑でしたらスルーしてください！]]></description>
		<content:encoded><![CDATA[<p>こんにちは。<br />
私もcommunity engineを現在インストールしているのですが、<br />
bin/rake community_engine:install:migrations<br />
のところで</p>
<p>uninitialized constant Tag<br />
とでてrake aborted!してしまってハマっております。</p>
<p>もし何かわかりそうでしたら教えて頂けるとうれしいです！<br />
ご迷惑でしたらスルーしてください！</p>
]]></content:encoded>
	</item>
</channel>
</rss>
