<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>yukku++ &#187; iHerb</title>
	<atom:link href="/tag/iherb/feed/" rel="self" type="application/rss+xml" />
	<link>http://wp.44uk.net</link>
	<description></description>
	<lastBuildDate>Sun, 13 Apr 2014 03:02:51 +0000</lastBuildDate>
	<language>ja</language>
		<sy:updatePeriod>hourly</sy:updatePeriod>
		<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=3.8.2</generator>
	<item>
		<title>iHerb でサプリやら珍しい食品を購入してみた</title>
		<link>http://blog.44uk.net/2011/07/10/buy-some-stuff-at-iherb/</link>
		<comments>http://blog.44uk.net/2011/07/10/buy-some-stuff-at-iherb/#comments</comments>
		<pubDate>Sat, 09 Jul 2011 17:55:20 +0000</pubDate>
		<dc:creator><![CDATA[yukku0423]]></dc:creator>
				<category><![CDATA[海外通販]]></category>
		<category><![CDATA[iHerb]]></category>

		<guid isPermaLink="false">http://blog.44uk.net/?p=309</guid>
		<description><![CDATA[<p>  iHerb.com &#8211; Vitamins, Supplements &#38; Natural Health Products</p>
<p>そこそこ定評があり、日本語サポートもあるという iHerb.com で買い物をしてみた。</p>
<p>本格的にスポーツに取り組んでいるというクチではないが、運動不足解消に週に数回程度水泳に取り組んでおり、疲労回復やサポートにサプリメントでも使ってみようと思ったのがきっかけ。</p>
]]></description>
		<wfw:commentRss>http://blog.44uk.net/2011/07/10/buy-some-stuff-at-iherb/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
