<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>yukku++ &#187; codeigniter</title>
	<atom:link href="/tag/codeigniter/feed/" rel="self" type="application/rss+xml" />
	<link>http://wp.44uk.net</link>
	<description></description>
	<lastBuildDate>Sun, 13 Apr 2014 03:02:51 +0000</lastBuildDate>
	<language>ja</language>
		<sy:updatePeriod>hourly</sy:updatePeriod>
		<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=3.8.2</generator>
	<item>
		<title>CodeIgniter でつくる、あゆ板風何か vol.4</title>
		<link>http://blog.44uk.net/2011/11/13/ayuita-ci-vol4/</link>
		<comments>http://blog.44uk.net/2011/11/13/ayuita-ci-vol4/#comments</comments>
		<pubDate>Sat, 12 Nov 2011 16:33:59 +0000</pubDate>
		<dc:creator><![CDATA[yukku0423]]></dc:creator>
				<category><![CDATA[プログラミング]]></category>
		<category><![CDATA[codeigniter]]></category>

		<guid isPermaLink="false">http://blog.44uk.net/?p=602</guid>
		<description><![CDATA[<p>提供品の表示、登録機能を実装していきます。<br />
提供品詳細に取得データを表示<br />
一覧画面で表示される提供品名の部分に show/{id} というリンクを張ったので、id を渡すと指定した提供品の詳細を表示する show アクションを実装します。</p>
]]></description>
		<wfw:commentRss>http://blog.44uk.net/2011/11/13/ayuita-ci-vol4/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>CodeIgniter でつくる、あゆ板風何か vol.3</title>
		<link>http://blog.44uk.net/2011/11/13/ayuita-ci-vol3/</link>
		<comments>http://blog.44uk.net/2011/11/13/ayuita-ci-vol3/#comments</comments>
		<pubDate>Sat, 12 Nov 2011 16:32:00 +0000</pubDate>
		<dc:creator><![CDATA[yukku0423]]></dc:creator>
				<category><![CDATA[プログラミング]]></category>
		<category><![CDATA[codeigniter]]></category>

		<guid isPermaLink="false">http://blog.44uk.net/?p=599</guid>
		<description><![CDATA[<p>データベース、モデル周りを作っていきたいと思います。<br />
テーブル作成<br />
MySql を利用します。別途利用可能なユーザーとデータベースを作ったことを前提に話を進めます。</p>
]]></description>
		<wfw:commentRss>http://blog.44uk.net/2011/11/13/ayuita-ci-vol3/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>CodeIgniter でつくる、あゆ板風何か vol.2</title>
		<link>http://blog.44uk.net/2011/11/13/ayuita-ci-vol2/</link>
		<comments>http://blog.44uk.net/2011/11/13/ayuita-ci-vol2/#comments</comments>
		<pubDate>Sat, 12 Nov 2011 16:31:59 +0000</pubDate>
		<dc:creator><![CDATA[yukku0423]]></dc:creator>
				<category><![CDATA[プログラミング]]></category>
		<category><![CDATA[codeigniter]]></category>

		<guid isPermaLink="false">http://blog.44uk.net/?p=580</guid>
		<description><![CDATA[<p>まずは、コントローラとビューだけでモックアップを作ってみたいと思います。</p>
<p>用意するのは、</p>
<p>  CodeIgniter 2.0.3 (以下 ci)<br />
  git<br />
  CloudControl(以下 CC)</p>
<p>CloudControl は php のホスティングに対応した Paas で Rails の heroku のようなサービスです。<br />
CC はアカウントをとって、コマンドが打てることを前提とします。</p>
]]></description>
		<wfw:commentRss>http://blog.44uk.net/2011/11/13/ayuita-ci-vol2/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>CodeIgniter でつくる、あゆ板風何か vol.1</title>
		<link>http://blog.44uk.net/2011/11/13/ayuita-ci-vol1/</link>
		<comments>http://blog.44uk.net/2011/11/13/ayuita-ci-vol1/#comments</comments>
		<pubDate>Sat, 12 Nov 2011 16:30:58 +0000</pubDate>
		<dc:creator><![CDATA[yukku0423]]></dc:creator>
				<category><![CDATA[プログラミング]]></category>
		<category><![CDATA[codeigniter]]></category>

		<guid isPermaLink="false">http://blog.44uk.net/?p=576</guid>
		<description><![CDATA[<p>あゆ板を知ってる人は懐かしんだり、黒い歴史に悶えましょう。知らない人は知らなくていいです。</p>
<p>あのときはいろいろとやらかしました…いまじゃ反省しています。</p>
<p>いろいろな方面への懺悔は別のところでするとして、CodeIgniter をつかってちょっとしたアプリケーションをつくるための題材とします。</p>
<p>基本仕様はあゆ板を踏襲しつつ、CodeIgniter を使ってモダンな構築をしてみようかと思います。</p>
]]></description>
		<wfw:commentRss>http://blog.44uk.net/2011/11/13/ayuita-ci-vol1/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
