<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>yukku++ &#187; Firefox</title>
	<atom:link href="/tag/firefox/feed/" rel="self" type="application/rss+xml" />
	<link>http://wp.44uk.net</link>
	<description></description>
	<lastBuildDate>Sun, 13 Apr 2014 03:02:51 +0000</lastBuildDate>
	<language>ja</language>
		<sy:updatePeriod>hourly</sy:updatePeriod>
		<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=3.8.2</generator>
	<item>
		<title>Firefox4 for Mac でプロファイルマネージャを出す</title>
		<link>http://blog.44uk.net/2011/06/20/firefox4-for-mac-profile-manager/</link>
		<comments>http://blog.44uk.net/2011/06/20/firefox4-for-mac-profile-manager/#comments</comments>
		<pubDate>Mon, 20 Jun 2011 05:31:13 +0000</pubDate>
		<dc:creator><![CDATA[yukku0423]]></dc:creator>
				<category><![CDATA[ソフトウェア]]></category>
		<category><![CDATA[Firefox]]></category>

		<guid isPermaLink="false">http://blog.44uk.net/?p=259</guid>
		<description><![CDATA[<p>Windows版では確か -p スイッチでウィンドウが上がったと思ったが、Mac版で同じようにやってもウンともスンとも。</p>
<p>結論はこうでした。省略形の -P もありました。<br />
/Applications/Firefox.app/Contents/MacOS/firefox-bin -ProfileManager<br />
Leopardではアーキテクチャの指定オプションが必要でした。</p>
]]></description>
		<wfw:commentRss>http://blog.44uk.net/2011/06/20/firefox4-for-mac-profile-manager/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
