<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>Heroku に redmine 1.3 を設置して、トライアル感覚で動かす へのコメント</title>
	<atom:link href="/2012/01/14/redmine13-on-heroku/feed/" rel="self" type="application/rss+xml" />
	<link>http://blog.44uk.net/2012/01/14/redmine13-on-heroku/</link>
	<description></description>
	<lastBuildDate>Sun, 13 May 2012 01:13:58 +0000</lastBuildDate>
		<sy:updatePeriod>hourly</sy:updatePeriod>
		<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=3.8.2</generator>
	<item>
		<title>yukku0423 より</title>
		<link>http://blog.44uk.net/2012/01/14/redmine13-on-heroku/#comment-12</link>
		<dc:creator><![CDATA[yukku0423]]></dc:creator>
		<pubDate>Sun, 01 Apr 2012 14:35:30 +0000</pubDate>
		<guid isPermaLink="false">http://blog.44uk.net/?p=939#comment-12</guid>
		<description><![CDATA[heroku マニュアルを参照すると確かにそうですね。
コレで動いたのかどうかちょっと忘れてしまいましたが誤植のようです。
ありがとうございました。]]></description>
		<content:encoded><![CDATA[<p>heroku マニュアルを参照すると確かにそうですね。<br />
コレで動いたのかどうかちょっと忘れてしまいましたが誤植のようです。<br />
ありがとうございました。</p>
]]></content:encoded>
	</item>
	<item>
		<title>cybaron (@cybaron) より</title>
		<link>http://blog.44uk.net/2012/01/14/redmine13-on-heroku/#comment-11</link>
		<dc:creator><![CDATA[cybaron (@cybaron)]]></dc:creator>
		<pubDate>Tue, 27 Mar 2012 11:51:10 +0000</pubDate>
		<guid isPermaLink="false">http://blog.44uk.net/?p=939#comment-11</guid>
		<description><![CDATA[.gems でバージョン指定の引数が、 --v になってますが、-v or --version ではないでしょうか？]]></description>
		<content:encoded><![CDATA[<p>.gems でバージョン指定の引数が、 &#8211;v になってますが、-v or &#8211;version ではないでしょうか？</p>
]]></content:encoded>
	</item>
</channel>
</rss>
