<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>yukku++ &#187; rubygems</title>
	<atom:link href="/tag/rubygems/feed/" rel="self" type="application/rss+xml" />
	<link>http://wp.44uk.net</link>
	<description></description>
	<lastBuildDate>Sun, 13 Apr 2014 03:02:51 +0000</lastBuildDate>
	<language>ja</language>
		<sy:updatePeriod>hourly</sy:updatePeriod>
		<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=3.8.2</generator>
	<item>
		<title>rubygems の tokyo サーバが落ちて bundle install できない時の回避策</title>
		<link>http://blog.44uk.net/2012/11/18/rubygems-tokyo-server-down/</link>
		<comments>http://blog.44uk.net/2012/11/18/rubygems-tokyo-server-down/#comments</comments>
		<pubDate>Sat, 17 Nov 2012 23:38:40 +0000</pubDate>
		<dc:creator><![CDATA[yukku0423]]></dc:creator>
				<category><![CDATA[開発ツール]]></category>
		<category><![CDATA[gem]]></category>
		<category><![CDATA[ruby]]></category>
		<category><![CDATA[rubygems]]></category>

		<guid isPermaLink="false">http://blog.44uk.net/?p=1245</guid>
		<description><![CDATA[<p>いつも通りに bundle install を叩いてみたところ、見慣れぬエラーが…。<br />
Gem::RemoteFetcher::FetchError: Errno::ECONNREFUSED: Connection refused &#8211; connect(2) (http://rubygems.org/gems/rmagick-2.13.1.gem)<br />
# rmagick 入れようとしたんです<br />
あんまり穏やかじゃない…。</p>
]]></description>
		<wfw:commentRss>http://blog.44uk.net/2012/11/18/rubygems-tokyo-server-down/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
