<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>yukku++ &#187; パソコンパーツ</title>
	<atom:link href="/tag/%e3%83%91%e3%82%bd%e3%82%b3%e3%83%b3%e3%83%91%e3%83%bc%e3%83%84/feed/" rel="self" type="application/rss+xml" />
	<link>http://wp.44uk.net</link>
	<description></description>
	<lastBuildDate>Sun, 13 Apr 2014 03:02:51 +0000</lastBuildDate>
	<language>ja</language>
		<sy:updatePeriod>hourly</sy:updatePeriod>
		<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=3.8.2</generator>
	<item>
		<title>KRPW-L4-500W フォトレビュー</title>
		<link>http://blog.44uk.net/2012/12/26/krpw-l4-500w-photo-review/</link>
		<comments>http://blog.44uk.net/2012/12/26/krpw-l4-500w-photo-review/#comments</comments>
		<pubDate>Wed, 26 Dec 2012 07:46:53 +0000</pubDate>
		<dc:creator><![CDATA[yukku0423]]></dc:creator>
				<category><![CDATA[フォトレビュー]]></category>
		<category><![CDATA[パソコンパーツ]]></category>

		<guid isPermaLink="false">http://blog.44uk.net/?p=1321</guid>
		<description><![CDATA[<p><a href="http://www.amazon.co.jp/%E7%8E%84%E4%BA%BA%E5%BF%97%E5%90%91-ATX%E9%9B%BB%E6%BA%90-500W-KRPW-L4-500W-A/dp/B00B1AWABA%3FSubscriptionId%3DAKIAJU72GCNK2OGHPNKQ%26tag%3Dblog44uk-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3DB00B1AWABA" title="玄人志向 ATX電源 500W KRPW-L4-500W/A" target="_blank"><br />
<img src="http://ecx.images-amazon.com/images/I/51ayJqxjL%2BL._SL160_.jpg" width="160" height="110" alt="玄人志向 ATX電源 500W KRPW-L4-500W/A"/><br />
玄人志向 ATX電源 500W KRPW-L4-500W/A<br />
</a></p>
<p>&#160;</p>
]]></description>
		<wfw:commentRss>http://blog.44uk.net/2012/12/26/krpw-l4-500w-photo-review/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
