<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>Rails rake db:seed のときにだけ Mass-Assignment をスキップしたい へのコメント</title>
	<atom:link href="/2012/08/28/just-accessible-in-db-seed/feed/" rel="self" type="application/rss+xml" />
	<link>http://blog.44uk.net/2012/08/28/just-accessible-in-db-seed/</link>
	<description></description>
	<lastBuildDate>Sun, 13 May 2012 01:13:58 +0000</lastBuildDate>
		<sy:updatePeriod>hourly</sy:updatePeriod>
		<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=3.8.2</generator>
</channel>
</rss>
