<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>yukku++ &#187; railsconfig</title>
	<atom:link href="/tag/railsconfig/feed/" rel="self" type="application/rss+xml" />
	<link>http://wp.44uk.net</link>
	<description></description>
	<lastBuildDate>Sun, 13 Apr 2014 03:02:51 +0000</lastBuildDate>
	<language>ja</language>
		<sy:updatePeriod>hourly</sy:updatePeriod>
		<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=3.8.2</generator>
	<item>
		<title>Rails 設定定数を定義するのに便利な gem</title>
		<link>http://blog.44uk.net/2012/09/09/rails-gem-for-static-variables/</link>
		<comments>http://blog.44uk.net/2012/09/09/rails-gem-for-static-variables/#comments</comments>
		<pubDate>Sun, 09 Sep 2012 11:14:19 +0000</pubDate>
		<dc:creator><![CDATA[yukku0423]]></dc:creator>
				<category><![CDATA[開発ツール]]></category>
		<category><![CDATA[gem]]></category>
		<category><![CDATA[railsconfig]]></category>
		<category><![CDATA[ruby]]></category>
		<category><![CDATA[settingslogic]]></category>

		<guid isPermaLink="false">http://blog.44uk.net/?p=1176</guid>
		<description><![CDATA[<p>たとえば API キーとか、基本的には固定だけど調整で時々変えたい定数みたいなものを定義したいことはよくあると思いますが、それに便利な gem のメモ。</p>
<p>特に目新しいものでもなく、割と定番そうなものですが。</p>
<p>  Settingslogic<br />
  RailsConfig</p>
<p>Settingslogic<br />
gem をインストールしたら、以下のようにクラスを定義します。</p>
]]></description>
		<wfw:commentRss>http://blog.44uk.net/2012/09/09/rails-gem-for-static-variables/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
