<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>yukku++ &#187; チェーン</title>
	<atom:link href="/tag/%e3%83%81%e3%82%a7%e3%83%bc%e3%83%b3/feed/" rel="self" type="application/rss+xml" />
	<link>http://wp.44uk.net</link>
	<description></description>
	<lastBuildDate>Sun, 13 Apr 2014 03:02:51 +0000</lastBuildDate>
	<language>ja</language>
		<sy:updatePeriod>hourly</sy:updatePeriod>
		<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=3.8.2</generator>
	<item>
		<title>ミッシングリンク付チェーン KMC 7&amp;8スピード用チェーン Z7/116LINK NP 購入</title>
		<link>http://blog.44uk.net/2013/02/21/chain-kmc-7and8-with-missing-link/</link>
		<comments>http://blog.44uk.net/2013/02/21/chain-kmc-7and8-with-missing-link/#comments</comments>
		<pubDate>Thu, 21 Feb 2013 14:39:41 +0000</pubDate>
		<dc:creator><![CDATA[yukku0423]]></dc:creator>
				<category><![CDATA[自転車]]></category>
		<category><![CDATA[チェーン]]></category>

		<guid isPermaLink="false">http://blog.44uk.net/?p=1414</guid>
		<description><![CDATA[<p>しばらく乗っていなかった自転車をメンテついでにチェーン交換をしてやろうと、前々からミッシングリンクを導入したいと思って、リンクつきで安かった KMC 7&#38;8スピード用チェーン Z7 を購入した。</p>
<p><a href="http://www.amazon.co.jp/KMC-7-8%E3%82%B9%E3%83%94%E3%83%BC%E3%83%89%E7%94%A8%E3%83%81%E3%82%A7%E3%83%BC%E3%83%B3-Z7-%E3%82%B7%E3%83%AB%E3%83%90%E3%83%BC/dp/B00603OM1O%3FSubscriptionId%3DAKIAJU72GCNK2OGHPNKQ%26tag%3Dblog44uk-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3DB00603OM1O" title="KMC 7&#038;8スピード用チェーン Z7 シルバー" target="_blank"><br />
<img src="http://ecx.images-amazon.com/images/I/51qGeQJMiHL._SL160_.jpg" width="160" height="99" alt="KMC 7&#038;8スピード用チェーン Z7 シルバー"/><br />
KMC 7&#038;8スピード用チェーン Z7 シルバー<br />
</a></p>
<p>アマゾンの写真がチェーンだけで、確認できる情報が少なかったのが若干不安だったが、レビューでは好評だったので購入に踏み切った。</p>
]]></description>
		<wfw:commentRss>http://blog.44uk.net/2013/02/21/chain-kmc-7and8-with-missing-link/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
