<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>yukku++ &#187; mina</title>
	<atom:link href="/tag/mina/feed/" rel="self" type="application/rss+xml" />
	<link>http://wp.44uk.net</link>
	<description></description>
	<lastBuildDate>Sun, 13 Apr 2014 03:02:51 +0000</lastBuildDate>
	<language>ja</language>
		<sy:updatePeriod>hourly</sy:updatePeriod>
		<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=3.8.2</generator>
	<item>
		<title>mina で heroku open っぽいことをしたい</title>
		<link>http://blog.44uk.net/2013/01/23/mina-like-heroku-open/</link>
		<comments>http://blog.44uk.net/2013/01/23/mina-like-heroku-open/#comments</comments>
		<pubDate>Wed, 23 Jan 2013 01:05:30 +0000</pubDate>
		<dc:creator><![CDATA[yukku0423]]></dc:creator>
				<category><![CDATA[開発ツール]]></category>
		<category><![CDATA[heroku]]></category>
		<category><![CDATA[mina]]></category>

		<guid isPermaLink="false">http://blog.44uk.net/?p=1366</guid>
		<description><![CDATA[<p>タイトルの通り。heroku を使ってないのですが、触ってみた時に git push でデプロイし、 heroku open で開いてたのがなかなか良かったので、同じようなことをしたくなりました。<br />
実装<br />
desc &#8216;Open browser.&#8217;<br />
task :open do<br />
 system &#8216;open http://some_rails_app.dev&#8217; # maybe mac only<br />
end<br />
と deploy.rb 書いて、mina open で既定のブラウザでオープンします。</p>
]]></description>
		<wfw:commentRss>http://blog.44uk.net/2013/01/23/mina-like-heroku-open/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>mina で bundle install のオプションを指定しいたい時</title>
		<link>http://blog.44uk.net/2012/11/23/mina-bundle-install-options/</link>
		<comments>http://blog.44uk.net/2012/11/23/mina-bundle-install-options/#comments</comments>
		<pubDate>Fri, 23 Nov 2012 12:05:01 +0000</pubDate>
		<dc:creator><![CDATA[yukku0423]]></dc:creator>
				<category><![CDATA[開発ツール]]></category>
		<category><![CDATA[bundler]]></category>
		<category><![CDATA[mina]]></category>

		<guid isPermaLink="false">http://blog.44uk.net/?p=1261</guid>
		<description><![CDATA[<p>bundle install のオプションを指定したい時。<br />
ソースコード<br />
どうやらここでデフォルトのオプションを指定しているようだ。</p>
<p>  mina/lib/mina/bundler.rb at master · nadarei/mina · GitHub</p>
<p>なので、bundle_options という変数でセットしたらそれが有効になった。<br />
追記<br />
こんな感じで、オプションを渡せばそれで上書きされる。</p>
]]></description>
		<wfw:commentRss>http://blog.44uk.net/2012/11/23/mina-bundle-install-options/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>mina で whenever を使いたい時</title>
		<link>http://blog.44uk.net/2012/11/18/mina-with-whenever/</link>
		<comments>http://blog.44uk.net/2012/11/18/mina-with-whenever/#comments</comments>
		<pubDate>Sun, 18 Nov 2012 03:11:08 +0000</pubDate>
		<dc:creator><![CDATA[yukku0423]]></dc:creator>
				<category><![CDATA[開発ツール]]></category>
		<category><![CDATA[deploy]]></category>
		<category><![CDATA[mina]]></category>

		<guid isPermaLink="false">http://blog.44uk.net/?p=1251</guid>
		<description><![CDATA[<p>デプロイツール mina で whenever をデプロイ後に実行させたい場合。<br />
追記<br />
require &#8216;mina/whenever&#8217;<br />
ライブラリがもともと入っていたのでそれを読み込みます。(ドキュメントにはみあたりませんでした。そのうち書かれるかな？)</p>
<p>mina -T するとタスクが増えているのが確認できます。</p>
]]></description>
		<wfw:commentRss>http://blog.44uk.net/2012/11/18/mina-with-whenever/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Mina &#8211; Getting started 和訳</title>
		<link>http://blog.44uk.net/2012/11/03/mina-getting-started-ja/</link>
		<comments>http://blog.44uk.net/2012/11/03/mina-getting-started-ja/#comments</comments>
		<pubDate>Sat, 03 Nov 2012 12:25:46 +0000</pubDate>
		<dc:creator><![CDATA[yukku0423]]></dc:creator>
				<category><![CDATA[開発ツール]]></category>
		<category><![CDATA[deploy]]></category>
		<category><![CDATA[gem]]></category>
		<category><![CDATA[mina]]></category>
		<category><![CDATA[ruby]]></category>

		<guid isPermaLink="false">http://blog.44uk.net/?p=1230</guid>
		<description><![CDATA[<p>  http://nadarei.co/mina/</p>
<p>deploy.rb について<br />
deploy.rb は Rake によって実行される Rakefile にすぎません。<br />
実際、mina は deploy.rb をロードする Rake を実行するエイリアスです。</p>
]]></description>
		<wfw:commentRss>http://blog.44uk.net/2012/11/03/mina-getting-started-ja/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
