<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>yukku++ &#187; tutorial</title>
	<atom:link href="/tag/tutorial/feed/" rel="self" type="application/rss+xml" />
	<link>http://wp.44uk.net</link>
	<description></description>
	<lastBuildDate>Sun, 13 Apr 2014 03:02:51 +0000</lastBuildDate>
	<language>ja</language>
		<sy:updatePeriod>hourly</sy:updatePeriod>
		<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=3.8.2</generator>
	<item>
		<title>Android Eclipseでの新規作成プロジェクトを読み解いてみる</title>
		<link>http://blog.44uk.net/2011/09/28/android-eclipse-default-project-reading/</link>
		<comments>http://blog.44uk.net/2011/09/28/android-eclipse-default-project-reading/#comments</comments>
		<pubDate>Wed, 28 Sep 2011 09:29:09 +0000</pubDate>
		<dc:creator><![CDATA[yukku0423]]></dc:creator>
				<category><![CDATA[プログラミング]]></category>
		<category><![CDATA[tutorial]]></category>

		<guid isPermaLink="false">http://blog.44uk.net/?p=509</guid>
		<description><![CDATA[<p>Eclipse(私は Aptana Studio に構築) で Android 開発環境を構築し、新規プロジェクトから作成して、シミュレータで未編集のアプリケーションが立ち上がる、という状態を前提として、生成されたプロジェクトを読み解いてみる。</p>
<p>バージョンは、執筆時点でシェアが約4割だといわれる v2.1 で進める。</p>
]]></description>
		<wfw:commentRss>http://blog.44uk.net/2011/09/28/android-eclipse-default-project-reading/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
