<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>入門ChefSolo P.24 で vagrant が up できない へのコメント</title>
	<atom:link href="/2013/06/21/chefsolo-beginner-p24-cant-vagrant-up/feed/" rel="self" type="application/rss+xml" />
	<link>http://blog.44uk.net/2013/06/21/chefsolo-beginner-p24-cant-vagrant-up/</link>
	<description></description>
	<lastBuildDate>Sun, 13 May 2012 01:13:58 +0000</lastBuildDate>
		<sy:updatePeriod>hourly</sy:updatePeriod>
		<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=3.8.2</generator>
</channel>
</rss>
