<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>yukku++ &#187; sh</title>
	<atom:link href="/tag/sh/feed/" rel="self" type="application/rss+xml" />
	<link>http://wp.44uk.net</link>
	<description></description>
	<lastBuildDate>Sun, 13 Apr 2014 03:02:51 +0000</lastBuildDate>
	<language>ja</language>
		<sy:updatePeriod>hourly</sy:updatePeriod>
		<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=3.8.2</generator>
	<item>
		<title>psとgrepを組み合わせた時にgrepのプロセスを除きたいとき</title>
		<link>http://blog.44uk.net/2013/03/20/exclude-grep-from-ps-and-grep/</link>
		<comments>http://blog.44uk.net/2013/03/20/exclude-grep-from-ps-and-grep/#comments</comments>
		<pubDate>Tue, 19 Mar 2013 15:29:04 +0000</pubDate>
		<dc:creator><![CDATA[yukku0423]]></dc:creator>
				<category><![CDATA[開発ツール]]></category>
		<category><![CDATA[grep]]></category>
		<category><![CDATA[ps]]></category>
		<category><![CDATA[sh]]></category>

		<guid isPermaLink="false">http://blog.44uk.net/?p=1461</guid>
		<description><![CDATA[<p><a href="http://www.amazon.co.jp/%E3%83%97%E3%83%AD%E3%81%AE%E3%81%9F%E3%82%81%E3%81%AE-Linux%E3%82%B7%E3%82%B9%E3%83%86%E3%83%A0%E3%83%BB10%E5%B9%B4%E5%8A%B9%E3%81%8F%E6%8A%80%E8%A1%93-Software-Design-plus/dp/4774151432%3FSubscriptionId%3DAKIAJU72GCNK2OGHPNKQ%26tag%3Dblog44uk-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4774151432" title="プロのための Linuxシステム・10年効く技術 (Software Design plus)" target="_blank"><br />
<img src="http://ecx.images-amazon.com/images/I/610ATXnZCbL._SL160_.jpg" width="126" height="160" alt="プロのための Linuxシステム・10年効く技術 (Software Design plus)"/><br />
プロのための Linuxシステム・10年効く技術 (Software Design plus)<br />
</a></p>
<p>この本を読んでいたら、そのままではないが以下のような例が出てきた。<br />
ps aux &#124; grep hog[e]<br />
これは hoge を含むプロセスを抽出しているわけだけど、もしなにも考えなければ<br />
ps aux &#124; grep hoge<br />
とやるだろうし、やってきた。</p>
]]></description>
		<wfw:commentRss>http://blog.44uk.net/2013/03/20/exclude-grep-from-ps-and-grep/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>シェルスクリプト マルチスレッドっぽくバックグラウンド処理を同期させる</title>
		<link>http://blog.44uk.net/2012/01/12/sh-like-multithreading/</link>
		<comments>http://blog.44uk.net/2012/01/12/sh-like-multithreading/#comments</comments>
		<pubDate>Thu, 12 Jan 2012 06:43:55 +0000</pubDate>
		<dc:creator><![CDATA[yukku0423]]></dc:creator>
				<category><![CDATA[プログラミング]]></category>
		<category><![CDATA[sh]]></category>

		<guid isPermaLink="false">http://blog.44uk.net/?p=888</guid>
		<description><![CDATA[<p>  コマンドの最後に &#38; を付けて、バックグラウンド処理へまわす<br />
  $! で直前のバックグラウンド処理の pid を取得して変数へ保持<br />
  wait $hoe で指定した pid の処理の終了を待つ</p>
<p>バックグラウンド処理はおなじみ hoe &#38; で出来る。</p>
<p>この pid を取るには、直後で $! にアクセスすることで参照できる。</p>
]]></description>
		<wfw:commentRss>http://blog.44uk.net/2012/01/12/sh-like-multithreading/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>シェルスクリプト で必ず成功／必ず失敗する処理</title>
		<link>http://blog.44uk.net/2012/01/06/sh-always-true-false/</link>
		<comments>http://blog.44uk.net/2012/01/06/sh-always-true-false/#comments</comments>
		<pubDate>Fri, 06 Jan 2012 06:22:38 +0000</pubDate>
		<dc:creator><![CDATA[yukku0423]]></dc:creator>
				<category><![CDATA[プログラミング]]></category>
		<category><![CDATA[sh]]></category>

		<guid isPermaLink="false">http://blog.44uk.net/?p=884</guid>
		<description><![CDATA[<p>シェルスクリプトでコマンドの成功判定をするのに $? を判断するとき。<br />
必ず成功( $? が 0 )<br />
echo &#8220;always true&#8221; &#62; /dev/null<br />
null デバイスは渡されたデータを全て無視する。書き込みは必ず成功、読み出しはデータを返さない。<br />
echo &#8220;always true&#8221; &#62; /dev/zero<br />
書き込みは必ず成功、読み出しは null 文字のデータストリーム。</p>
]]></description>
		<wfw:commentRss>http://blog.44uk.net/2012/01/06/sh-always-true-false/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
