<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>brother MyMio DCP-J715N にダイソーの詰め替えインクつかっちゃった へのコメント</title>
	<atom:link href="/2011/11/06/brother-mymio-dcp-j715n-alt-ink/feed/" rel="self" type="application/rss+xml" />
	<link>http://blog.44uk.net/2011/11/06/brother-mymio-dcp-j715n-alt-ink/</link>
	<description></description>
	<lastBuildDate>Sun, 13 May 2012 01:13:58 +0000</lastBuildDate>
		<sy:updatePeriod>hourly</sy:updatePeriod>
		<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=3.8.2</generator>
	<item>
		<title>佐野　洋子 より</title>
		<link>http://blog.44uk.net/2011/11/06/brother-mymio-dcp-j715n-alt-ink/#comment-10</link>
		<dc:creator><![CDATA[佐野　洋子]]></dc:creator>
		<pubDate>Sun, 13 May 2012 01:13:58 +0000</pubDate>
		<guid isPermaLink="false">http://blog.44uk.net/?p=739#comment-10</guid>
		<description><![CDATA[一年前位から、ダイソ－ショップデ売って居たのを見つけて求め説明に従って注入し、使って居ます。殆どが印字打ちなので、色あせや変色を心配して居ません。今のところ、全く問題なしです。その上、最近は同じくダイソ－でボトル内容量が５ﾐﾘﾘｯﾄﾙ増量して居り、又リセッタ－も売って居るので、グッドです。感謝]]></description>
		<content:encoded><![CDATA[<p>一年前位から、ダイソ－ショップデ売って居たのを見つけて求め説明に従って注入し、使って居ます。殆どが印字打ちなので、色あせや変色を心配して居ません。今のところ、全く問題なしです。その上、最近は同じくダイソ－でボトル内容量が５ﾐﾘﾘｯﾄﾙ増量して居り、又リセッタ－も売って居るので、グッドです。感謝</p>
]]></content:encoded>
	</item>
</channel>
</rss>
