/**/


div#donation{
    clear: both;
    margin-top: 10px;
    padding: 10px;    
    border: 1px solid #aaa;
    background-color: #eee;
    
    border-radius: 5px;
    box-shadow: 0 0 10px #aaa;
}

div#donation .buttons{
    float: left;
    width: 180px;
    margin: 5px 10px 5px 0;    
    padding: 5px;
    border-right: 1px solid #ddd;    
}

div#donation .buttons img, div#donation .buttons span{
    display: block;
    margin: 0 auto 7px auto;
}
div#donation .buttons span{
    width: 150px;
    padding: 1px 6px;
    background: #ddd;
    border: 1px solid #aaa;
    text-align: center;
    font-size: .85em;
    border-radius: 3px 3px;
}
div#donation .buttons span a{
    color: #555;
    text-shadow: 0 1px #fff;
    text-decoration: none;
}
div#donation .buttons span a:hover{
    color: #019ad2;
}


    

div.space {
    /*display: none;*/
    height: 2.5em;
    padding: 0;
    margin: 0;
}

#jc_tab{
    clear: both;
    margin-top: 10px;
    padding: 1px 0 0 0;    
    border: 1px solid #aaa;
    background-color: #eee;
    
    border-radius: 5px;
    box-shadow: 0 0 10px #aaa;
}

#jc_tab_header {
    clear: both;
    padding: 0 10px;
    margin: 0;
    padding: 10px 20px;
}
#jc_tab_header h2 {
    padding-top: 0;
}
#jc_tab_body {
    
}

#jc_tab_menu {
    position: relative;
    clear: both;
    margin: 0;
    padding: 20px 0 0 0;
    float: left;
    width: 180px;
    /*border-bottom: 1px solid #ccc;*/
}
#jc_tab_menu li{
    cursor: pointer;
    float: left;
    display: block;
    width: 180px;
    padding: 0;
    margin: 0;
}
#jc_tab_menu li a {
    color: #666;
    width: 139px;
    display: block;
    float: left;
    font-style: italic;
    padding: 10px 10px;
    margin: 0 0 0 10px;
    text-decoration: none;
    border: 1px solid transparent;
}
#jc_tab_menu li a:hover{
    background-color: #e8e8e8;
}
#jc_tab_menu li.active a, #jc_tab_header li.active a:hover{
    background-color: #fff;
    position: relative;
    font-style: normal;
    font-weight: bold;
    color: #333;
    margin-bottom: -1px;
    
    border: 1px solid #ddd;
    border-right: 1px solid #fff;
    border-radius: 3px 0 0 3px;
}
#jc_tab_content {
    background-color: #fff;
    margin: 0 0 0 170px;
    padding: 10px 20px;
    border: solid #ddd;
    border-width: 1px 0 1px 1px;
    min-height: 350px;
}
    #jc_tab_content h3{
        font-size: 1.1em;
        margin: .5em 0;
    }
    #jc_tab_content h3{
        font-size: 1.1em;
        margin: .5em 0;
    }
    #jc_tab_content .form-table{
        clear: none;
    }
    #jc_tab_content .form-table th, #jc_tab_content .form-table td {
        font-size: 12px;
        padding: 5px 10px;
    }
    #jc_tab_content h4{
        font-size: 1.1em;
        padding: 0 0 .2em 0;
        margin: .2em 0;
        border-bottom: 1px solid #ddd;
    }
    #jc_tab_content input.error{
        border: 1px solid #FF1A53;
        background-color: #fff0f8;
    }
    
    #tr-message{
        display: none;
        width: 400px;
        padding: 1em 2em;
        
        border-radius: 5px;
    }
    
    .tr-info{
        color: #0080FF;
        border: 1px solid #54aaf0;
        background-color: #F0F8FF;
    }
    .tr-error{
        color: #cc0033;
        border: 1px solid #FF1A53;
        background-color: #fff0f8;
    }
    .tr-success{
        color: #669900;
        border: 1px solid #99E600;
        background-color: #F8FFDD;
    }
    
    
    
#jc_tab_footer {
    clear: both;
    margin: 0;
    padding: 10px 20px;
}




/*------------------------------------------------------------------------------
  Color Picker
------------------------------------------------------------------------------*/

.colorpicker {
	width: 356px;
	height: 176px;
	overflow: hidden;
	position: absolute;
	background: url(../img/admin/colorpicker_background.png);
	font-family: Arial, Helvetica, sans-serif;
	display: none;
}
.colorpicker_color {
	width: 150px;
	height: 150px;
	left: 14px;
	top: 13px;
	position: absolute;
	background: #f00;
	overflow: hidden;
	cursor: crosshair;
}
.colorpicker_color div {
	position: absolute;
	top: 0;
	left: 0;
	width: 150px;
	height: 150px;
	background: url(../img/admin/colorpicker_overlay.png);
}
.colorpicker_color div div {
	position: absolute;
	top: 0;
	left: 0;
	width: 11px;
	height: 11px;
	overflow: hidden;
	background: url(../img/admin/colorpicker_select.gif);
	margin: -5px 0 0 -5px;
}
.colorpicker_hue {
	position: absolute;
	top: 13px;
	left: 171px;
	width: 35px;
	height: 150px;
	cursor: n-resize;
}
.colorpicker_hue div {
	position: absolute;
	width: 35px;
	height: 9px;
	overflow: hidden;
	background: url(../img/admin/colorpicker_indic.gif) left top;
	margin: -4px 0 0 0;
	left: 0px;
}
.colorpicker_new_color {
	position: absolute;
	width: 60px;
	height: 30px;
	left: 213px;
	top: 13px;
	background: #f00;
}
.colorpicker_current_color {
	position: absolute;
	width: 60px;
	height: 30px;
	left: 283px;
	top: 13px;
	background: #f00;
}
.colorpicker input {
	background-color: transparent;
	border: 1px solid transparent;
	position: absolute;
	font-size: 10px;
	font-family: Arial, Helvetica, sans-serif;
	color: #898989;
	top: 4px;
	right: 11px;
	text-align: right;
	margin: 0;
	padding: 0;
	height: 11px;
}
.colorpicker_hex {
	position: absolute;
	width: 72px;
	height: 22px;
	background: url(../img/admin/colorpicker_hex.png) top;
	left: 212px;
	top: 142px;
}
.colorpicker_hex input {
	right: 6px;
}
.colorpicker_field {
	height: 22px;
	width: 62px;
	background-position: top;
	position: absolute;
}
.colorpicker_field span {
	position: absolute;
	width: 12px;
	height: 22px;
	overflow: hidden;
	top: 0;
	right: 0;
	cursor: n-resize;
}
.colorpicker_rgb_r {
	background-image: url(../img/admin/colorpicker_rgb_r.png);
	top: 52px;
	left: 212px;
}
.colorpicker_rgb_g {
	background-image: url(../img/admin/colorpicker_rgb_g.png);
	top: 82px;
	left: 212px;
}
.colorpicker_rgb_b {
	background-image: url(../img/admin/colorpicker_rgb_b.png);
	top: 112px;
	left: 212px;
}
.colorpicker_hsb_h {
	background-image: url(../img/admin/colorpicker_hsb_h.png);
	top: 52px;
	left: 282px;
}
.colorpicker_hsb_s {
	background-image: url(../img/admin/colorpicker_hsb_s.png);
	top: 82px;
	left: 282px;
}
.colorpicker_hsb_b {
	background-image: url(../img/admin/colorpicker_hsb_b.png);
	top: 112px;
	left: 282px;
}
.colorpicker_submit {
	position: absolute;
	width: 22px;
	height: 22px;
	background: url(../img/admin/colorpicker_submit.png) top;
	left: 322px;
	top: 142px;
	overflow: hidden;
}
.colorpicker_focus {
	background-position: center;
}
.colorpicker_hex.colorpicker_focus {
	background-position: bottom;
}
.colorpicker_submit.colorpicker_focus {
	background-position: bottom;
}
.colorpicker_slider {
	background-position: bottom;
}
