<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>yukku++ &#187; bundler</title>
	<atom:link href="/tag/bundler/feed/" rel="self" type="application/rss+xml" />
	<link>http://wp.44uk.net</link>
	<description></description>
	<lastBuildDate>Sun, 13 Apr 2014 03:02:51 +0000</lastBuildDate>
	<language>ja</language>
		<sy:updatePeriod>hourly</sy:updatePeriod>
		<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=3.8.2</generator>
	<item>
		<title>mina で bundle install のオプションを指定しいたい時</title>
		<link>http://blog.44uk.net/2012/11/23/mina-bundle-install-options/</link>
		<comments>http://blog.44uk.net/2012/11/23/mina-bundle-install-options/#comments</comments>
		<pubDate>Fri, 23 Nov 2012 12:05:01 +0000</pubDate>
		<dc:creator><![CDATA[yukku0423]]></dc:creator>
				<category><![CDATA[開発ツール]]></category>
		<category><![CDATA[bundler]]></category>
		<category><![CDATA[mina]]></category>

		<guid isPermaLink="false">http://blog.44uk.net/?p=1261</guid>
		<description><![CDATA[<p>bundle install のオプションを指定したい時。<br />
ソースコード<br />
どうやらここでデフォルトのオプションを指定しているようだ。</p>
<p>  mina/lib/mina/bundler.rb at master · nadarei/mina · GitHub</p>
<p>なので、bundle_options という変数でセットしたらそれが有効になった。<br />
追記<br />
こんな感じで、オプションを渡せばそれで上書きされる。</p>
]]></description>
		<wfw:commentRss>http://blog.44uk.net/2012/11/23/mina-bundle-install-options/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
