<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>yukku++ &#187; vagrant</title>
	<atom:link href="/tag/vagrant/feed/" rel="self" type="application/rss+xml" />
	<link>http://wp.44uk.net</link>
	<description></description>
	<lastBuildDate>Sun, 13 Apr 2014 03:02:51 +0000</lastBuildDate>
	<language>ja</language>
		<sy:updatePeriod>hourly</sy:updatePeriod>
		<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=3.8.2</generator>
	<item>
		<title>Rails 使いが FuelPHP(1.6) を使ってみた1 プロジェクト作成編</title>
		<link>http://blog.44uk.net/2013/08/08/fuelphp-16-1-by-rails-user/</link>
		<comments>http://blog.44uk.net/2013/08/08/fuelphp-16-1-by-rails-user/#comments</comments>
		<pubDate>Thu, 08 Aug 2013 01:00:15 +0000</pubDate>
		<dc:creator><![CDATA[yukku0423]]></dc:creator>
				<category><![CDATA[プログラミング]]></category>
		<category><![CDATA[fuelphp]]></category>
		<category><![CDATA[php]]></category>
		<category><![CDATA[vagrant]]></category>

		<guid isPermaLink="false">http://blog.44uk.net/?p=1700</guid>
		<description><![CDATA[<p>前回 fuelphp 1.5 を触ってから随分と間が開いてしまい、1.6 がリリースされ、composer などが統合されたとのこともあり、再度やり直してみました。</p>
<p>前回のトライはこちら。</p>
<p>  Rails 使いが FuelPHP(1.5) を使ってみた1 プロジェクト作成編<br />
  Rails 使いが FuelPHP(1.5) を使ってみた2 Scaffold編</p>
<p>(Rails 使いとかいいながら最近全然 rails の仕事も無いし、作ってもいないし、ドヤ顔できるほどのユーザーでは無いのです…涙。</p>
]]></description>
		<wfw:commentRss>http://blog.44uk.net/2013/08/08/fuelphp-16-1-by-rails-user/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>入門ChefSolo P.24 で vagrant が up できない</title>
		<link>http://blog.44uk.net/2013/06/21/chefsolo-beginner-p24-cant-vagrant-up/</link>
		<comments>http://blog.44uk.net/2013/06/21/chefsolo-beginner-p24-cant-vagrant-up/#comments</comments>
		<pubDate>Thu, 20 Jun 2013 15:34:21 +0000</pubDate>
		<dc:creator><![CDATA[yukku0423]]></dc:creator>
				<category><![CDATA[開発ツール]]></category>
		<category><![CDATA[chef]]></category>
		<category><![CDATA[ruby]]></category>
		<category><![CDATA[vagrant]]></category>

		<guid isPermaLink="false">http://blog.44uk.net/?p=1657</guid>
		<description><![CDATA[<p>いままでシコシコと VMWare Player で仮想マシンを手動でインストールしては、開発用の環境を作っていたのに時間もかかるし、手順間違えるし、飽々したところ、今更ながら vagrant を使ってみたら桃源郷のようだったので、サーバ構成もと思い chef に手を出してみようと、ほうぼうで評判のイイ 入門ChefSolo を購入してソロハンズオンしていたところ、いきなりハマった。</p>
]]></description>
		<wfw:commentRss>http://blog.44uk.net/2013/06/21/chefsolo-beginner-p24-cant-vagrant-up/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
