<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>yukku++ &#187; k-on</title>
	<atom:link href="/tag/k-on/feed/" rel="self" type="application/rss+xml" />
	<link>http://wp.44uk.net</link>
	<description></description>
	<lastBuildDate>Sun, 13 Apr 2014 03:02:51 +0000</lastBuildDate>
	<language>ja</language>
		<sy:updatePeriod>hourly</sy:updatePeriod>
		<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=3.8.2</generator>
	<item>
		<title>K-ON! MUSIC HISTORY&#8217;S BOX フォトレビュー</title>
		<link>http://blog.44uk.net/2013/03/19/k-on-music-historys-box-photo-review/</link>
		<comments>http://blog.44uk.net/2013/03/19/k-on-music-historys-box-photo-review/#comments</comments>
		<pubDate>Tue, 19 Mar 2013 14:50:15 +0000</pubDate>
		<dc:creator><![CDATA[yukku0423]]></dc:creator>
				<category><![CDATA[フォトレビュー]]></category>
		<category><![CDATA[k-on]]></category>

		<guid isPermaLink="false">http://blog.44uk.net/?p=1447</guid>
		<description><![CDATA[<p><a href="http://www.amazon.co.jp/K-ON-MUSIC-HISTORYS-VARIOUS-ARTISTS/dp/B00AR8RPPI%3FSubscriptionId%3DAKIAJU72GCNK2OGHPNKQ%26tag%3Dblog44uk-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3DB00AR8RPPI" title="K-ON! MUSIC HISTORY'S BOX" target="_blank"><br />
<img src="http://ecx.images-amazon.com/images/I/410QXq0nJ2L._SL160_.jpg" width="160" height="160" alt="K-ON! MUSIC HISTORY'S BOX"/><br />
K-ON! MUSIC HISTORY&#8217;S BOX<br />
</a></p>
<p>およそ250x250mm。</p>
<p>裏側。</p>
<p>蓋のウラもきちんと装飾されています。</p>
<p>カバーアート集と歌詞集+コメンタリー。中身は載せられませんがこんな表紙。</p>
]]></description>
		<wfw:commentRss>http://blog.44uk.net/2013/03/19/k-on-music-historys-box-photo-review/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
