<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>yukku++ &#187; 年齢</title>
	<atom:link href="/tag/%e5%b9%b4%e9%bd%a2/feed/" rel="self" type="application/rss+xml" />
	<link>http://wp.44uk.net</link>
	<description></description>
	<lastBuildDate>Sun, 13 Apr 2014 03:02:51 +0000</lastBuildDate>
	<language>ja</language>
		<sy:updatePeriod>hourly</sy:updatePeriod>
		<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=3.8.2</generator>
	<item>
		<title>生年月日が分かっているので、そこから年齢を計算したかったら</title>
		<link>http://blog.44uk.net/2012/02/25/calc-age-from-birthday/</link>
		<comments>http://blog.44uk.net/2012/02/25/calc-age-from-birthday/#comments</comments>
		<pubDate>Sat, 25 Feb 2012 11:32:23 +0000</pubDate>
		<dc:creator><![CDATA[yukku0423]]></dc:creator>
				<category><![CDATA[アルゴリズム]]></category>
		<category><![CDATA[年齢]]></category>
		<category><![CDATA[誕生日]]></category>

		<guid isPermaLink="false">http://blog.44uk.net/?p=977</guid>
		<description><![CDATA[<p>  生年月日から年齢を計算する簡単な計算式</p>
<p>( {現在の年月日yyyymmddの数値型} &#8211; {生年月日yyyymmddの数値型} ) / 10000<br />
の整数部分 が現在日での年齢となる。</p>
<p>注釈にもあるように、業務の仕様によってはこのままでは使えない(リンク先の記事に年金の例が載っています)かもしれませんが、それを許容できるならシンプルで使いやすい式です。</p>
]]></description>
		<wfw:commentRss>http://blog.44uk.net/2012/02/25/calc-age-from-birthday/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
