<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>yukku++ &#187; vim</title>
	<atom:link href="/tag/vim/feed/" rel="self" type="application/rss+xml" />
	<link>http://wp.44uk.net</link>
	<description></description>
	<lastBuildDate>Sun, 13 Apr 2014 03:02:51 +0000</lastBuildDate>
	<language>ja</language>
		<sy:updatePeriod>hourly</sy:updatePeriod>
		<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=3.8.2</generator>
	<item>
		<title>git で &#8220;Could not execute editor&#8221; が出たら</title>
		<link>http://blog.44uk.net/2011/09/26/could-not-execute-editor-while-using-git/</link>
		<comments>http://blog.44uk.net/2011/09/26/could-not-execute-editor-while-using-git/#comments</comments>
		<pubDate>Mon, 26 Sep 2011 04:02:08 +0000</pubDate>
		<dc:creator><![CDATA[yukku0423]]></dc:creator>
				<category><![CDATA[開発ツール]]></category>
		<category><![CDATA[vim]]></category>

		<guid isPermaLink="false">http://blog.44uk.net/?p=491</guid>
		<description><![CDATA[<p>git で git rebase -i master とかやって、コメントを編集後に ZZ や :wq で保存すると、<br />
Could not execute editor<br />
とエラーがでて rebase されないのにはまった。<br />
解決</p>
<p>  http://stackoverflow.com/questions/4092432/could-not-execute-editor</p>
<p>Stack Overflow  にあった質問を参考にして解決。</p>
]]></description>
		<wfw:commentRss>http://blog.44uk.net/2011/09/26/could-not-execute-editor-while-using-git/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
