<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>yukku++ &#187; facebook</title>
	<atom:link href="/tag/facebook/feed/" rel="self" type="application/rss+xml" />
	<link>http://wp.44uk.net</link>
	<description></description>
	<lastBuildDate>Sun, 13 Apr 2014 03:02:51 +0000</lastBuildDate>
	<language>ja</language>
		<sy:updatePeriod>hourly</sy:updatePeriod>
		<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=3.8.2</generator>
	<item>
		<title>Devise を導入して Facebook 認証との統合をやってみる</title>
		<link>http://blog.44uk.net/2012/01/21/devise-integrates-facebook/</link>
		<comments>http://blog.44uk.net/2012/01/21/devise-integrates-facebook/#comments</comments>
		<pubDate>Sat, 21 Jan 2012 13:44:47 +0000</pubDate>
		<dc:creator><![CDATA[yukku0423]]></dc:creator>
				<category><![CDATA[プログラミング]]></category>
		<category><![CDATA[devise]]></category>
		<category><![CDATA[facebook]]></category>
		<category><![CDATA[RoR3]]></category>

		<guid isPermaLink="false">http://blog.44uk.net/?p=954</guid>
		<description><![CDATA[<p>認証エンジン Devise を導入して、Facebook 認証との統合までをやってみます。</p>
<p>ほとんどは README に沿って、所々意訳を含めてお送りいたします。</p>
<p>  plataformatec/devise</p>
<p>Devise セットアップ<br />
トップページ用のコントローラーを作っておきます<br />
rails generate controller home index<br />
Devise をインストールします<br />
gem install devise<br />
手動でもセットアップできますが、必要なファイルを生成してくれるコマンドが用意されています。</p>
]]></description>
		<wfw:commentRss>http://blog.44uk.net/2012/01/21/devise-integrates-facebook/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
