<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>yukku++ &#187; sourcetree</title>
	<atom:link href="/tag/sourcetree/feed/" rel="self" type="application/rss+xml" />
	<link>http://wp.44uk.net</link>
	<description></description>
	<lastBuildDate>Sun, 13 Apr 2014 03:02:51 +0000</lastBuildDate>
	<language>ja</language>
		<sy:updatePeriod>hourly</sy:updatePeriod>
		<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=3.8.2</generator>
	<item>
		<title>git の特定のリビジョンからファイルや差分を取り出すスクリプト(SourceTree で使える)</title>
		<link>http://blog.44uk.net/2013/08/13/git-export-tools-for-sourcetre/</link>
		<comments>http://blog.44uk.net/2013/08/13/git-export-tools-for-sourcetre/#comments</comments>
		<pubDate>Tue, 13 Aug 2013 02:03:33 +0000</pubDate>
		<dc:creator><![CDATA[yukku0423]]></dc:creator>
				<category><![CDATA[開発ツール]]></category>
		<category><![CDATA[git]]></category>
		<category><![CDATA[ruby]]></category>
		<category><![CDATA[sourcetree]]></category>

		<guid isPermaLink="false">http://blog.44uk.net/?p=1747</guid>
		<description><![CDATA[<p>この前作ったスクリプト、</p>
<p>  SourceTree で指定のリビジョン間の差分ファイルだけ取り出したい</p>
<p>をより改良し、一般的に使うことができるものとして仕上げました。</p>
<p>このリポジトリをクローンしてください。<br />
といっても必要なのはスクリプトだけなので、アーカイブでもいいし、ファイルだけでもいいです。</p>
]]></description>
		<wfw:commentRss>http://blog.44uk.net/2013/08/13/git-export-tools-for-sourcetre/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>SourceTree で指定のリビジョン間の差分ファイルだけ取り出したい</title>
		<link>http://blog.44uk.net/2013/08/05/git-export-diff-script/</link>
		<comments>http://blog.44uk.net/2013/08/05/git-export-diff-script/#comments</comments>
		<pubDate>Mon, 05 Aug 2013 06:13:47 +0000</pubDate>
		<dc:creator><![CDATA[yukku0423]]></dc:creator>
				<category><![CDATA[開発ツール]]></category>
		<category><![CDATA[git]]></category>
		<category><![CDATA[ruby]]></category>
		<category><![CDATA[sourcetree]]></category>

		<guid isPermaLink="false">http://blog.44uk.net/?p=1695</guid>
		<description><![CDATA[<p>世の中には、差分のファイルだけ用意して上書きコピーなどという実にざんねんな運用で回っている非モダンな開発現場があるわけで…。</p>
<p>いや、もろもろの事情でそうせざる追えない、ということにしておきましょう。</p>
<p>とにかくとあるタスクで作業したファイルだけを取り出して、どこぞへ保存するということを求められることが多々あります。</p>
<p>せっかくgit を使っているのだし、その辺楽にしたいと思って試行錯誤してみました。</p>
]]></description>
		<wfw:commentRss>http://blog.44uk.net/2013/08/05/git-export-diff-script/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
