<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>yukku++ &#187; fon</title>
	<atom:link href="/tag/fon/feed/" rel="self" type="application/rss+xml" />
	<link>http://wp.44uk.net</link>
	<description></description>
	<lastBuildDate>Sun, 13 Apr 2014 03:02:51 +0000</lastBuildDate>
	<language>ja</language>
		<sy:updatePeriod>hourly</sy:updatePeriod>
		<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=3.8.2</generator>
	<item>
		<title>FON 2405E 分解してみただけ</title>
		<link>http://blog.44uk.net/2010/09/12/fon-2405e-disassemble/</link>
		<comments>http://blog.44uk.net/2010/09/12/fon-2405e-disassemble/#comments</comments>
		<pubDate>Sun, 12 Sep 2010 06:28:30 +0000</pubDate>
		<dc:creator><![CDATA[yukku0423]]></dc:creator>
				<category><![CDATA[ハードウェア]]></category>
		<category><![CDATA[fon]]></category>

		<guid isPermaLink="false">http://blog.44uk.net/?p=25</guid>
		<description><![CDATA[<p>FON 2405E の分解写真。</p>
<p>基盤表側</p>
<p>基盤裏側</p>
<p>自分はせいぜい優秀な先人の情報を元にいじくること位しかできないが、今のところ改造情報が見当たらない。</p>
<p>一応何ヶ月かはFONとして運用して公衆無線LANに貢献しておく予定。</p>
<p>＊</p>
<p>  https://sites.google.com/site/hottunalabs/home/fonera-simpl-hacking</p>
<p>スーパーハカーが突破したらしいです。</p>
]]></description>
		<wfw:commentRss>http://blog.44uk.net/2010/09/12/fon-2405e-disassemble/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
