<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>yukku++ &#187; IPA</title>
	<atom:link href="/tag/ipa/feed/" rel="self" type="application/rss+xml" />
	<link>http://wp.44uk.net</link>
	<description></description>
	<lastBuildDate>Sun, 13 Apr 2014 03:02:51 +0000</lastBuildDate>
	<language>ja</language>
		<sy:updatePeriod>hourly</sy:updatePeriod>
		<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=3.8.2</generator>
	<item>
		<title>セキュリティスペシャリスト試験対策 安く済ませるための参考サイトとか</title>
		<link>http://blog.44uk.net/2013/10/25/pass-security-specialist-exam-cheaply/</link>
		<comments>http://blog.44uk.net/2013/10/25/pass-security-specialist-exam-cheaply/#comments</comments>
		<pubDate>Fri, 25 Oct 2013 01:57:25 +0000</pubDate>
		<dc:creator><![CDATA[yukku0423]]></dc:creator>
				<category><![CDATA[生活]]></category>
		<category><![CDATA[IPA]]></category>
		<category><![CDATA[資格]]></category>

		<guid isPermaLink="false">http://blog.44uk.net/?p=1767</guid>
		<description><![CDATA[<p>先日、セキュリティスペシャリストの試験を受けてきました。</p>
<p>実務で役に立つ業務に従事してないんですが、やはり基本的な知識を持ち合わせているのとそうでないのでは考えかたにも差は生まれるだろうし、プロとして知識はしっかりと身につけておきたいものです。</p>
<p>こんなトピックいまさらもいいところなので、備忘録的にだけ残しておきます。</p>
]]></description>
		<wfw:commentRss>http://blog.44uk.net/2013/10/25/pass-security-specialist-exam-cheaply/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
