<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>yukku++ &#187; RubyonRailsTutorial</title>
	<atom:link href="/tag/rubyonrailstutorial/feed/" rel="self" type="application/rss+xml" />
	<link>http://wp.44uk.net</link>
	<description></description>
	<lastBuildDate>Sun, 13 Apr 2014 03:02:51 +0000</lastBuildDate>
	<language>ja</language>
		<sy:updatePeriod>hourly</sy:updatePeriod>
		<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=3.8.2</generator>
	<item>
		<title>第2章 デモアプリケーション</title>
		<link>http://blog.44uk.net/2011/05/05/try-ror-tutorial-book-2-1/</link>
		<comments>http://blog.44uk.net/2011/05/05/try-ror-tutorial-book-2-1/#comments</comments>
		<pubDate>Thu, 05 May 2011 05:33:43 +0000</pubDate>
		<dc:creator><![CDATA[yukku0423]]></dc:creator>
				<category><![CDATA[プログラミング]]></category>
		<category><![CDATA[RubyonRailsTutorial]]></category>

		<guid isPermaLink="false">http://blog.44uk.net/?p=177</guid>
		<description><![CDATA[<p>http://ruby.railstutorial.org/chapters/a-demo-app#top</p>
<p>簡単なデモ用アプリケーションの作成をする章です。</p>
<p>scaffoldによるコード生成による高速なアプリケーション開発を行います。</p>
<p>RailsのRESTアーキテクチャの例となります。</p>
<p>デモアプリケーションはユーザーとそれに紐付く短い投稿(twitter風)を実装します。</p>
]]></description>
		<wfw:commentRss>http://blog.44uk.net/2011/05/05/try-ror-tutorial-book-2-1/feed/</wfw:commentRss>
		<slash:comments>1</slash:comments>
		</item>
		<item>
		<title>第1章 無からデプロイまで &#8211; 開発環境構築</title>
		<link>http://blog.44uk.net/2011/05/03/try-ror-tutorial-book-1-2/</link>
		<comments>http://blog.44uk.net/2011/05/03/try-ror-tutorial-book-1-2/#comments</comments>
		<pubDate>Tue, 03 May 2011 12:09:01 +0000</pubDate>
		<dc:creator><![CDATA[yukku0423]]></dc:creator>
				<category><![CDATA[プログラミング]]></category>
		<category><![CDATA[RubyonRailsTutorial]]></category>

		<guid isPermaLink="false">http://blog.44uk.net/?p=169</guid>
		<description><![CDATA[<p>http://ruby.railstutorial.org/ruby-on-rails-tutorial-book#sec:up_and_running</p>
<p>Railsの開発を行うにあたってエディタや動作環境を整える。<br />
エディタの選択<br />
IDEとテキストエディタ+コマンドラインの紹介をしているが、ここではテキストエディタ+コマンドラインによる開発で行う。</p>
<p>参考までに紹介されているIDEやエディタのリンクを張る。</p>
]]></description>
		<wfw:commentRss>http://blog.44uk.net/2011/05/03/try-ror-tutorial-book-1-2/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>第1章 無からデプロイまで &#8211; 導入</title>
		<link>http://blog.44uk.net/2011/03/13/try-ror-tutorial-book-1-1/</link>
		<comments>http://blog.44uk.net/2011/03/13/try-ror-tutorial-book-1-1/#comments</comments>
		<pubDate>Sun, 13 Mar 2011 02:44:57 +0000</pubDate>
		<dc:creator><![CDATA[yukku0423]]></dc:creator>
				<category><![CDATA[プログラミング]]></category>
		<category><![CDATA[RubyonRailsTutorial]]></category>

		<guid isPermaLink="false">http://blog.44uk.net/?p=59</guid>
		<description><![CDATA[<p>http://ruby.railstutorial.org/ruby-on-rails-tutorial-book#top</p>
<p>ざっと読んでポイントだけ簡単に訳しています。読み飛ばしても良いかと思いますが、興味があれば原文をお読みください。</p>
<p>この本は作例をベースにRailsの学習を進めていくスタイルとのことです。</p>
<p>「Webアプリを作るには何から学べば良いか」に始まり、最終目標としては開発からデプロイまでRailsアプリケーションが自作できることが目的です。</p>
]]></description>
		<wfw:commentRss>http://blog.44uk.net/2011/03/13/try-ror-tutorial-book-1-1/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>第0章 Ruby on Rails Tutorial Book に挑戦</title>
		<link>http://blog.44uk.net/2011/03/13/try-ruby-on-rails-tutorial-book-0/</link>
		<comments>http://blog.44uk.net/2011/03/13/try-ruby-on-rails-tutorial-book-0/#comments</comments>
		<pubDate>Sat, 12 Mar 2011 18:31:13 +0000</pubDate>
		<dc:creator><![CDATA[yukku0423]]></dc:creator>
				<category><![CDATA[プログラミング]]></category>
		<category><![CDATA[RubyonRailsTutorial]]></category>

		<guid isPermaLink="false">http://blog.44uk.net/?p=57</guid>
		<description><![CDATA[<p>http://ruby.railstutorial.org/ruby-on-rails-tutorial-book</p>
<p>意訳しながら進めて行く日記シリーズ。</p>
<p>バージョン2をまともに触らないうちに3がリリースされてしまった。</p>
<p>よさげなチュートリアルがあったのでキチンと取り組みたい所存。</p>
]]></description>
		<wfw:commentRss>http://blog.44uk.net/2011/03/13/try-ruby-on-rails-tutorial-book-0/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
