<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>yukku++ &#187; フォトレビュー</title>
	<atom:link href="/category/photoreview/feed/" rel="self" type="application/rss+xml" />
	<link>http://wp.44uk.net</link>
	<description></description>
	<lastBuildDate>Sun, 13 Apr 2014 03:02:51 +0000</lastBuildDate>
	<language>ja</language>
		<sy:updatePeriod>hourly</sy:updatePeriod>
		<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=3.8.2</generator>
	<item>
		<title>サイクリング用のボトル PODIUM BIG CHILL がすごく便利で使いやすかった</title>
		<link>http://blog.44uk.net/2013/07/06/good-item-camelbak-podium-big-chill/</link>
		<comments>http://blog.44uk.net/2013/07/06/good-item-camelbak-podium-big-chill/#comments</comments>
		<pubDate>Sat, 06 Jul 2013 06:13:31 +0000</pubDate>
		<dc:creator><![CDATA[yukku0423]]></dc:creator>
				<category><![CDATA[フォトレビュー]]></category>
		<category><![CDATA[自転車]]></category>
		<category><![CDATA[ボトル]]></category>

		<guid isPermaLink="false">http://blog.44uk.net/?p=1655</guid>
		<description><![CDATA[<p>たまにロードバイクでサイクリングをする程度だったのですが、最近友人と少し長めの距離をサイクリングするようになり、</p>
<p>いままではペットボトル飲料をそのままホルダーに突っ込んでいたのですが、微妙にサイズが合っていなかったり(そもそもホルダーは専用のボトルサイズなので)、キャップの開け閉めで発進が遅れたりと、走行の合間に補給することに億劫さすら感じていました。</p>
]]></description>
		<wfw:commentRss>http://blog.44uk.net/2013/07/06/good-item-camelbak-podium-big-chill/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>K-ON! MUSIC HISTORY&#8217;S BOX フォトレビュー</title>
		<link>http://blog.44uk.net/2013/03/19/k-on-music-historys-box-photo-review/</link>
		<comments>http://blog.44uk.net/2013/03/19/k-on-music-historys-box-photo-review/#comments</comments>
		<pubDate>Tue, 19 Mar 2013 14:50:15 +0000</pubDate>
		<dc:creator><![CDATA[yukku0423]]></dc:creator>
				<category><![CDATA[フォトレビュー]]></category>
		<category><![CDATA[k-on]]></category>

		<guid isPermaLink="false">http://blog.44uk.net/?p=1447</guid>
		<description><![CDATA[<p><a href="http://www.amazon.co.jp/K-ON-MUSIC-HISTORYS-VARIOUS-ARTISTS/dp/B00AR8RPPI%3FSubscriptionId%3DAKIAJU72GCNK2OGHPNKQ%26tag%3Dblog44uk-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3DB00AR8RPPI" title="K-ON! MUSIC HISTORY'S BOX" target="_blank"><br />
<img src="http://ecx.images-amazon.com/images/I/410QXq0nJ2L._SL160_.jpg" width="160" height="160" alt="K-ON! MUSIC HISTORY'S BOX"/><br />
K-ON! MUSIC HISTORY&#8217;S BOX<br />
</a></p>
<p>およそ250x250mm。</p>
<p>裏側。</p>
<p>蓋のウラもきちんと装飾されています。</p>
<p>カバーアート集と歌詞集+コメンタリー。中身は載せられませんがこんな表紙。</p>
]]></description>
		<wfw:commentRss>http://blog.44uk.net/2013/03/19/k-on-music-historys-box-photo-review/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>ｍacbook air 13inch mid 2012 とエレコム EF-FLAMB</title>
		<link>http://blog.44uk.net/2013/01/09/bought-macbook-air-on-with-screen-protector/</link>
		<comments>http://blog.44uk.net/2013/01/09/bought-macbook-air-on-with-screen-protector/#comments</comments>
		<pubDate>Wed, 09 Jan 2013 00:42:23 +0000</pubDate>
		<dc:creator><![CDATA[yukku0423]]></dc:creator>
				<category><![CDATA[フォトレビュー]]></category>
		<category><![CDATA[macbook]]></category>

		<guid isPermaLink="false">http://blog.44uk.net/?p=1341</guid>
		<description><![CDATA[<p>毎年 Apple の初売りで割引があるので、2世代古くなってしまった macbook air をリプレイスしようかと、新しいmacbook air 13インチを購入。</p>
<p>新製品というわけでも無し、目新しい記事ではありませんが誰かの参考になれば幸いです。</p>
<p>それまで画面の保護フィルムは利用していなかったが、いざ持ち運んで使っていると、ディスプレイにキーボードが画面に当たるのか、キーボードの形の跡がついていて、若干キズ？が入ってしまった。</p>
]]></description>
		<wfw:commentRss>http://blog.44uk.net/2013/01/09/bought-macbook-air-on-with-screen-protector/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>KRPW-L4-500W フォトレビュー</title>
		<link>http://blog.44uk.net/2012/12/26/krpw-l4-500w-photo-review/</link>
		<comments>http://blog.44uk.net/2012/12/26/krpw-l4-500w-photo-review/#comments</comments>
		<pubDate>Wed, 26 Dec 2012 07:46:53 +0000</pubDate>
		<dc:creator><![CDATA[yukku0423]]></dc:creator>
				<category><![CDATA[フォトレビュー]]></category>
		<category><![CDATA[パソコンパーツ]]></category>

		<guid isPermaLink="false">http://blog.44uk.net/?p=1321</guid>
		<description><![CDATA[<p><a href="http://www.amazon.co.jp/%E7%8E%84%E4%BA%BA%E5%BF%97%E5%90%91-ATX%E9%9B%BB%E6%BA%90-500W-KRPW-L4-500W-A/dp/B00B1AWABA%3FSubscriptionId%3DAKIAJU72GCNK2OGHPNKQ%26tag%3Dblog44uk-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3DB00B1AWABA" title="玄人志向 ATX電源 500W KRPW-L4-500W/A" target="_blank"><br />
<img src="http://ecx.images-amazon.com/images/I/51ayJqxjL%2BL._SL160_.jpg" width="160" height="110" alt="玄人志向 ATX電源 500W KRPW-L4-500W/A"/><br />
玄人志向 ATX電源 500W KRPW-L4-500W/A<br />
</a></p>
<p>&#160;</p>
]]></description>
		<wfw:commentRss>http://blog.44uk.net/2012/12/26/krpw-l4-500w-photo-review/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
