<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>yukku++ &#187; RoR3</title>
	<atom:link href="/tag/ror3/feed/" rel="self" type="application/rss+xml" />
	<link>http://wp.44uk.net</link>
	<description></description>
	<lastBuildDate>Sun, 13 Apr 2014 03:02:51 +0000</lastBuildDate>
	<language>ja</language>
		<sy:updatePeriod>hourly</sy:updatePeriod>
		<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=3.8.2</generator>
	<item>
		<title>ActiveRecord にてランダムなレコードが欲しい時</title>
		<link>http://blog.44uk.net/2012/12/22/random-record-by-activerecord/</link>
		<comments>http://blog.44uk.net/2012/12/22/random-record-by-activerecord/#comments</comments>
		<pubDate>Fri, 21 Dec 2012 15:25:39 +0000</pubDate>
		<dc:creator><![CDATA[yukku0423]]></dc:creator>
				<category><![CDATA[プログラミング]]></category>
		<category><![CDATA[ActiveRecord]]></category>
		<category><![CDATA[mongo]]></category>
		<category><![CDATA[RoR3]]></category>
		<category><![CDATA[sql]]></category>

		<guid isPermaLink="false">http://blog.44uk.net/?p=1041</guid>
		<description><![CDATA[<p>ほとんど Rails にどっぷり浸かっているので、データベース操作はもう ActiveRecord に頼りっきりの昨今ですが…。<br />
一件取得<br />
全レコードから一件、ランダムに欲しい時。<br />
Model.first( :offset =&#62; rand(Model.count) )<br />
0からレコード数未満の整数をランダムに作り、それで適当にオフセットする。</p>
<p>コレが一番コストも少ないし、無駄が無くていいのでコレ一択。</p>
]]></description>
		<wfw:commentRss>http://blog.44uk.net/2012/12/22/random-record-by-activerecord/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Rails で必要なフレームワークだけを読み込む</title>
		<link>http://blog.44uk.net/2012/09/15/rails-pick-from-frameworks/</link>
		<comments>http://blog.44uk.net/2012/09/15/rails-pick-from-frameworks/#comments</comments>
		<pubDate>Sat, 15 Sep 2012 07:37:00 +0000</pubDate>
		<dc:creator><![CDATA[yukku0423]]></dc:creator>
				<category><![CDATA[開発ツール]]></category>
		<category><![CDATA[RoR3]]></category>
		<category><![CDATA[ruby]]></category>

		<guid isPermaLink="false">http://blog.44uk.net/?p=1187</guid>
		<description><![CDATA[<p>rails はいくつかのコンポーネントに分割されていて、config/application.rb で読み込まれている。<br />
# Pick the frameworks you want:<br />
require &#8220;active_record/railtie&#8221;<br />
require &#8220;action_controller/railtie&#8221;<br />
require &#8220;action_mailer/railtie&#8221;<br />
require &#8220;active_resource/railtie&#8221;<br />
require &#8220;sprockets/railtie&#8221;<br />
require &#8220;rails/test_unit/railtie&#8221;<br />
ただし、デフォルトで新しいプロジェクトを生成すると、全てを読み込む記述になっている。</p>
]]></description>
		<wfw:commentRss>http://blog.44uk.net/2012/09/15/rails-pick-from-frameworks/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Rails rake db:seed のときにだけ Mass-Assignment をスキップしたい</title>
		<link>http://blog.44uk.net/2012/08/28/just-accessible-in-db-seed/</link>
		<comments>http://blog.44uk.net/2012/08/28/just-accessible-in-db-seed/#comments</comments>
		<pubDate>Mon, 27 Aug 2012 15:33:51 +0000</pubDate>
		<dc:creator><![CDATA[yukku0423]]></dc:creator>
				<category><![CDATA[開発ツール]]></category>
		<category><![CDATA[RoR3]]></category>
		<category><![CDATA[ruby]]></category>

		<guid isPermaLink="false">http://blog.44uk.net/?p=1171</guid>
		<description><![CDATA[<p>Mass-Assignment 防御のおかげで、デフォルトでは不用意にカラムを更新されないようになって、必要がなければ attr_accessible や attr_protected できちんと許可する属性を制御すべきです。</p>
<p>だがしかし、rake db:seed やテストコード中でまとめてハッシュを渡して new とか create したいじゃないですか。はたまた update_attributes なんかも。</p>
]]></description>
		<wfw:commentRss>http://blog.44uk.net/2012/08/28/just-accessible-in-db-seed/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Devise を導入して Facebook 認証との統合をやってみる</title>
		<link>http://blog.44uk.net/2012/01/21/devise-integrates-facebook/</link>
		<comments>http://blog.44uk.net/2012/01/21/devise-integrates-facebook/#comments</comments>
		<pubDate>Sat, 21 Jan 2012 13:44:47 +0000</pubDate>
		<dc:creator><![CDATA[yukku0423]]></dc:creator>
				<category><![CDATA[プログラミング]]></category>
		<category><![CDATA[devise]]></category>
		<category><![CDATA[facebook]]></category>
		<category><![CDATA[RoR3]]></category>

		<guid isPermaLink="false">http://blog.44uk.net/?p=954</guid>
		<description><![CDATA[<p>認証エンジン Devise を導入して、Facebook 認証との統合までをやってみます。</p>
<p>ほとんどは README に沿って、所々意訳を含めてお送りいたします。</p>
<p>  plataformatec/devise</p>
<p>Devise セットアップ<br />
トップページ用のコントローラーを作っておきます<br />
rails generate controller home index<br />
Devise をインストールします<br />
gem install devise<br />
手動でもセットアップできますが、必要なファイルを生成してくれるコマンドが用意されています。</p>
]]></description>
		<wfw:commentRss>http://blog.44uk.net/2012/01/21/devise-integrates-facebook/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
