<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>yukku++ &#187; rspec</title>
	<atom:link href="/tag/rspec/feed/" rel="self" type="application/rss+xml" />
	<link>http://wp.44uk.net</link>
	<description></description>
	<lastBuildDate>Sun, 13 Apr 2014 03:02:51 +0000</lastBuildDate>
	<language>ja</language>
		<sy:updatePeriod>hourly</sy:updatePeriod>
		<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=3.8.2</generator>
	<item>
		<title>Rails Rspec before(:all) の誤解</title>
		<link>http://blog.44uk.net/2012/08/10/rails-rspec-before-all/</link>
		<comments>http://blog.44uk.net/2012/08/10/rails-rspec-before-all/#comments</comments>
		<pubDate>Fri, 10 Aug 2012 02:16:00 +0000</pubDate>
		<dc:creator><![CDATA[yukku0423]]></dc:creator>
				<category><![CDATA[プログラミング]]></category>
		<category><![CDATA[rspec]]></category>

		<guid isPermaLink="false">http://blog.44uk.net/?p=1098</guid>
		<description><![CDATA[<p>  before/after を振舞で 1 度だけ実行したい</p>
<p>before(:all) は一度だけ実行されるとのことなので、特定のレコードに対しての it をやりたくて、とある describe のくくりの中だけで使う一件レコードを生成すれば十分だと思ったので、以下みたいな感じで書いていた。</p>
]]></description>
		<wfw:commentRss>http://blog.44uk.net/2012/08/10/rails-rspec-before-all/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Rails3 Rspec で(いい加減な)エンドツーエンドテストを書いてみる</title>
		<link>http://blog.44uk.net/2012/07/31/rails3-rspec-try-end2end-test/</link>
		<comments>http://blog.44uk.net/2012/07/31/rails3-rspec-try-end2end-test/#comments</comments>
		<pubDate>Tue, 31 Jul 2012 13:36:33 +0000</pubDate>
		<dc:creator><![CDATA[yukku0423]]></dc:creator>
				<category><![CDATA[プログラミング]]></category>
		<category><![CDATA[rspec]]></category>

		<guid isPermaLink="false">http://blog.44uk.net/?p=1086</guid>
		<description><![CDATA[<p>次に画面をまたいだ動作テストを行います。</p>
<p>ブラウザの挙動をシミュレートして、表示される画面やボタン操作などをテストできます。<br />
Capybara の導入<br />
Gemfile へ capybara を追記／インストールします。<br />
gem &#8216;capybara&#8217;<br />
bundle update<br />
インストールが完了したら、spec_helper.rb の中で require します。</p>
]]></description>
		<wfw:commentRss>http://blog.44uk.net/2012/07/31/rails3-rspec-try-end2end-test/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Rails3 Rspec で(いい加減な)ユニットテストを書いてみる</title>
		<link>http://blog.44uk.net/2012/07/31/rails3-rspec-try-unit-test/</link>
		<comments>http://blog.44uk.net/2012/07/31/rails3-rspec-try-unit-test/#comments</comments>
		<pubDate>Tue, 31 Jul 2012 13:36:03 +0000</pubDate>
		<dc:creator><![CDATA[yukku0423]]></dc:creator>
				<category><![CDATA[プログラミング]]></category>
		<category><![CDATA[rspec]]></category>

		<guid isPermaLink="false">http://blog.44uk.net/?p=1082</guid>
		<description><![CDATA[<p>まじめにrailsにおけるBDDをやろうと、簡単なアプリを使って、BDD開発してみようかと思います。</p>
<p>Rspec をより便利に／テストしやすくするツールは山ほどあるのですが(guard-spec とか fabrication とか spork とか)、一度にいろいろやろうとするとややこしいので最低限の書き方だけを押さえます。</p>
<p>WEB+DB PRESS vol.61 Rails3テスト最前線 を参考(というかほとんど習って)にしています。</p>
]]></description>
		<wfw:commentRss>http://blog.44uk.net/2012/07/31/rails3-rspec-try-unit-test/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
