<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>yukku++ &#187; png</title>
	<atom:link href="/tag/png/feed/" rel="self" type="application/rss+xml" />
	<link>http://wp.44uk.net</link>
	<description></description>
	<lastBuildDate>Sun, 13 Apr 2014 03:02:51 +0000</lastBuildDate>
	<language>ja</language>
		<sy:updatePeriod>hourly</sy:updatePeriod>
		<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=3.8.2</generator>
	<item>
		<title>png 画像をコマンド一発で最適化する OptiPNG</title>
		<link>http://blog.44uk.net/2011/09/30/png-optimize-by-optipng/</link>
		<comments>http://blog.44uk.net/2011/09/30/png-optimize-by-optipng/#comments</comments>
		<pubDate>Thu, 29 Sep 2011 15:16:31 +0000</pubDate>
		<dc:creator><![CDATA[yukku0423]]></dc:creator>
				<category><![CDATA[ソフトウェア]]></category>
		<category><![CDATA[png]]></category>

		<guid isPermaLink="false">http://blog.44uk.net/?p=538</guid>
		<description><![CDATA[<p>PNG 画像の最適化に、windows では AzConvPNG を使っていたが、mac でコマンドラインで使えるやつは無いだろうかと探してみたら、いい感じのがあった。</p>
<p>PNG 画像は編集ソフトでいじると、余計な色情報やメタ情報で画像のわりにサイズが大きくなったりする。</p>
<p>いろんなパラメータで最適化を行い、一番サイズが小さくなった状態にしてくれるので、Web 素材やアプリ素材なんかで1 byteでも軽くしたい場合には重宝する。</p>
]]></description>
		<wfw:commentRss>http://blog.44uk.net/2011/09/30/png-optimize-by-optipng/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
