<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>yukku++ &#187; heroku</title>
	<atom:link href="/tag/heroku/feed/" rel="self" type="application/rss+xml" />
	<link>http://wp.44uk.net</link>
	<description></description>
	<lastBuildDate>Sun, 13 Apr 2014 03:02:51 +0000</lastBuildDate>
	<language>ja</language>
		<sy:updatePeriod>hourly</sy:updatePeriod>
		<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=3.8.2</generator>
	<item>
		<title>mina で heroku open っぽいことをしたい</title>
		<link>http://blog.44uk.net/2013/01/23/mina-like-heroku-open/</link>
		<comments>http://blog.44uk.net/2013/01/23/mina-like-heroku-open/#comments</comments>
		<pubDate>Wed, 23 Jan 2013 01:05:30 +0000</pubDate>
		<dc:creator><![CDATA[yukku0423]]></dc:creator>
				<category><![CDATA[開発ツール]]></category>
		<category><![CDATA[heroku]]></category>
		<category><![CDATA[mina]]></category>

		<guid isPermaLink="false">http://blog.44uk.net/?p=1366</guid>
		<description><![CDATA[<p>タイトルの通り。heroku を使ってないのですが、触ってみた時に git push でデプロイし、 heroku open で開いてたのがなかなか良かったので、同じようなことをしたくなりました。<br />
実装<br />
desc &#8216;Open browser.&#8217;<br />
task :open do<br />
 system &#8216;open http://some_rails_app.dev&#8217; # maybe mac only<br />
end<br />
と deploy.rb 書いて、mina open で既定のブラウザでオープンします。</p>
]]></description>
		<wfw:commentRss>http://blog.44uk.net/2013/01/23/mina-like-heroku-open/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Heroku に redmine 1.3 を設置して、トライアル感覚で動かす</title>
		<link>http://blog.44uk.net/2012/01/14/redmine13-on-heroku/</link>
		<comments>http://blog.44uk.net/2012/01/14/redmine13-on-heroku/#comments</comments>
		<pubDate>Sat, 14 Jan 2012 13:27:00 +0000</pubDate>
		<dc:creator><![CDATA[yukku0423]]></dc:creator>
				<category><![CDATA[プログラミング]]></category>
		<category><![CDATA[BTS]]></category>
		<category><![CDATA[heroku]]></category>
		<category><![CDATA[redmine]]></category>

		<guid isPermaLink="false">http://blog.44uk.net/?p=939</guid>
		<description><![CDATA[<p>Rails アプリケーションのホスティングサービス Heroku に Redmine を設置する。</p>
<p>無料プランでは 5MB の Postgresql しか使えないが、試験運用や少人数で使う分にはお手軽でよさそう。</p>
<p>トライアル感覚で使ってみよう。</p>
<p>＊ Heroku の仕様変更などで記事通りでは一部対応できなくなる可能性があります。</p>
]]></description>
		<wfw:commentRss>http://blog.44uk.net/2012/01/14/redmine13-on-heroku/feed/</wfw:commentRss>
		<slash:comments>2</slash:comments>
		</item>
	</channel>
</rss>
