<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>yukku++ &#187; phpunit</title>
	<atom:link href="/tag/phpunit/feed/" rel="self" type="application/rss+xml" />
	<link>http://wp.44uk.net</link>
	<description></description>
	<lastBuildDate>Sun, 13 Apr 2014 03:02:51 +0000</lastBuildDate>
	<language>ja</language>
		<sy:updatePeriod>hourly</sy:updatePeriod>
		<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=3.8.2</generator>
	<item>
		<title>CI2 sparks と CIUnit でつまずいた、が解決した</title>
		<link>http://blog.44uk.net/2011/08/07/ci2-trouble-with-sparks-and-ciunit/</link>
		<comments>http://blog.44uk.net/2011/08/07/ci2-trouble-with-sparks-and-ciunit/#comments</comments>
		<pubDate>Sun, 07 Aug 2011 10:53:41 +0000</pubDate>
		<dc:creator><![CDATA[yukku0423]]></dc:creator>
				<category><![CDATA[プログラミング]]></category>
		<category><![CDATA[phpunit]]></category>
		<category><![CDATA[テスト]]></category>

		<guid isPermaLink="false">http://blog.44uk.net/?p=410</guid>
		<description><![CDATA[<p>sparks をガシガシ使っていこうかと＋テスト駆動開発の取り組みということで、いろいろ弄くっていたわけで、CIUnit for 2.x でテストがパスするまで のような記事を書いた訳ですが、後にこちらの kenjis / my-ciunit CI2対応CIUnit を使用したが、記事執筆時点で sparks に未対応だった。</p>
]]></description>
		<wfw:commentRss>http://blog.44uk.net/2011/08/07/ci2-trouble-with-sparks-and-ciunit/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>CIUnit for 2.x でテストがパスするまで</title>
		<link>http://blog.44uk.net/2011/07/28/ci2-to-run-test-with-ciunit/</link>
		<comments>http://blog.44uk.net/2011/07/28/ci2-to-run-test-with-ciunit/#comments</comments>
		<pubDate>Wed, 27 Jul 2011 16:33:19 +0000</pubDate>
		<dc:creator><![CDATA[yukku0423]]></dc:creator>
				<category><![CDATA[プログラミング]]></category>
		<category><![CDATA[phpunit]]></category>
		<category><![CDATA[テスト]]></category>

		<guid isPermaLink="false">http://blog.44uk.net/?p=343</guid>
		<description><![CDATA[<p>いまさらながらTDDにも挑戦してみたい所存、ということでCIプロジェクトでのテストに付いて調べ回った。</p>
<p>CIにはビルドインでテストクラスがあるものの、あまり情報が無いのと、テストケースを実装ファイルに書いていく？ようなので、ちょっと手が出しにくい。</p>
<p>すると PHPUnit を持ちいる方法があり、テストケースを tests ディレクトリにまとめることが出来るとのこと。</p>
]]></description>
		<wfw:commentRss>http://blog.44uk.net/2011/07/28/ci2-to-run-test-with-ciunit/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
