<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>yukku++ へのコメント</title>
	<atom:link href="/comments/feed/" rel="self" type="application/rss+xml" />
	<link>http://wp.44uk.net</link>
	<description></description>
	<lastBuildDate>Sun, 13 May 2012 01:13:58 +0000</lastBuildDate>
		<sy:updatePeriod>hourly</sy:updatePeriod>
		<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=3.8.2</generator>
	<item>
		<title>佐野　洋子 より brother MyMio DCP-J715N にダイソーの詰め替えインクつかっちゃった へのコメント</title>
		<link>http://blog.44uk.net/2011/11/06/brother-mymio-dcp-j715n-alt-ink/#comment-10</link>
		<dc:creator><![CDATA[佐野　洋子]]></dc:creator>
		<pubDate>Sun, 13 May 2012 01:13:58 +0000</pubDate>
		<guid isPermaLink="false">http://blog.44uk.net/?p=739#comment-10</guid>
		<description><![CDATA[一年前位から、ダイソ－ショップデ売って居たのを見つけて求め説明に従って注入し、使って居ます。殆どが印字打ちなので、色あせや変色を心配して居ません。今のところ、全く問題なしです。その上、最近は同じくダイソ－でボトル内容量が５ﾐﾘﾘｯﾄﾙ増量して居り、又リセッタ－も売って居るので、グッドです。感謝]]></description>
		<content:encoded><![CDATA[<p>一年前位から、ダイソ－ショップデ売って居たのを見つけて求め説明に従って注入し、使って居ます。殆どが印字打ちなので、色あせや変色を心配して居ません。今のところ、全く問題なしです。その上、最近は同じくダイソ－でボトル内容量が５ﾐﾘﾘｯﾄﾙ増量して居り、又リセッタ－も売って居るので、グッドです。感謝</p>
]]></content:encoded>
	</item>
	<item>
		<title>yukku0423 より Heroku に redmine 1.3 を設置して、トライアル感覚で動かす へのコメント</title>
		<link>http://blog.44uk.net/2012/01/14/redmine13-on-heroku/#comment-12</link>
		<dc:creator><![CDATA[yukku0423]]></dc:creator>
		<pubDate>Sun, 01 Apr 2012 14:35:30 +0000</pubDate>
		<guid isPermaLink="false">http://blog.44uk.net/?p=939#comment-12</guid>
		<description><![CDATA[heroku マニュアルを参照すると確かにそうですね。
コレで動いたのかどうかちょっと忘れてしまいましたが誤植のようです。
ありがとうございました。]]></description>
		<content:encoded><![CDATA[<p>heroku マニュアルを参照すると確かにそうですね。<br />
コレで動いたのかどうかちょっと忘れてしまいましたが誤植のようです。<br />
ありがとうございました。</p>
]]></content:encoded>
	</item>
	<item>
		<title>cybaron (@cybaron) より Heroku に redmine 1.3 を設置して、トライアル感覚で動かす へのコメント</title>
		<link>http://blog.44uk.net/2012/01/14/redmine13-on-heroku/#comment-11</link>
		<dc:creator><![CDATA[cybaron (@cybaron)]]></dc:creator>
		<pubDate>Tue, 27 Mar 2012 11:51:10 +0000</pubDate>
		<guid isPermaLink="false">http://blog.44uk.net/?p=939#comment-11</guid>
		<description><![CDATA[.gems でバージョン指定の引数が、 --v になってますが、-v or --version ではないでしょうか？]]></description>
		<content:encoded><![CDATA[<p>.gems でバージョン指定の引数が、 &#8211;v になってますが、-v or &#8211;version ではないでしょうか？</p>
]]></content:encoded>
	</item>
	<item>
		<title>yukku0423 より Community Engine on Rails3 を使ってみようとする へのコメント</title>
		<link>http://blog.44uk.net/2011/10/28/setup-community-engine-on-rails3/#comment-9</link>
		<dc:creator><![CDATA[yukku0423]]></dc:creator>
		<pubDate>Wed, 28 Dec 2011 09:26:55 +0000</pubDate>
		<guid isPermaLink="false">http://blog.44uk.net/?p=673#comment-9</guid>
		<description><![CDATA[解決できたようで何よりです。
まだベータ版ですから結構ドラスティックに更新されるので、記事どおりには行かなくなってくるでしょう。
バージョン2を使っていたわけではないですが、非常に出来がよいのでかなり期待しています。
日本語の情報があまり見当たらないので少しづつでも何か記事をアップしていきたいと思います]]></description>
		<content:encoded><![CDATA[<p>解決できたようで何よりです。<br />
まだベータ版ですから結構ドラスティックに更新されるので、記事どおりには行かなくなってくるでしょう。<br />
バージョン2を使っていたわけではないですが、非常に出来がよいのでかなり期待しています。<br />
日本語の情報があまり見当たらないので少しづつでも何か記事をアップしていきたいと思います</p>
]]></content:encoded>
	</item>
	<item>
		<title>西崎 より Community Engine on Rails3 を使ってみようとする へのコメント</title>
		<link>http://blog.44uk.net/2011/10/28/setup-community-engine-on-rails3/#comment-8</link>
		<dc:creator><![CDATA[西崎]]></dc:creator>
		<pubDate>Mon, 26 Dec 2011 09:45:03 +0000</pubDate>
		<guid isPermaLink="false">http://blog.44uk.net/?p=673#comment-8</guid>
		<description><![CDATA[自己解決しました。
https://github.com/bborn/communityengine/issues/37
のようにGemfileを書き換えて最新版を使ったらうまく行きました。
お騒がせしました！]]></description>
		<content:encoded><![CDATA[<p>自己解決しました。<br />
<a href="https://github.com/bborn/communityengine/issues/37" rel="nofollow">https://github.com/bborn/communityengine/issues/37</a><br />
のようにGemfileを書き換えて最新版を使ったらうまく行きました。<br />
お騒がせしました！</p>
]]></content:encoded>
	</item>
	<item>
		<title>西崎 より Community Engine on Rails3 を使ってみようとする へのコメント</title>
		<link>http://blog.44uk.net/2011/10/28/setup-community-engine-on-rails3/#comment-7</link>
		<dc:creator><![CDATA[西崎]]></dc:creator>
		<pubDate>Mon, 26 Dec 2011 08:37:01 +0000</pubDate>
		<guid isPermaLink="false">http://blog.44uk.net/?p=673#comment-7</guid>
		<description><![CDATA[こんにちは。
私もcommunity engineを現在インストールしているのですが、
bin/rake community_engine:install:migrations
のところで

uninitialized constant Tag
とでてrake aborted!してしまってハマっております。

もし何かわかりそうでしたら教えて頂けるとうれしいです！
ご迷惑でしたらスルーしてください！]]></description>
		<content:encoded><![CDATA[<p>こんにちは。<br />
私もcommunity engineを現在インストールしているのですが、<br />
bin/rake community_engine:install:migrations<br />
のところで</p>
<p>uninitialized constant Tag<br />
とでてrake aborted!してしまってハマっております。</p>
<p>もし何かわかりそうでしたら教えて頂けるとうれしいです！<br />
ご迷惑でしたらスルーしてください！</p>
]]></content:encoded>
	</item>
	<item>
		<title>cybaron より 第2章 デモアプリケーション へのコメント</title>
		<link>http://blog.44uk.net/2011/05/05/try-ror-tutorial-book-2-1/#comment-2</link>
		<dc:creator><![CDATA[cybaron]]></dc:creator>
		<pubDate>Sat, 03 Sep 2011 09:52:38 +0000</pubDate>
		<guid isPermaLink="false">http://blog.44uk.net/?p=177#comment-2</guid>
		<description><![CDATA[micropostの140文字Validateの部分typoになってます。

validattes → validates]]></description>
		<content:encoded><![CDATA[<p>micropostの140文字Validateの部分typoになってます。</p>
<p>validattes → validates</p>
]]></content:encoded>
	</item>
	<item>
		<title>yukku0423 より CI2 template パッケージ導入 へのコメント</title>
		<link>http://blog.44uk.net/2011/07/31/ci2-install-template/#comment-6</link>
		<dc:creator><![CDATA[yukku0423]]></dc:creator>
		<pubDate>Sun, 21 Aug 2011 14:25:14 +0000</pubDate>
		<guid isPermaLink="false">http://blog.44uk.net/?p=370#comment-6</guid>
		<description><![CDATA[2.0.3 のソースを見たところ、 get_var() メソッドが実装されていました。動作するようですね。
執筆時点で Reactor版最新 を使っていたときに無かったので、My_Loaderに追記したのが経緯です。
おそらくSparks経由でも動くでしょう。]]></description>
		<content:encoded><![CDATA[<p>2.0.3 のソースを見たところ、 get_var() メソッドが実装されていました。動作するようですね。<br />
執筆時点で Reactor版最新 を使っていたときに無かったので、My_Loaderに追記したのが経緯です。<br />
おそらくSparks経由でも動くでしょう。</p>
]]></content:encoded>
	</item>
</channel>
</rss>
