<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>yukku++ &#187; メモ</title>
	<atom:link href="/category/memo/feed/" rel="self" type="application/rss+xml" />
	<link>http://wp.44uk.net</link>
	<description></description>
	<lastBuildDate>Sun, 13 Apr 2014 03:02:51 +0000</lastBuildDate>
	<language>ja</language>
		<sy:updatePeriod>hourly</sy:updatePeriod>
		<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=3.8.2</generator>
	<item>
		<title>github shop でグッズを買ってみた ( google checkoutで )</title>
		<link>http://blog.44uk.net/2011/10/13/github-shop-pay-by-google-checkout/</link>
		<comments>http://blog.44uk.net/2011/10/13/github-shop-pay-by-google-checkout/#comments</comments>
		<pubDate>Thu, 13 Oct 2011 03:59:18 +0000</pubDate>
		<dc:creator><![CDATA[yukku0423]]></dc:creator>
				<category><![CDATA[メモ]]></category>
		<category><![CDATA[github]]></category>

		<guid isPermaLink="false">http://blog.44uk.net/?p=650</guid>
		<description><![CDATA[<p>なんとなく Web を徘徊していたら、github shop なんてのがあるんだー、と発見し、オクタキャットマグカップとかあるんだな。定番だな、とぼんやり見ていたら、Octocat Onesie (赤ちゃん用の服っていうの？) というのが目に付いた。</p>
<p>ちょうど、一緒に仕事をしていた人たち3人に子供が産まれたとのことだったので、ウィットの利いたギフトにちょうどいいとおもって購入してみた。</p>
]]></description>
		<wfw:commentRss>http://blog.44uk.net/2011/10/13/github-shop-pay-by-google-checkout/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
