<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>yukku++ &#187; ソフトウェア</title>
	<atom:link href="/category/software/feed/" rel="self" type="application/rss+xml" />
	<link>http://wp.44uk.net</link>
	<description></description>
	<lastBuildDate>Sun, 13 Apr 2014 03:02:51 +0000</lastBuildDate>
	<language>ja</language>
		<sy:updatePeriod>hourly</sy:updatePeriod>
		<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=3.8.2</generator>
	<item>
		<title>intelliJ で sass を編集すると LiveEdit で動的に反映されるように</title>
		<link>http://blog.44uk.net/2013/05/25/intellij-sass-and-liveedit/</link>
		<comments>http://blog.44uk.net/2013/05/25/intellij-sass-and-liveedit/#comments</comments>
		<pubDate>Sat, 25 May 2013 03:55:21 +0000</pubDate>
		<dc:creator><![CDATA[yukku0423]]></dc:creator>
				<category><![CDATA[ソフトウェア]]></category>
		<category><![CDATA[css]]></category>
		<category><![CDATA[html]]></category>
		<category><![CDATA[intellij]]></category>
		<category><![CDATA[sass]]></category>
		<category><![CDATA[slim]]></category>

		<guid isPermaLink="false">http://blog.44uk.net/?p=1618</guid>
		<description><![CDATA[<p>ついに intelliJ を購入し、早速持て余しているのですが、HTML + CSS + JS のお仕事がありそうなので(じゃあWebStormでいいじゃんというのは言わないで)少し環境を整えてみました。</p>
<p>使っているのは最高級のIntelliJですが、WebStorm などでもできると思います。<br />
LiveEdit<br />
編集した HTML を動的にブラウザで表示してくれるプラグインです。</p>
]]></description>
		<wfw:commentRss>http://blog.44uk.net/2013/05/25/intellij-sass-and-liveedit/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>JPEG 画像を無劣化で容量を減らす jhead, jpegoptim</title>
		<link>http://blog.44uk.net/2012/10/07/squeeze-jpeg-size/</link>
		<comments>http://blog.44uk.net/2012/10/07/squeeze-jpeg-size/#comments</comments>
		<pubDate>Sun, 07 Oct 2012 11:19:48 +0000</pubDate>
		<dc:creator><![CDATA[yukku0423]]></dc:creator>
				<category><![CDATA[ソフトウェア]]></category>
		<category><![CDATA[exif]]></category>
		<category><![CDATA[jpg]]></category>

		<guid isPermaLink="false">http://blog.44uk.net/?p=1201</guid>
		<description><![CDATA[<p>JPEG 画像は画像編集ソフトで編集したり、カメラに寄っては exif 情報を持たせたりしていて、それはそれで便利だったりするのだけど、必要がないなら削除して 1byte でも節約しておきたい所です。</p>
<p>特に web 素材なら少しでも小さいサイズにしておきたい。</p>
<p>Windows では JPG Cleaner をつかってまとめて掃除していましたが、mac で使うのにコマンドラインツールは無いかと探したところ、jhead と jpegoptimというソフトが見つかりました。</p>
]]></description>
		<wfw:commentRss>http://blog.44uk.net/2012/10/07/squeeze-jpeg-size/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>png 画像をコマンド一発で最適化する OptiPNG</title>
		<link>http://blog.44uk.net/2011/09/30/png-optimize-by-optipng/</link>
		<comments>http://blog.44uk.net/2011/09/30/png-optimize-by-optipng/#comments</comments>
		<pubDate>Thu, 29 Sep 2011 15:16:31 +0000</pubDate>
		<dc:creator><![CDATA[yukku0423]]></dc:creator>
				<category><![CDATA[ソフトウェア]]></category>
		<category><![CDATA[png]]></category>

		<guid isPermaLink="false">http://blog.44uk.net/?p=538</guid>
		<description><![CDATA[<p>PNG 画像の最適化に、windows では AzConvPNG を使っていたが、mac でコマンドラインで使えるやつは無いだろうかと探してみたら、いい感じのがあった。</p>
<p>PNG 画像は編集ソフトでいじると、余計な色情報やメタ情報で画像のわりにサイズが大きくなったりする。</p>
<p>いろんなパラメータで最適化を行い、一番サイズが小さくなった状態にしてくれるので、Web 素材やアプリ素材なんかで1 byteでも軽くしたい場合には重宝する。</p>
]]></description>
		<wfw:commentRss>http://blog.44uk.net/2011/09/30/png-optimize-by-optipng/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Firefox4 for Mac でプロファイルマネージャを出す</title>
		<link>http://blog.44uk.net/2011/06/20/firefox4-for-mac-profile-manager/</link>
		<comments>http://blog.44uk.net/2011/06/20/firefox4-for-mac-profile-manager/#comments</comments>
		<pubDate>Mon, 20 Jun 2011 05:31:13 +0000</pubDate>
		<dc:creator><![CDATA[yukku0423]]></dc:creator>
				<category><![CDATA[ソフトウェア]]></category>
		<category><![CDATA[Firefox]]></category>

		<guid isPermaLink="false">http://blog.44uk.net/?p=259</guid>
		<description><![CDATA[<p>Windows版では確か -p スイッチでウィンドウが上がったと思ったが、Mac版で同じようにやってもウンともスンとも。</p>
<p>結論はこうでした。省略形の -P もありました。<br />
/Applications/Firefox.app/Contents/MacOS/firefox-bin -ProfileManager<br />
Leopardではアーキテクチャの指定オプションが必要でした。</p>
]]></description>
		<wfw:commentRss>http://blog.44uk.net/2011/06/20/firefox4-for-mac-profile-manager/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
